In [4]:
'''
a=7
b=10
print(a+b)
'''

'\na=7\nb=10\nprint(a+b)\n'

In [5]:
#datatypes
a=10#int
name="apple"#string
pi=3.14#float
b=True#bool

In [9]:
print(b)

True

In [22]:
print("hello world")

hello world

In [19]:
type(str(a))

str

In [28]:
#hello apple
#hello 10

#method 1
print("hello "+name)
print("hello "+str(a))

print("---------------------------------")
#method 2
print("hello",name)
print("hello",a)

print("---------------------------------")
#method 3
print("hello %s"%name)
print("hello %d"%a)

print("---------------------------------")
#method 4
print("hello {}".format(name))
print("hello {}".format(a))

hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10

In [ ]:
+ - * / % 
and or not
> < >= <= == !=

In [33]:
n='4'
ans=int(n*3)+int(n*2)+int(n)
print(ans)

492

In [36]:
n=4
ans=int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

492

In [53]:
num=int(input("Enter the value for num :"))
if num%4==0:
    print("Divisible by 4 and also even")
elif num%2==0:
    print('even')
else:
    print('odd')

Enter the value for num :5
odd

In [45]:
type(num)

int

In [ ]:
The area of the circle with radius 5 cm is 80 sq.cm

#### Play rock paper scissors lizard spock

Scissors cuts paper.<br>
Paper covers rock.<br>
Rock crushes lizard.<br>
Lizard poisons Spock.<br>
Spock smashes scissors.<br>
Scissors decapitates lizard.<br>
Lizard eats paper.<br> 
Paper disproves Spock.<br> 
Spock vaporizes rock.<br> 
Rock crushes scissors.<br>

In [59]:
cnt=0
while True:
    num=int(input("Enter the value for num :"))
    if num==15:
        print("Goodbye...")
        break
    elif num==25:
        print("skipping...")
        continue
    elif num==10:
        cnt+=1
        pass
    if num%4==0:
        print("Divisible by 4 and also even")
    elif num%2==0:
        print('even')
    else:
        print('odd')

print("Count :",cnt)

Enter the value for num :78
even
Enter the value for num :96
Divisible by 4 and also even
Enter the value for num :10
even
Enter the value for num :25
skipping...
Enter the value for num :10
even
Enter the value for num :20
Divisible by 4 and also even
Enter the value for num :12
Divisible by 4 and also even
Enter the value for num :10
even
Enter the value for num :15
Goodbye...
Count : 3

In [ ]:
https://github.com/sharmasaravanan/Agilisium_python
    
https://github.com/sharmasaravanan/Machine_learning

In [1]:
string function
list
tuple
for loop

SyntaxError: invalid syntax (<ipython-input-1-9d3173759007>, line 1)

In [30]:
name=" elEpHaNT "

In [10]:
name[2:6:2]

'EH'

In [13]:
name[::-1]

'TNaHpEle'

In [14]:
name

'elEpHaNT'

In [33]:
name.capitalize()
name.casefold()
name.lower()
name.upper()
name.lower().count('e')
name.endswith(".txt")
name.startswith("El")
name.find("E")
name.index("E")
name.isalnum()
name.replace("E",'z')
name.rstrip()
name.lstrip()
name.strip()

'elEpHaNT'

In [34]:
sent="apple is a fruit"

In [40]:
sent_split=sent.split()

In [41]:
sent_split

['apple', 'is', 'a', 'fruit']

In [44]:
' '.join(sent_split)

'apple is a fruit'

1. palindrome 
2. "Elephant is an animal ."  -> ". animal an is Elephant"

In [ ]:
name==name[::-1]
print(' '.join(name.split()[::-1]))

In [46]:
import random as r
comp = r.randint(0,100)

In [139]:
r.randint(100,999)

597

In [51]:
L=[]
L=list()

In [52]:
L

[]

In [53]:
l=['a','b','c','apple','ball',"cat",1,2,3]

In [54]:
l

['a', 'b', 'c', 'apple', 'ball', 'cat', 1, 2, 3]

In [55]:
l[2:6]

['c', 'apple', 'ball', 'cat']

In [56]:
len(l)

9

In [60]:
l.index("ball")

4

In [62]:
l[4]="bat"

In [63]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2, 3]

In [65]:
del l[8]

In [66]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2]

In [67]:
l.append(4)

In [69]:
l.insert(5,"dog")

In [70]:
l

['a', 'b', 'c', 'apple', 'bat', 'dog', 'cat', 1, 2, 4]

In [71]:
l.pop()

4

In [73]:
l.remove("dog")

In [74]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2]

In [76]:
L.append("apple")

In [78]:
L.clear()

In [79]:
L

[]

In [80]:
l.count('a')

1

In [81]:
l[::-1]

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a']

In [82]:
l

['a', 'b', 'c', 'apple', 'bat', 'cat', 1, 2]

In [84]:
l.reverse()

In [85]:
l

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a']

In [86]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [87]:
l

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a']

In [88]:
l1=["apple","mango","pineapple"]

In [89]:
l+l1

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a', 'apple', 'mango', 'pineapple']

In [90]:
l.extend(l1)

In [91]:
l

[2, 1, 'cat', 'bat', 'apple', 'c', 'b', 'a', 'apple', 'mango', 'pineapple']

In [92]:
t=("apple","mango","pineapple")

In [93]:
t

('apple', 'mango', 'pineapple')

In [94]:
l1

['apple', 'mango', 'pineapple']

In [95]:
t[1:]

('mango', 'pineapple')

In [96]:
del t[1]

TypeError: 'tuple' object doesn't support item deletion

In [97]:
t[1]="papaya"

TypeError: 'tuple' object does not support item assignment

In [102]:
for n in range(len(name)):
    #print("hi")
    print(n)

0
1
2
3
4
5
6
7
8
9

In [110]:
for idx,element in enumerate(t[1:]):
    print(idx,element,sep="\t")

0	mango
1	pineapple

In [108]:
t

('apple', 'mango', 'pineapple')

In [109]:
if "apple" in t:
    print(t)
else:
    print("NA")

('apple', 'mango', 'pineapple')

In [111]:
d=dict()

In [115]:
d={'a':"apple","b":["ball","bat"],3:"cat",'c':6,3:"dog"}

In [116]:
d

{'a': 'apple', 'b': ['ball', 'bat'], 3: 'dog', 'c': 6}

In [117]:
d['a']

'apple'

In [118]:
d['b']

['ball', 'bat']

In [119]:
d["e"]="elephant"

In [120]:
d

{'a': 'apple', 'b': ['ball', 'bat'], 3: 'dog', 'c': 6, 'e': 'elephant'}

In [121]:
d.items()

dict_items([('a', 'apple'), ('b', ['ball', 'bat']), (3, 'dog'), ('c', 6), ('e', 'elephant')])

In [122]:
d.keys()

dict_keys(['a', 'b', 3, 'c', 'e'])

In [123]:
d.values()

dict_values(['apple', ['ball', 'bat'], 'dog', 6, 'elephant'])

In [126]:
for k,v in d.items():
    print(k,v,sep="\t")

a	apple
b	['ball', 'bat']
3	dog
c	6
e	elephant

1. Take two numerical list of different length, print all the common numbers without duplicates.
2. Take a numerical list and create a new list with the elements less than 9 from list1.
3. bday database with two option add and display

In [127]:
a=[1,2,3,4,1,1,2,3,4,5,6,8,9,5,3]
b=[1,1,2,3,4,4,5,6,7,7]

In [128]:
for i in a:
    for j in b:
        if i==j:
            print(i)

1
1
2
3
4
4
1
1
1
1
2
3
4
4
5
6
5
3

In [136]:
c=[]
for i in a:
    if i <9:
            c.append(i)
print(c)

[1, 2, 3, 4, 1, 1, 2, 3, 4, 5, 6, 8, 5, 3]

In [130]:
for i in range(len(a)):
    for j in range(len(b)):
        if a[i]==b[j]:
            print(a[i])

1
1
2
3
4
4
1
1
1
1
2
3
4
4
5
6
5
3

In [135]:
list(set(a)&set(b))

[1, 2, 3, 4, 5, 6]

In [137]:
d=[i for i in a if i<9]

In [138]:
d

[1, 2, 3, 4, 1, 1, 2, 3, 4, 5, 6, 8, 5, 3]

In [ ]:
#functions
#packages
#error handling

In [ ]:
https://w3resource.com/python-exercises/

In [ ]:
#install packages 
pip install <name>

In [ ]:
#data 
pandas
json
xlrd
xlwt
matplotlib
seabourn

In [1]:
import math

In [2]:
math.factorial(5)

120

In [3]:
import math as m

In [4]:
m.factorial(5)

120

In [6]:
from sklearn.ensemble import RandomForestClassifier as rf

In [7]:
from math import factorial,sin,cos

In [8]:
factorial(5)

120

In [9]:
from random import *

In [10]:
randint(0,10)

6

In [11]:
l=["rock","paper","scissor"]

In [13]:
import random as r

In [18]:
r.choice(l)

'scissor'

In [21]:
r.sample("apple",2)

['a', 'l']

In [45]:
def add(a,b,c=None):
    if c:
        print("three args")
        return a+b+c,a*b*c
    else:
        print("two args")
        return(a+b,a*b)

In [49]:
c=int(input("c :"))
d=int(input("d :"))
e=int(input("e :"))
s,m=add(c,d,e)

c :10
d :5
e :2
three args

In [51]:
s

17

In [52]:
m

100

In [40]:
a=10

In [41]:
a

10

In [42]:
a=15

In [43]:
a=10
b=20
11,13,17,19

15

In [59]:
try:
    print(f=5)
    print("hello")
except NameError:
    print("There is a NameError!!!")
except TypeError:
    print("there is a TypeError")
finally:
        print("i am finally block")
    
print("hello")

there is a TypeError
i am finally block
hello

In [63]:
try:
    print(g)
except (SyntaxError,NameError):
    print("error")

error

In [ ]:
boto3

In [ ]:
#oops
#file handling -> csv,tsv,json,yml,xlsx,txt,docx,pdf,xml,db,