In [2]:
a = 5
b = 10 
print(a+b)

15

In [3]:
a = 5 
f = 3.14
c = 'apple'
b = True

In [6]:
print(type(c))

<class 'str'>

In [7]:
print(c)

apple

In [8]:
print(4545)

4545

In [9]:
print("hello world")

hello world

In [10]:
# hello apple
# hello 5

In [11]:
print("hello "+c)
print("hello "+str(a))

hello apple
hello 5

In [13]:
print("hello",c)
print("hello",a)

hello apple
hello 5

In [14]:
print("hello %s"%c)
print("hello %d"%a)

hello apple
hello 5

In [15]:
print("hello {}".format(c))
print("hello {}".format(a))

hello apple
hello 5

In [16]:
# i bought mango of 3kgs for 150.35rs
f = 'mango'
w = 3
c = 150.35

In [18]:
print("i bought "+f+" of "+str(w)+"kgs for "+str(c)+"rs")
print("i bought",f,"of",w,"kgs for",c,"rs")
print("i bought %s of %dkgs for %0.2f"%(f,w,c))
print("i bought {} of {}kgs for {}".format(f,w,c))

i bought mango of 3kgs for 150.35rs
i bought mango of 3 kgs for 150.35 rs
i bought mango of 3kgs for 150.35
i bought mango of 3kgs for 150.35

In [ ]:
+ - * / % // **

< > <= >= == !=

and or not 

is in , is not , not in

In [25]:
num = int(input("Enter any numerical value : "))
if num % 4 == 0:
    print("divisible by 4 and Even")
elif num % 2 == 0:
    print("Even")
else:
    print("odd")

Enter any numerical value : 20
divisible by 4 and Even

In [27]:
while True:
    num = int(input("Enter any numerical value : "))
    if num == 25:
        print('stoping...')
        break
    elif num == 15:
        print("skipping...")
        continue

    if num % 4 == 0:
        print("divisible by 4 and Even")
    elif num % 2 == 0:
        print("Even")
    else:
        print("odd")

Enter any numerical value : 14
Even
Enter any numerical value : 36
divisible by 4 and Even
Enter any numerical value : 48
divisible by 4 and Even
Enter any numerical value : 15
skipping...
Enter any numerical value : 78
Even
Enter any numerical value : 25
stoping...

In [28]:
opt='y'
while opt=='y':
    num = int(input("Enter any numerical value : "))
    if num == 25:
        print('stoping...')
        break
    elif num == 15:
        print("skipping...")
        continue

    if num % 4 == 0:
        print("divisible by 4 and Even")
    elif num % 2 == 0:
        print("Even")
    else:
        print("odd")
    
    opt = input("Do you want to continue? y/n ")

Enter any numerical value : 96
divisible by 4 and Even
Do you want to continue? y/n y
Enter any numerical value : 15
skipping...
Enter any numerical value : 63
odd
Do you want to continue? y/n m

In [30]:
i=0
while i < 3:
    num = int(input("Enter any numerical value : "))
    if num == 25:
        print('stoping...')
        break
    elif num == 15:
        print("skipping...")
        continue

    if num % 4 == 0:
        print("divisible by 4 and Even")
    elif num % 2 == 0:
        print("Even")
    else:
        print("odd")
    
    i += 1

Enter any numerical value : 74
Even
Enter any numerical value : 15
skipping...
Enter any numerical value : 34
Even
Enter any numerical value : 78
Even

In [31]:
i = 4 
while i < 3:
    print("I am from while loop")
else:
    print("I am from else")

I am from else

In [ ]:
string functions
list 
tuple
dictionary
for loop
functions

In [32]:
name = "elephant"
sent = "elephant is a big animal"

In [33]:
name[3]

'p'

In [34]:
name[3:]

'phant'

In [35]:
name[3:6]

'pha'

In [36]:
name[:3]

'ele'

In [37]:
len(name)

8

In [39]:
name[2:7:2]

'ehn'

In [40]:
name.capitalize()

'Elephant'

In [42]:
name.upper().lower()

'elephant'

In [43]:
sent.title()

'Elephant Is A Big Animal'

In [44]:
name.casefold()

'elephant'

In [45]:
name.swapcase()

'ELEPHANT'

In [47]:
name.center(20,'~')

'~~~~~~elephant~~~~~~'

In [48]:
name.zfill(12)

'0000elephant'

In [50]:
name.count('x')

0

In [52]:
name.startswith('El')

False

In [53]:
name.endswith('nt')

True

In [57]:
name.encode('utf-16')

b'\xff\xfee\x00l\x00e\x00p\x00h\x00a\x00n\x00t\x00'

In [66]:
"msme\tpython".expandtabs(2)

'msme  python'

In [67]:
name.find('x')

-1

In [68]:
name.index('x')

ValueError: substring not found

In [69]:
name[3]

'p'

In [70]:
name[-5]

'p'

In [74]:
name[::-1]

'tnahpele'

In [75]:
name = " elephant "

In [80]:
name.strip()

'elephant'

In [81]:
name.replace("e","E")

' ElEphant '

In [83]:
'\t\n'.isprintable()

False

In [85]:
" ".isspace()

True

In [89]:
sent.split('a')

['eleph', 'nt is ', ' big ', 'nim', 'l']

In [90]:
"a".join(sent.split('a'))

'elephant is a big animal'

In [92]:
name.strip().isidentifier()

True

In [93]:
L = []

In [94]:
L = list()

In [95]:
L

[]

In [96]:
l = [1,2,3,1.2,2.3,3.4,'apple','mango']

In [98]:
l[3] = 3.14

In [99]:
l

[1, 2, 3, 3.14, 2.3, 3.4, 'apple', 'mango']

In [100]:
del l[0]

In [101]:
l

[2, 3, 3.14, 2.3, 3.4, 'apple', 'mango']

In [102]:
l.append('kiwi')

In [103]:
l

[2, 3, 3.14, 2.3, 3.4, 'apple', 'mango', 'kiwi']

In [104]:
l.insert(3,545)

In [105]:
l

[2, 3, 3.14, 545, 2.3, 3.4, 'apple', 'mango', 'kiwi']

In [106]:
l.remove(545)

In [107]:
l

[2, 3, 3.14, 2.3, 3.4, 'apple', 'mango', 'kiwi']

In [108]:
l.pop()

'kiwi'

In [109]:
l[::-1]

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2]

In [110]:
l

[2, 3, 3.14, 2.3, 3.4, 'apple', 'mango']

In [111]:
l.reverse()

In [112]:
l

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2]

In [114]:
g = l.copy()

In [115]:
g

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2]

In [118]:
f = l

In [122]:
f

[]

In [121]:
f.clear()

In [123]:
l.sort()

In [124]:
l

[]

In [126]:
g.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [127]:
g

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2]

In [128]:
l = ['kiwi','papaya']

In [129]:
g+l

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2, 'kiwi', 'papaya']

In [130]:
g.extend(l)

In [131]:
g

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2, 'kiwi', 'papaya']

In [132]:
T = tuple()

In [133]:
T

()

In [135]:
L.append("pine apple")

In [137]:
L.insert(3,'orange')

In [138]:
L

['pine apple', 'orange']

In [139]:
t = ('mango', 'apple', 3.4, 2.3, 3.14, 3, 2, 'kiwi', 'papaya')

In [140]:
g

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2, 'kiwi', 'papaya']

In [141]:
t

('mango', 'apple', 3.4, 2.3, 3.14, 3, 2, 'kiwi', 'papaya')

In [143]:
t[2] = 4

TypeError: 'tuple' object does not support item assignment

In [144]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [145]:
D = {}

In [146]:
D = dict()

In [147]:
D

{}

In [148]:
d = {'a':'apple','b':23,3:"mango",'list':L}

In [149]:
d

{'a': 'apple', 'b': 23, 3: 'mango', 'list': ['pine apple', 'orange']}

In [150]:
d['a']

'apple'

In [151]:
d['e'] = name

In [155]:
list(d.keys())

['a', 'b', 3, 'list', 'e']

In [154]:
d.values()

dict_values(['apple', 23, 'mango', ['pine apple', 'orange'], ' elephant '])

In [158]:
D['fruit'] = 'kiwi'

In [159]:
D['vege'] = 'carrot'

In [157]:
list(d.items())

[('a', 'apple'),
 ('b', 23),
 (3, 'mango'),
 ('list', ['pine apple', 'orange']),
 ('e', ' elephant ')]

In [160]:
D

{'fruit': 'kiwi', 'vege': 'carrot'}

In [161]:
d

{'a': 'apple',
 'b': 23,
 3: 'mango',
 'list': ['pine apple', 'orange'],
 'e': ' elephant '}

In [162]:
d.update(D)

In [163]:
d

{'a': 'apple',
 'b': 23,
 3: 'mango',
 'list': ['pine apple', 'orange'],
 'e': ' elephant ',
 'fruit': 'kiwi',
 'vege': 'carrot'}

In [164]:
d.pop('b')

23

In [165]:
d

{'a': 'apple',
 3: 'mango',
 'list': ['pine apple', 'orange'],
 'e': ' elephant ',
 'fruit': 'kiwi',
 'vege': 'carrot'}

In [166]:
g

['mango', 'apple', 3.4, 2.3, 3.14, 3, 2, 'kiwi', 'papaya']

In [168]:
l

['kiwi', 'papaya']

In [169]:
t

('mango', 'apple', 3.4, 2.3, 3.14, 3, 2, 'kiwi', 'papaya')

In [170]:
d

{'a': 'apple',
 3: 'mango',
 'list': ['pine apple', 'orange'],
 'e': ' elephant ',
 'fruit': 'kiwi',
 'vege': 'carrot'}

In [174]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [178]:
idx = 0
for i in name:
    if i == 'e':
        print(i,idx)
    idx += 1

e 1
e 3

In [180]:
for idx,i in enumerate(name):
    if i == 'e':
        print(i,idx)

e 1
e 3

In [181]:
for i in g:
    print(i)

mango
apple
3.4
2.3
3.14
3
2
kiwi
papaya

In [182]:
for k,v in d.items():
    print(k,v)

a apple
3 mango
list ['pine apple', 'orange']
e  elephant
fruit kiwi
vege carrot

In [186]:
for i,j in zip(g,t):
    print(i,j)

papaya mango
kiwi apple
2 3.4
3 2.3
3.14 3.14
2.3 3
3.4 2
apple kiwi
mango papaya

In [185]:
g.reverse()

In [187]:
a = [1,2,3,1,2,3,1,2,1,2]
b = [2,2,3,3,1,1]

In [ ]:
c = [1,2,3]

In [189]:
for i in range(len(a)):
    for j in range(len(b)):
        if a[i] == b[j]:
            print(a[i])

1
1
2
2
3
3
1
1
2
2
3
3
1
1
2
2
1
1
2
2

In [192]:
c =[]
for i in a:
    if i in b and i not in c:
        c.append(i)

In [193]:
c

[1, 2, 3]

In [194]:
set(a)&set(b)

{1, 2, 3}

In [196]:
list('123')

['1', '2', '3']

In [197]:
def addition():
    a = int(input("A : "))
    b = int(input("B : "))
    print(a+b,a*b)

In [198]:
addition()

A : 6
B : 4
10 24

In [199]:
def addition():
    a = int(input("A : "))
    b = int(input("B : "))
    return  a+b,a*b

In [200]:
s,m = addition()

A : 4
B : 5

In [201]:
s

9

In [202]:
m

20

In [203]:
def addition(a,b):
    return  a+b,a*b

In [204]:
a = int(input("A : "))
b = int(input("B : "))
s,m = addition(a,b)

A : 7
B : 8

In [205]:
s,m

(15, 56)

In [214]:
import numpy as np

a=list(range(9))

In [215]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [216]:
m = np.reshape(a,[3,3])

In [217]:
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [218]:
m[:,0]

array([0, 3, 6])

In [219]:
m[0]

array([0, 1, 2])

In [228]:
infile = open("CBE-MSME.txt",'a')

In [229]:
infile.write("jnfjlanl jd fklajlk kn dklan \n")

30

In [226]:
infile.writelines("I am doing good.\n")

In [230]:
infile.close()

In [241]:
outfile = open("./CBE-MSME.txt")

In [240]:
outfile.readlines()

['Hi, how do you do?\n',
 'I am doing good.\n',
 'jnfjlanl jd fklajlk kn dklan \n']

In [242]:
outfile.read().splitlines()

['Hi, how do you do?', 'I am doing good.', 'jnfjlanl jd fklajlk kn dklan ']

In [243]:
from collections import Counter

In [244]:
Counter("Hi, how do you do?")

Counter({'H': 1,
         'i': 1,
         ',': 1,
         ' ': 4,
         'h': 1,
         'o': 4,
         'w': 1,
         'd': 2,
         'y': 1,
         'u': 1,
         '?': 1})

In [245]:
import pandas as pd

In [246]:
csvFile = pd.read_csv("train.csv")

In [250]:
csvFile.head()

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4
3  Iris-virginica           4.8          1.8           6.0          3.0
4  Iris-virginica           5.1          2.3           6.9          3.1

In [253]:
tsvFile = pd.read_csv("fruits_vege.tsv",sep="\t",index_col=0)

In [254]:
tsvFile

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion      papaya       onion
b   mango    potato      cherry      potato
c  orange     beans  pine apple      carrot

In [257]:
excelFile = pd.read_excel("Course Syllabus.xlsx",sheet_name="Machine Learning")

In [259]:
excelFile.head()

                              Syllabus  Duration
0   1.Introduction to Machine learning   60 mins
1  1.a  Introduction to Data Operation  150 mins
2                     Basic Operations       NaN
3                   Moving Data Around       NaN
4                    Computing on Data       NaN

In [260]:
dfDict = {}

In [261]:
dfDict["States"] = ["TN","AP","KL","KA"]

In [269]:
dfDict["Language"] = ["Tamil","Telugu","Malayalam"]

In [270]:
dfDict

{'States': ['TN', 'AP', 'KL', 'KA'],
 'Language': ['Tamil', 'Telugu', 'Malayalam']}

In [272]:
DF1 = pd.DataFrame()

In [273]:
DF1["States"] = pd.Series(["TN","AP","KL","KA"])

In [275]:
DF1["Language"] =  pd.Series(["Tamil","Telugu","Malayalam"])

In [276]:
DF1

  States   Language
0     TN      Tamil
1     AP     Telugu
2     KL  Malayalam
3     KA        NaN

In [271]:
DF = pd.DataFrame(dfDict,index=[10,11,12,13])

ValueError: could not broadcast input array from shape (3) into shape (4)

In [267]:
DF

   States   Language
10     TN      Tamil
11     AP     Telugu
12     KL  Malayalam
13     KA    Kannada

In [268]:
DF.to_csv("CBE-MSME.csv",index=False)

In [ ]:
DF.to_csv("CBE-MSME.tsv",index=False,sep="\t")

In [ ]:
DF.to_excel("CBE-MSME.xlsx",index=False)

In [277]:
import MySQLdb

In [278]:
db = MySQLdb.connect(host="localhost", user="admin", passwd="test@123", db="testDB")

cur = db.cursor()

In [286]:
cur.execute("SELECT * FROM testDB.PassportDetails")

5

In [287]:
cur.fetchall()

((101, 1, 'C3031R33'),
 (102, 2, 'VRDK5695'),
 (103, 3, 'A4DEK33D'),
 (104, 4, 'Yu756HU'),
 (106, 4, 'Yu756HU'))

In [284]:
cur.execute("insert into PassportDetails values (106,4, 'Yu756HU')")

1

In [288]:
pd.read_sql_query("SELECT * FROM testDB.PassportDetails",db)

   Pk_Passport_Id  Person_Id Passport_Number
0             101          1        C3031R33
1             102          2        VRDK5695
2             103          3        A4DEK33D
3             104          4         Yu756HU
4             106          4         Yu756HU

In [ ]:
pip install -U pandas

Phone Number : +91-7418490015

linkedin : https://www.linkedin.com/in/sharmasaravanan/

In [289]:
csvFile.columns

Index(['class', 'petal_length', 'petal_width', 'sepal_length', 'sepal_width'], dtype='object')

In [291]:
csvFile[['petal_length','sepal_length']]

     petal_length  sepal_length
0             5.5           6.4
1             5.9           6.8
2             5.4           6.2
3             4.8           6.0
4             5.1           6.9
5             5.6           6.3
6             5.2           6.7
7             6.7           7.7
8             5.8           6.5
9             5.3           6.4
10            5.0           5.7
11            5.1           5.8
12            5.6           6.3
13            5.0           6.3
14            5.8           6.7
15            5.7           6.7
16            5.5           6.5
17            5.6           6.1
18            5.0           6.0
19            5.2           6.5
20            6.1           7.4
21            6.1           7.7
22            6.1           7.2
23            5.9           7.1
24            6.0           6.3
25            5.1           6.3
26            5.1           5.8
27            6.0           7.2
28            5.7           6.7
29            6.9           7.7
..            ...           ...
75            1.5           5.4
76            1.5           5.1
77            1.9           4.8
78            1.5           5.1
79            1.5           4.9
80            1.3           4.4
81            1.3           5.5
82            1.4           5.1
83            1.4           5.0
84            1.6           4.8
85            1.5           4.6
86            1.4           4.8
87            1.6           5.0
88            1.5           5.2
89            1.5           4.9
90            1.4           5.5
91            1.5           5.4
92            1.5           5.2
93            1.0           4.6
94            1.6           5.1
95            1.4           4.6
96            1.4           4.4
97            1.5           5.1
98            1.4           5.0
99            1.3           4.7
100           1.5           5.0
101           1.7           5.7
102           1.3           5.4
103           1.9           5.1
104           1.6           5.0

[105 rows x 2 columns]

In [296]:
row5 = csvFile.loc[5,"petal_width":"sepal_width"]

In [300]:
file = open("rowData.txt",'w')
file.writelines(str(row5))

In [301]:
file.close()

In [302]:
csvFile.groupby('class').count()

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa                35           35            35           35
Iris-versicolor            35           35            35           35
Iris-virginica             35           35            35           35

In [303]:
csvFile.describe()

       petal_length  petal_width  sepal_length  sepal_width
count    105.000000   105.000000    105.000000   105.000000
mean       3.748571     1.196190      5.830476     3.057143
std        1.753519     0.765723      0.800015     0.449969
min        1.000000     0.100000      4.400000     2.000000
25%        1.500000     0.300000      5.100000     2.800000
50%        4.400000     1.300000      5.700000     3.000000
75%        5.100000     1.800000      6.400000     3.400000
max        6.900000     2.500000      7.700000     4.400000

In [304]:
csvFile.shape

(105, 5)

In [306]:
csvFile.drop(columns=["petal_length","sepal_length"])

              class  petal_width  sepal_width
0    Iris-virginica          1.8          3.1
1    Iris-virginica          2.3          3.2
2    Iris-virginica          2.3          3.4
3    Iris-virginica          1.8          3.0
4    Iris-virginica          2.3          3.1
5    Iris-virginica          2.4          3.4
6    Iris-virginica          2.3          3.0
7    Iris-virginica          2.0          2.8
8    Iris-virginica          2.2          3.0
9    Iris-virginica          1.9          2.7
10   Iris-virginica          2.0          2.5
11   Iris-virginica          1.9          2.7
12   Iris-virginica          1.8          2.9
13   Iris-virginica          1.9          2.5
14   Iris-virginica          1.8          2.5
15   Iris-virginica          2.1          3.3
16   Iris-virginica          1.8          3.0
17   Iris-virginica          1.4          2.6
18   Iris-virginica          1.5          2.2
19   Iris-virginica          2.0          3.0
20   Iris-virginica          1.9          2.8
21   Iris-virginica          2.3          3.0
22   Iris-virginica          2.5          3.6
23   Iris-virginica          2.1          3.0
24   Iris-virginica          2.5          3.3
25   Iris-virginica          1.5          2.8
26   Iris-virginica          1.9          2.7
27   Iris-virginica          1.8          3.2
28   Iris-virginica          2.5          3.3
29   Iris-virginica          2.3          2.6
..              ...          ...          ...
75      Iris-setosa          0.2          3.7
76      Iris-setosa          0.2          3.4
77      Iris-setosa          0.2          3.4
78      Iris-setosa          0.4          3.7
79      Iris-setosa          0.1          3.1
80      Iris-setosa          0.2          3.2
81      Iris-setosa          0.2          3.5
82      Iris-setosa          0.3          3.5
83      Iris-setosa          0.2          3.3
84      Iris-setosa          0.2          3.4
85      Iris-setosa          0.2          3.1
86      Iris-setosa          0.3          3.0
87      Iris-setosa          0.6          3.5
88      Iris-setosa          0.2          3.5
89      Iris-setosa          0.1          3.1
90      Iris-setosa          0.2          4.2
91      Iris-setosa          0.4          3.4
92      Iris-setosa          0.1          4.1
93      Iris-setosa          0.2          3.6
94      Iris-setosa          0.2          3.8
95      Iris-setosa          0.2          3.2
96      Iris-setosa          0.2          2.9
97      Iris-setosa          0.3          3.8
98      Iris-setosa          0.2          3.6
99      Iris-setosa          0.2          3.2
100     Iris-setosa          0.2          3.4
101     Iris-setosa          0.3          3.8
102     Iris-setosa          0.4          3.9
103     Iris-setosa          0.4          3.8
104     Iris-setosa          0.2          3.0

[105 rows x 3 columns]

In [ ]:
csvFile.drop_duplicates()

In [311]:
csvFile

SyntaxError: invalid syntax (<ipython-input-311-871eb14f6120>, line 1)

In [313]:

data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham',
'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [314]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [315]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [316]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)

In [317]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [319]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [320]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [321]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [322]:
pd.merge(df1, df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [323]:
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [330]:
eval("y")*2

NameError: name 'y' is not defined

In [325]:
"5"*2

'55'

In [329]:
y

NameError: name 'y' is not defined

In [ ]:
pandas
matplotlib
sklearn
numpy
nltk