Cheatsheet :- http://bit.ly/AIcheatsheet

Books :- http://bit.ly/AI_material

Resumes :- http://bit.ly/AIresumes

GitHub :- http://bit.ly/AI_repos

exercises :- https://w3resource.com/python-exercises/

In [1]:
a = 5
print(a+b)
b = 10

NameError: name 'b' is not defined

In [2]:
a = 5
b = 10
print(a+b)

15

### variables

In [3]:
a,A,apple,a1,a_2,2a,fruit_name,fruitName

NameError: name 'A' is not defined

### datatypes

In [4]:
a = 5 # int
b = 3.14 # float
c = 'apple' # string
d = True # bool

### print function

In [5]:
print('hello world')

hello world

In [6]:
print(123456)

123456

In [7]:
print(a)

5

#### type and type casting

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [9]:
n = 5

In [12]:
print(type(n))
n = str(n)
print(n)
print(type(n))

<class 'int'>
5
<class 'str'>

In [17]:
g = '56'

In [19]:
print(type(g))
g = int(g)
print(g)
print(type(g))
g = float(g)
print(g)
print(type(g))

<class 'int'>
56
<class 'int'>
56.0
<class 'float'>

In [ ]:
# hello 5
# hello apple

In [23]:
print("Method-1")
print('hello',a)
print('hello',c)
print("------------")

print("Method-2")
print('hello '+str(a))
print('hello '+c)
print("------------")

print("Method-3")
print('hello %d'%a)
print('hello %s'%c)
print("------------")

print("Method-3")
print('hello {}'.format(a))
print('hello {}'.format(c))
print("------------")

Method-1
hello 5
hello apple
------------
Method-2
hello 5
hello apple
------------
Method-3
hello 5
hello apple
------------
Method-3
hello 5
hello apple
------------

In [24]:
# i bought 2.5kgs of mango for 100Rs
w = 2.5
f = 'mango'
p = 100

In [26]:
print("i bought",w,'kgs of',f,'for',p,'Rs')
print("i bought "+str(w)+'kgs of '+f+' for '+str(p)+'Rs')
print("i bought %0.1fkgs of %s for %dRs"%(w,f,p))
print("i bought {}kgs of {} for {}Rs".format(w,f,p))

i bought 2.5 kgs of mango for 100 Rs
i bought 2.5kgs of mango for 100Rs
i bought 2.5kgs of mango for 100Rs
i bought 2.5kgs of mango for 100Rs

### operators

#### Arithmetic operators

        +, -, *, /, %, //

#### Conditional Operators

        <, >, >=, <=, ==, !=

#### logical operators

        and, or, not

#### misc operators

        is, in, not in, is not

In [33]:
a = None
print(a is None)
print(a is not None)

True
False

#### Operator overloading

In [37]:
print(3+2)
print("apple"+"fruit")

print(3*2)
print('apple'*2)

5
applefruit
6
appleapple

### Task-1

write a python program to calculate the following operation

    input : n

    output : nnn+nn+n
    
    example: n = 5 , 555+55+5
                output : 615

In [38]:
n = '5'
print(int(n*3)+int(n*2)+int(n))

615

In [39]:
n = '5'
print(int(n+n+n)+int(n+n)+int(n))

615

### getting input from user

In [42]:
n = input("Enter any number :")

Enter any number :4

In [43]:
print(n)

4

In [44]:
print(n*2)

44

In [45]:
print(type(n))

<class 'str'>

In [46]:
n = int(input("Enter any number :"))

Enter any number :6

In [47]:
print(n*2)

12

### if-else

In [49]:
n = int(input("Enter any number :"))
if n % 2 == 0:
    print('even')
else:
    print('odd')

Enter any number :5
odd

In [53]:
age = int(input("Enter your age :"))
if  0<= age <= 5:
    print('infant')
elif 6<= age <= 12:
    print('child')
elif 13<= age <= 19:
    print('teenage')
else:
    print('adult')

Enter your age :65
adult

<div class="burk">

```
age = int(input("Enter your age :"))
if  0<= age <= 5:
    print('infant')

if 6<= age <= 12:
    print('child')

if 13<= age <= 19:
    print('teenage')
else:
    print('adult')
```

</div><i class="fa fa-lightbulb-o "></i>

### Task-2

Write a python program to calculate the area of the circle, square and rectangle based on the user's choice. if user selects circle then your program should calculate only the area of the circle by getting radius from the user.

In [56]:
print("The program can calculate the area of the following objects.\n1. circle\n2. square\n3. rectangle\n")
choice = input("Enter you choice :")
if choice == 'circle':
    r = float(input("Enter the radius of the circle :"))
    area = 3.14*r*r
    print("The area of the circle is {:.2f}sq.cm".format(area))
else:
    print("Invalid option!!!")

The program can calculate the area of the following objects.
1. circle
2. square
3. rectangle

Enter you choice :circle
Enter the radius of the circle :2.4
The area of the circle is 18.09Sq.cm

In [57]:
area

18.086399999999998

In [58]:
"{:.2f}".format(area)

'18.09'

### while loop

In [60]:
i = 1
while i <= 5:
    n = int(input("Enter any number :"))
    if n % 2 == 0:
        print('even')
    else:
        print('odd')
    
    i = i+1 # i +=1
else:
    print("Iterations over!!")

Enter any number :24
even
Enter any number :11
odd
Enter any number :36
even
Enter any number :45
odd
Enter any number :69
odd
Iterations over!!

In [61]:
opt = 'y'
while opt == 'y':
    n = int(input("Enter any number :"))
    if n % 2 == 0:
        print('even')
    else:
        print('odd')
    
    opt = input("Do you want to continue? y/n")

Enter any number :48
even
Do you want to continue? y/ny
Enter any number :44
even
Do you want to continue? y/nn

In [63]:
while True:
    n = int(input("Enter any number :"))
    
    if n == 15:
        print("Stopping!!")
        break
    elif n == 25:
        print("Skipping!!")
        continue
        
        
    if n % 2 == 0:
        print('even')
    else:
        print('odd')

Enter any number :85
odd
Enter any number :96
even
Enter any number :45
odd
Enter any number :25
Skipping!!
Enter any number :74
even
Enter any number :15
Stopping!!

### Home work task

Write a program to play Rock-paper-scissor game by using following rules.

1. rock beats scissor
2. scissor beats paper
3. paper beats rock

In [64]:
while True:
    print(" *********Game starts now.. *****************")
    player_1 = input("player 1 name? :")
    player_2 = input("player 2 name? :")
    input_1 = input("What is your choice %s ? (Rock/Paper/Scissor)" % player_1)
    input_2 = input("What is your choice %s ? (Rock/Paper/Scissor)" % player_2)
    if ((input_1.lower() == 'rock') & (input_2.lower() == 'scissor')):
        print("%s won the game.  Cheers." % player_1)
    elif ((input_1.lower() == 'scissor') & (input_2.lower() == 'paper')):
        print("%s won the game.  Cheers." % player_1)
    elif ((input_1.lower() == 'paper') & (input_2.lower() == 'rock')):
        print("%s won the game.  Cheers." % player_1)
    elif ((input_2.lower() == 'rock') & (input_1.lower() == 'scissor')):
        print("%s won the game.  Cheers." % player_2)
    elif ((input_2.lower() == 'scissor') & (input_1.lower() == 'paper')):
        print("%s won the game.  Cheers." % player_2)
    elif ((input_2.lower() == 'paper') & (input_1.lower() == 'rock')):
        print("*****************%s won the game.   Cheers. *******************"
              % player_2)
    else:
        print("!!!!!!!!!Wrong option selected. Try again..")

    quit = input(
        "Do you want to continue the the game ? quit(q)/continue(any key)"
    ).lower()
    if (quit == 'q' or quit == 'quit'):
        break
    else:
        continue

 *********Game starts now.. *****************
player 1 name? :ss
player 2 name? :ab
What is your choice ss ? (Rock/Paper/Scissor)rock
What is your choice ab ? (Rock/Paper/Scissor)paper
*****************ab won the game.   Cheers. *******************
Do you want to continue the the game ? quit(q)/continue(any key)q

### string operation

In [69]:
name = 'madagascar'

sent = "apple is a red fruit"

#### slicing

In [71]:
print(name[3], name[-5])

a a

In [72]:
print(name[2:])

dagascar

In [73]:
print(name[:6])

madaga

In [74]:
print(name[2:6])

daga

In [77]:
print(name[2:8],name[2:8:2])

dagasc dgs

In [78]:
print(name[::-1])

racsagadam

In [80]:
name[2] = 'g'

TypeError: 'str' object does not support item assignment

In [81]:
len(name)

10

#### string function

In [87]:
name.capitalize()
name.lower()
name.upper()
name.swapcase()
name.casefold()
sent.title()

'Apple Is A Red Fruit'

In [91]:
print("*****************%s won the game.Cheers. *******************")

*****************%s won the game.Cheers. *******************

In [93]:
"won the game. Cheers!!!".center(60,'*')
'123'.zfill(6)

'000123'

In [96]:
name.startswith('m')
name.endswith('R')

False

In [99]:
temp = name.encode('utf16')
print(temp)
temp.decode('utf16')

b'\xff\xfem\x00a\x00d\x00a\x00g\x00a\x00s\x00c\x00a\x00r\x00'

'madagascar'

In [103]:
" apple ".rstrip()
" apple ".lstrip()
" apple ".strip()
name.strip('ar')

'madagasc'

In [104]:
name.replace('a',"A")

'mAdAgAscAr'

In [105]:
name.count('a')

4

In [107]:
name.find('d')
name.index('d')

2

In [109]:
name.find('x')
name.index('x')

ValueError: substring not found

In [110]:
sent.split()

['apple', 'is', 'a', 'red', 'fruit']

In [114]:
temp = sent.split('e')
print(temp)
"e".join(temp)

['appl', ' is a r', 'd fruit']

'apple is a red fruit'

In [117]:
" ".isspace()
"\t\&".isprintable()

False

In [124]:
num = input("Enter any number :")
if num.isdigit():
    print("digit")
    
if num.isdecimal():
    print("decimal")
    
if num.isnumeric():
    print("numeric")
    
if num.isalnum():
    print('alpha numeric')

Enter any number :0000000
digit
decimal
numeric
alpha numeric

In [130]:
num = input("Enter any number :")
   
if not num.isalpha():
    print(float(num)*5)

Enter any number :kio

### task-2

1. write a program to check the user entered string is palindrome or not
2. use the following functions and generate n digit password which should have the combination of alphabets in both the case,number and special characte

                ```
                from random import sample 
                ```

In [138]:
from random import sample

text = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789~!@#$%^&*()_+?></.,:;{[]}"

n = int(input("Enter the length of password you want :"))
print("Password :","".join(sample(text,n)))

Enter the length of password you want :8
Password : %g{M02Am

### List

In [139]:
L = [] # list()

In [140]:
l = [12,34,'a','b','c','apple','mango','orange',1.24]

#### List slicing

In [142]:
l[4] = 'cat'

In [143]:
l

[12, 34, 'a', 'b', 'cat', 'apple', 'mango', 'orange', 1.24]

In [144]:
del l[1]

In [145]:
l

[12, 'a', 'b', 'cat', 'apple', 'mango', 'orange', 1.24]

In [150]:
tempList = [12,32,11,9]
print(min(tempList))
print(max(tempList))
print(sum(tempList))

9
32
64

#### list function

In [152]:
l.append('kiwi')

In [153]:
l

[12, 'a', 'b', 'cat', 'apple', 'mango', 'orange', 1.24, 'kiwi']

In [154]:
l.insert(3,'papaya')

In [155]:
l

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange', 1.24, 'kiwi']

In [156]:
l.pop()

'kiwi'

In [157]:
l.remove(1.24)

In [158]:
l

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [160]:
l.index('cat')

4

In [161]:
l.count('a')

1

In [162]:
g = l

In [163]:
g

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [164]:
l

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [165]:
g.remove(12)

In [166]:
g

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [167]:
l

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [168]:
g = l.copy()

In [169]:
g.append('kiwi')

In [170]:
g

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange', 'kiwi']

In [171]:
l

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [172]:
l.reverse()

In [173]:
l

['orange', 'mango', 'apple', 'cat', 'papaya', 'b', 'a']

In [176]:
l.sort(reverse=True)

In [177]:
l

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [178]:
l.extend(['pine apple','litchi'])

In [179]:
l

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a', 'pine apple', 'litchi']

### tuple

In [180]:
t = ('papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a')

In [181]:
t

('papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a')

In [182]:
t[2:]

('mango', 'cat', 'b', 'apple', 'a')

In [183]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [184]:
t = ((2,3),(2,4),(3,4))

In [187]:
print(t[0][0],t[0][1])

2 3

### dictionary

In [1]:
D = {} # dict()

In [2]:
d = {'a':'apple','b':'ball',23:['papaya', 'orange', 'mango'],3.14:43}

In [3]:
d

{'a': 'apple', 'b': 'ball', 23: ['papaya', 'orange', 'mango'], 3.14: 43}

In [4]:
d['a']

'apple'

In [5]:
d['f'] = 'fish'

In [6]:
d

{'a': 'apple',
 'b': 'ball',
 23: ['papaya', 'orange', 'mango'],
 3.14: 43,
 'f': 'fish'}

In [7]:
d['b'] = 'bat'

In [8]:
d

{'a': 'apple',
 'b': 'bat',
 23: ['papaya', 'orange', 'mango'],
 3.14: 43,
 'f': 'fish'}

In [9]:
del d[3.14]

In [10]:
d

{'a': 'apple', 'b': 'bat', 23: ['papaya', 'orange', 'mango'], 'f': 'fish'}

In [11]:
d.keys()

dict_keys(['a', 'b', 23, 'f'])

In [12]:
d.values()

dict_values(['apple', 'bat', ['papaya', 'orange', 'mango'], 'fish'])

In [13]:
d.items()

dict_items([('a', 'apple'), ('b', 'bat'), (23, ['papaya', 'orange', 'mango']), ('f', 'fish')])

In [14]:
d['y']

KeyError: 'y'

In [15]:
if 'y' in d:
    print(d['y'])

In [16]:
d.get('y')

In [17]:
d.get('a')

'apple'

In [18]:
newDict = {}

In [19]:
for i in ['papaya', 'orange', 'mango']:
    newDict[i[0]] = i

In [20]:
newDict

{'p': 'papaya', 'o': 'orange', 'm': 'mango'}

In [21]:
dict((i[0],i) for i in ['papaya', 'orange', 'mango'])

{'p': 'papaya', 'o': 'orange', 'm': 'mango'}

In [24]:
d.items()

dict_items([('a', 'apple'), ('b', 'bat'), (23, ['papaya', 'orange', 'mango']), ('f', 'fish')])

In [25]:
[(i[0],i) for i in ['papaya', 'orange', 'mango']]

[('p', 'papaya'), ('o', 'orange'), ('m', 'mango')]

In [26]:
d.update(newDict)

In [27]:
d

{'a': 'apple',
 'b': 'bat',
 23: ['papaya', 'orange', 'mango'],
 'f': 'fish',
 'p': 'papaya',
 'o': 'orange',
 'm': 'mango'}

In [28]:
d.pop(23)

['papaya', 'orange', 'mango']

In [29]:
d

{'a': 'apple',
 'b': 'bat',
 'f': 'fish',
 'p': 'papaya',
 'o': 'orange',
 'm': 'mango'}

In [30]:
dict.fromkeys(['papaya', 'orange', 'mango'])

{'papaya': None, 'orange': None, 'mango': None}

### for loop

In [32]:
for i in range(5):
    print('hello')

hello
hello
hello
hello
hello

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [36]:
l = ['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [37]:
for i in l:
    print(i)

papaya
orange
mango
cat
b
apple
a

In [38]:
for i in l[2:]:
    print(i)

mango
cat
b
apple
a

In [39]:
for i,ele in enumerate(l):
    print(i,ele)

0 papaya
1 orange
2 mango
3 cat
4 b
5 apple
6 a

In [41]:
len(d.values())

6

In [42]:
for i,j in zip(l,d.values()):
    print(i,j)

papaya apple
orange bat
mango fish
cat papaya
b orange
apple mango

In [43]:
for k in d.keys():
    print(k)

a
b
f
p
o
m

In [44]:
for ele in d.items():
    print(ele[0],ele[1])

a apple
b bat
f fish
p papaya
o orange
m mango

### task-3

take two lists with duplicate elements inside and across the lists. And extract common numbers without duplicate. 

eg:-
```
a = [1, 6, 10, 6, 1, 2, 1, 6, 5, 3]
b = [6, 9, 1, 0, 4, 1, 2, 1, 2, 4]

expected output

c = [1,2,6]

```

In [55]:
a = [1, 6, 10, 6, 1, 2, 1, 6, 5, 3]
b = [6, 9, 1, 0, 4, 1, 2, 1, 2, 4]

In [56]:
c = []
for i in a:
    for j in b:
        if i==j and i not in c:
            c.append(i)
c

[1, 6, 2]

In [57]:
c = []
for i in a:
    if i in b and i not in c:
            c.append(i)
c

[1, 6, 2]

In [60]:
list(set(a).intersection(b))

[1, 2, 6]

In [61]:
list(set(a)&set(b))

[1, 2, 6]

### task-4

write a python program to extract the numbers which are less than 7 from the given list

eg:-
```
a = [0, 14, 3, 5, 15, 12, 9, 9, 4, 1, 4]

expected output

ans = [0,3,5,4,1,4]

```

In [64]:
a = [0, 14, 3, 5, 15, 12, 9, 9, 4, 1, 4]

ans = []
for i in a:
    if i <= 7:
        ans.append(i)

ans

[0, 3, 5, 4, 1, 4]

In [70]:
ans = [i for i in a if i <= 7]
ans

[0, 3, 5, 4, 1, 4]

### libraries

In [ ]:
pip install libraryName

In [71]:
import math

In [72]:
math.factorial(5)

120

In [73]:
import math as m

In [74]:
m.sqrt(16)

4.0

In [75]:
from random import randint,choice

In [81]:
randint(1,10)

7

In [86]:
choice(l)

'papaya'

In [87]:
from random import *

In [ ]:
randrange(),sample()

### error handling

In [88]:
print(g)
print("hello world")

NameError: name 'g' is not defined

In [89]:
try:
    print(g)
except:
    print("There is an error!!")
print("hello world")

There is an error!!
hello world

In [91]:
try:
    print(g=7)
except Exception as e:
    print("There is an error :",str(e))
print("hello world")

There is an error : 'g' is an invalid keyword argument for this function
hello world

In [94]:
try:
    print(g=1)
except NameError as e:
    print("There is an error :",str(e))
except TypeError as te:
    print("It's a type error")
print("hello world")

It's a type error
hello world

In [98]:
try:
    g = 5
    print(g/0)
except (NameError,ZeroDivisionError) as e:
    print("There is an error :",str(e))
except TypeError as te:
    print("It's a type error")
print("hello world")

There is an error : division by zero
hello world

In [101]:
num = input("Enter any number :")
if num.isalpha():
    raise ValueError("Should enter only numbers")

Enter any numberhi

ValueError: Should enter only numbers

In [ ]:
try:
    num = input("Enter any number :")
    if num.isalpha():
        raise ValueError("Should enter only numbers")
except ValueError:

### functions

In [116]:
def operation(): # no arg no return
    a = float(input('A :'))
    b = float(input('B :'))
    print(a+b,a*b)

In [117]:
operation()

A :5.3
B :2.7
8.0 14.31

In [118]:
def operation(a,b): # arg no return
    print(a+b,a*b)

In [119]:
c = float(input('A :'))
d = float(input('B :'))
operation(c,d)

A :3
B :4
7.0 12.0

In [120]:
def operation(b,a=10): # arg no return
    print(a-b,a*b)

In [121]:
operation(5)

5 50

In [123]:
operation(a=5,b=7)

-2 35

In [124]:
def operation(*args):
    total = 0
    for i in args:
        total += i
    print(total)

In [125]:
operation(1,2)

3

In [126]:
operation(1,2,5,7,3)

18

In [127]:
def operation(**kargs):
    for k,v in kargs.items():
        print(k,':',v)

In [128]:
operation(a='apple',b='ball')

a : apple
b : ball

In [129]:
def operation(a,b): # arg no return
    return a+b,a*b

In [130]:
s,m = operation(5,2)

In [132]:
s

7

In [134]:
m

10

In [135]:
l

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [136]:
ans = lambda a,b:a+b

In [137]:
ans(5,3)

8

In [138]:
f = lambda s: s.upper()

In [144]:
import time

In [145]:
start = time.time()
L = []
for i in l:
    L.append(f(i))
print(time.time()-start)

0.00014257431030273438

In [141]:
L

['PAPAYA', 'ORANGE', 'MANGO', 'CAT', 'B', 'APPLE', 'A']

In [146]:
start = time.time()
L = [f(i) for i in L]
print(time.time()-start)

0.00022935867309570312

In [147]:
start = time.time()
L = list(map(f,l))
print(time.time()-start)

0.0001723766326904297

In [152]:
l.insert(6, None)

In [153]:
l

['papaya', None, 'orange', 'mango', None, 'cat', None, 'b', 'apple', 'a']

In [155]:
list(filter(None,l))

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [162]:
def getStudentNames(n,sub):
    studentDict = dict()
    for num in range(n):
        x = input("\nEnter name of student : ")
        marks = getStudentMarks(sub)
        studentDict[x] = marks
    return studentDict

def getStudentMarks(n):
    marks = []
    for num in range(n):
        y = float(input("\tEnter mark of subject-{} : ".format(num+1)))
        marks.append(y)
    return marks

markDict = getStudentNames(3,5)

print()
print(markDict)
print()
for k,v in markDict.items():
    print(k,':',sum(v))

Enter name of student : abc
	Enter mark of subject-1:12
	Enter mark of subject-2:33
	Enter mark of subject-3:34
	Enter mark of subject-4:21
	Enter mark of subject-5:12

Enter name of student :
	Enter mark of subject-1:

ValueError: could not convert string to float:

### class

In [163]:
class test:
    def getInput(self):
        self.name = input("Enter your name : ")
        self.age = int(input("Enter your age :"))
    
    def display(self):
        print("Name :",name)
        print("Age :",self.age)

In [164]:
t = test()

In [165]:
t.getInput()

Enter your name : abs
Enter your age :12

In [166]:
name ='apple'

In [167]:
t.display()

Name : apple
Age : 12

In [168]:
class test:
    def getInput(self):
        self.name = input("Enter your name : ")
        self.age = int(input("Enter your age :"))
    
    def display(self):
        self.getInput()
        print("Name :",self.name)
        print("Age :",self.age)

In [169]:
t = test()

In [170]:
t.display()

Enter your name : abc
Enter your age :123
Name : abc
Age : 123

In [171]:
class test:
    def _getInput(self):
        self.name = input("Enter your name : ")
        self.age = int(input("Enter your age :"))
    
    def display(self):
        self._getInput()
        print("Name :",self.name)
        print("Age :",self.age)

In [173]:
t = test()

In [ ]:
t.display

#### constructor

In [174]:
class billing:
    def __init__(self, priceDict):
        self.priceDict = priceDict
        self.min = 0.5

    def getItem(self):
        self.transaction = []
        for i in range(2):
            itemName = input("Enter the item name :")
            itemQuan = float(input("Enter the weight/ quantity :"))
            if itemQuan < self.min:
                print("Item quantity cannot be less than minimum value.")
                itemQuan = self.min
            itemPrice = self.priceDict[itemName]
            totalCost = itemPrice * itemQuan
            self.transaction.append((itemName, str(itemQuan), str(itemPrice), str(totalCost)))

    def showData(self):
        print("Item\tQuantity\tPrice\tCost")
        for trans in self.transaction:
            print("\t".join(trans))

In [175]:
priceList = {'onion':65,"potato":38,'tomato':27,'carrot':43}

In [176]:
bill = billing(priceList)

In [177]:
bill.getItem()

Enter the item name :onion
Enter the weight/ quantity :1.3
Enter the item name :carrot
Enter the weight/ quantity :.25
Item quantity cannot be less than minimum value.

In [178]:
bill.showData()

Item		Quantity	Price	Cost
onion	1.3	65	84.5
carrot	0.5	43	21.5

In [180]:
"Item\t\tQuantity\tPrice\tCost".expandtabs(3)

'Item     Quantity Price Cost'

In [182]:
class student:
    def __init__(self,n,sub):
        self.n = n
        self.sub = sub
        self.studentDict = dict()
        self.marks = []
        
    def getStudentNames(self):
        for num in range(self.n):
            x = input("\nEnter name of student : ")
            self.getStudentMarks()
            self.studentDict[x] = self.marks

    def getStudentMarks(self):
        self.marks.clear()
        for num in range(self.sub):
            y = float(input("\tEnter mark of subject-{} : ".format(num+1)))
            self.marks.append(y)

In [183]:
student = student(2,3)

In [184]:
student.getStudentNames()

Enter name of student : John
	Enter mark of subject-1 : 23
	Enter mark of subject-2 : 34

Enter name of student : 45
	Enter mark of subject-1 : 56
	Enter mark of subject-2 : 54

In [185]:
student.studentDict

{'John': [56.0, 54.0], '45': [56.0, 54.0]}

#### inheritance

In [186]:
class parent:
    def show(self):
        print("Name :",self.name)
        print('Age :',self.age)

In [187]:
class child(parent):
    def __init__(self,name):
        self.name = name
    
    def get_display(self):
        self.age = input('Enter your age :')
        parent.show(self)

In [188]:
c = child('mango')

In [189]:
c.get_display()

Enter your age :10
Name : mango
Age : 10

In [190]:
class parent:
    def __init__(self, name):
        self.name = name
    
    def show(self):
        print("Name :",self.name)
        print('Age :',self.age)

class child(parent):
    def __init__(self,name):
        parent.__init__(self, name) # self.name = name
    
    def get_display(self):
        self.age = input('Enter your age :')
        parent.show(self)

In [191]:
c = child("papaya")

In [192]:
c.get_display()

Enter your age :14
Name : papaya
Age : 14

In [193]:
class parent:
    def method(self):
        print("I am from parent")

In [195]:
class child(parent):
    def method(self):
        print("I am from child")

In [196]:
child = child()

In [197]:
child.method()

I am from child

### File handling

#### txt file handling

In [1]:
inFile = open("hummer.txt",'w')

In [2]:
inFile.write("Hi, hello!")

10

In [3]:
inFile.writelines("how are you?")

In [4]:
inFile.close()

In [8]:
with open("hummer.txt",'w') as f:
    f.write("Hi, hello!!!\n")
    f.writelines("How do you do?\n")
    f.writelines("i am good\n")
    f.close()

In [9]:
with open("hummer.txt",'a') as f:
    f.write("Python is a scripting language\n")
    f.writelines("it is very easy to learn\n")
    f.close()

In [14]:
with open("hummer.txt",'r') as out:
    data = out.read()
    out.close()

In [15]:
data

'Hi, hello!!!\nHow do you do?\ni am good\nPython is a scripting language\nit is very easy to learn\n'

In [19]:
out =  open("hummer.txt",'r')

In [24]:
print(out.readline())

it is very easy to learn

In [25]:
out =  open("hummer.txt",'r+')

In [26]:
out.readlines()

['Hi, hello!!!\n',
 'How do you do?\n',
 'i am good\n',
 'Python is a scripting language\n',
 'it is very easy to learn\n']

In [28]:
data.splitlines()

['Hi, hello!!!',
 'How do you do?',
 'i am good',
 'Python is a scripting language',
 'it is very easy to learn']

#### reading excel,csv, and tsv files

In [29]:
import pandas as pd

In [33]:
excelData = pd.read_excel("Course Syllabus.xlsx", sheet_name="Deep Learning")

In [34]:
excelData

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
3                   Non-linear Hypothesis         NaN
4                              perceptron         NaN
5                   Multilayer perceptron         NaN
6               Training a neural network         NaN
7                  Backpropagation primer         NaN
8                Gradients & optimization         NaN
9             3. Deep Learning for images    180 mins
10                       CNN architecture         NaN
11   Overview of modern CNN architectures         NaN
12                       pre-trained CNNs         NaN
13                      Alexnet/Googlenet         NaN
14                            OpenCV + NN         NaN
15              3. Deep Learning for Text    150 mins
16                                    RNN         NaN
17                                   LSTM         NaN
18                                    GRU         NaN
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                    NaN         NaN
23                                  Total  18.5 hours

In [35]:
csvData = pd.read_csv("train.csv")

In [36]:
csvData

              class  petal_length  petal_width  sepal_length  sepal_width
0    Iris-virginica           5.5          1.8           6.4          3.1
1    Iris-virginica           5.9          2.3           6.8          3.2
2    Iris-virginica           5.4          2.3           6.2          3.4
3    Iris-virginica           4.8          1.8           6.0          3.0
4    Iris-virginica           5.1          2.3           6.9          3.1
5    Iris-virginica           5.6          2.4           6.3          3.4
6    Iris-virginica           5.2          2.3           6.7          3.0
7    Iris-virginica           6.7          2.0           7.7          2.8
8    Iris-virginica           5.8          2.2           6.5          3.0
9    Iris-virginica           5.3          1.9           6.4          2.7
10   Iris-virginica           5.0          2.0           5.7          2.5
11   Iris-virginica           5.1          1.9           5.8          2.7
12   Iris-virginica           5.6          1.8           6.3          2.9
13   Iris-virginica           5.0          1.9           6.3          2.5
14   Iris-virginica           5.8          1.8           6.7          2.5
15   Iris-virginica           5.7          2.1           6.7          3.3
16   Iris-virginica           5.5          1.8           6.5          3.0
17   Iris-virginica           5.6          1.4           6.1          2.6
18   Iris-virginica           5.0          1.5           6.0          2.2
19   Iris-virginica           5.2          2.0           6.5          3.0
20   Iris-virginica           6.1          1.9           7.4          2.8
21   Iris-virginica           6.1          2.3           7.7          3.0
22   Iris-virginica           6.1          2.5           7.2          3.6
23   Iris-virginica           5.9          2.1           7.1          3.0
24   Iris-virginica           6.0          2.5           6.3          3.3
25   Iris-virginica           5.1          1.5           6.3          2.8
26   Iris-virginica           5.1          1.9           5.8          2.7
27   Iris-virginica           6.0          1.8           7.2          3.2
28   Iris-virginica           5.7          2.5           6.7          3.3
29   Iris-virginica           6.9          2.3           7.7          2.6
..              ...           ...          ...           ...          ...
75      Iris-setosa           1.5          0.2           5.4          3.7
76      Iris-setosa           1.5          0.2           5.1          3.4
77      Iris-setosa           1.9          0.2           4.8          3.4
78      Iris-setosa           1.5          0.4           5.1          3.7
79      Iris-setosa           1.5          0.1           4.9          3.1
80      Iris-setosa           1.3          0.2           4.4          3.2
81      Iris-setosa           1.3          0.2           5.5          3.5
82      Iris-setosa           1.4          0.3           5.1          3.5
83      Iris-setosa           1.4          0.2           5.0          3.3
84      Iris-setosa           1.6          0.2           4.8          3.4
85      Iris-setosa           1.5          0.2           4.6          3.1
86      Iris-setosa           1.4          0.3           4.8          3.0
87      Iris-setosa           1.6          0.6           5.0          3.5
88      Iris-setosa           1.5          0.2           5.2          3.5
89      Iris-setosa           1.5          0.1           4.9          3.1
90      Iris-setosa           1.4          0.2           5.5          4.2
91      Iris-setosa           1.5          0.4           5.4          3.4
92      Iris-setosa           1.5          0.1           5.2          4.1
93      Iris-setosa           1.0          0.2           4.6          3.6
94      Iris-setosa           1.6          0.2           5.1          3.8
95      Iris-setosa           1.4          0.2           4.6          3.2
96      Iris-setosa           1.4          0.2           4.4          2.9
97      Iris-setosa           1.5          0.3           5.1          3.8
98      Iris-setosa           1.4          0.2           5.0          3.6
99      Iris-setosa           1.3          0.2           4.7          3.2
100     Iris-setosa           1.5          0.2           5.0          3.4
101     Iris-setosa           1.7          0.3           5.7          3.8
102     Iris-setosa           1.3          0.4           5.4          3.9
103     Iris-setosa           1.9          0.4           5.1          3.8
104     Iris-setosa           1.6          0.2           5.0          3.0

[105 rows x 5 columns]

In [39]:
tsvData = pd.read_csv("fruits_vege.tsv",sep='\t',index_col=0)

In [40]:
tsvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion      papaya       onion
b   mango    potato      cherry      potato
c  orange     beans  pine apple      carrot

#### writing excel, tsv ,and csv files by creating dataframe

In [53]:
df = pd.DataFrame()

In [54]:
df['State'] = ['Andaman & Nicobar Islands','Andhra Pradesh','Arunachal Pradesh','Assam']

In [55]:
df['Language'] = ["Bengali","Telugu","Nishi",'Assamese']

In [56]:
df

                       State  Language
0  Andaman & Nicobar Islands   Bengali
1             Andhra Pradesh    Telugu
2          Arunachal Pradesh     Nishi
3                      Assam  Assamese

In [59]:
df = pd.DataFrame()

In [60]:
df['State'] = ['Andaman & Nicobar Islands','Andhra Pradesh','Arunachal Pradesh','Assam','Chandigarh']

In [61]:
# df['Language'] = ["Bengali","Telugu","Nishi",'Assamese'] # to avoid the valueError 
df['Language'] = pd.Series(["Bengali","Telugu","Nishi",'Assamese'])

In [62]:
df

                       State  Language
0  Andaman & Nicobar Islands   Bengali
1             Andhra Pradesh    Telugu
2          Arunachal Pradesh     Nishi
3                      Assam  Assamese
4                 Chandigarh       NaN

In [68]:
# df.to_csv("hummer.csv") # to avoid creating index as a column
df.to_csv("hummer.csv",index=False)

In [69]:
df.to_excel("hummer.xlsx",index=False)

In [70]:
df.to_csv("hummer.tsv",index=False,sep='\t')

#### data frame processing

In [72]:
csvData.shape

(105, 5)

In [73]:
csvData.describe()

       petal_length  petal_width  sepal_length  sepal_width
count    105.000000   105.000000    105.000000   105.000000
mean       3.748571     1.196190      5.830476     3.057143
std        1.753519     0.765723      0.800015     0.449969
min        1.000000     0.100000      4.400000     2.000000
25%        1.500000     0.300000      5.100000     2.800000
50%        4.400000     1.300000      5.700000     3.000000
75%        5.100000     1.800000      6.400000     3.400000
max        6.900000     2.500000      7.700000     4.400000

In [74]:
csvData.columns

Index(['class', 'petal_length', 'petal_width', 'sepal_length', 'sepal_width'], dtype='object')

In [78]:
csvData.head(3)

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4

In [77]:
csvData.tail()

           class  petal_length  petal_width  sepal_length  sepal_width
100  Iris-setosa           1.5          0.2           5.0          3.4
101  Iris-setosa           1.7          0.3           5.7          3.8
102  Iris-setosa           1.3          0.4           5.4          3.9
103  Iris-setosa           1.9          0.4           5.1          3.8
104  Iris-setosa           1.6          0.2           5.0          3.0

In [79]:
csvData[['petal_length','sepal_length']]

     petal_length  sepal_length
0             5.5           6.4
1             5.9           6.8
2             5.4           6.2
3             4.8           6.0
4             5.1           6.9
5             5.6           6.3
6             5.2           6.7
7             6.7           7.7
8             5.8           6.5
9             5.3           6.4
10            5.0           5.7
11            5.1           5.8
12            5.6           6.3
13            5.0           6.3
14            5.8           6.7
15            5.7           6.7
16            5.5           6.5
17            5.6           6.1
18            5.0           6.0
19            5.2           6.5
20            6.1           7.4
21            6.1           7.7
22            6.1           7.2
23            5.9           7.1
24            6.0           6.3
25            5.1           6.3
26            5.1           5.8
27            6.0           7.2
28            5.7           6.7
29            6.9           7.7
..            ...           ...
75            1.5           5.4
76            1.5           5.1
77            1.9           4.8
78            1.5           5.1
79            1.5           4.9
80            1.3           4.4
81            1.3           5.5
82            1.4           5.1
83            1.4           5.0
84            1.6           4.8
85            1.5           4.6
86            1.4           4.8
87            1.6           5.0
88            1.5           5.2
89            1.5           4.9
90            1.4           5.5
91            1.5           5.4
92            1.5           5.2
93            1.0           4.6
94            1.6           5.1
95            1.4           4.6
96            1.4           4.4
97            1.5           5.1
98            1.4           5.0
99            1.3           4.7
100           1.5           5.0
101           1.7           5.7
102           1.3           5.4
103           1.9           5.1
104           1.6           5.0

[105 rows x 2 columns]

In [80]:
csvData.loc[:,'petal_width':"sepal_width"]

     petal_width  sepal_length  sepal_width
0            1.8           6.4          3.1
1            2.3           6.8          3.2
2            2.3           6.2          3.4
3            1.8           6.0          3.0
4            2.3           6.9          3.1
5            2.4           6.3          3.4
6            2.3           6.7          3.0
7            2.0           7.7          2.8
8            2.2           6.5          3.0
9            1.9           6.4          2.7
10           2.0           5.7          2.5
11           1.9           5.8          2.7
12           1.8           6.3          2.9
13           1.9           6.3          2.5
14           1.8           6.7          2.5
15           2.1           6.7          3.3
16           1.8           6.5          3.0
17           1.4           6.1          2.6
18           1.5           6.0          2.2
19           2.0           6.5          3.0
20           1.9           7.4          2.8
21           2.3           7.7          3.0
22           2.5           7.2          3.6
23           2.1           7.1          3.0
24           2.5           6.3          3.3
25           1.5           6.3          2.8
26           1.9           5.8          2.7
27           1.8           7.2          3.2
28           2.5           6.7          3.3
29           2.3           7.7          2.6
..           ...           ...          ...
75           0.2           5.4          3.7
76           0.2           5.1          3.4
77           0.2           4.8          3.4
78           0.4           5.1          3.7
79           0.1           4.9          3.1
80           0.2           4.4          3.2
81           0.2           5.5          3.5
82           0.3           5.1          3.5
83           0.2           5.0          3.3
84           0.2           4.8          3.4
85           0.2           4.6          3.1
86           0.3           4.8          3.0
87           0.6           5.0          3.5
88           0.2           5.2          3.5
89           0.1           4.9          3.1
90           0.2           5.5          4.2
91           0.4           5.4          3.4
92           0.1           5.2          4.1
93           0.2           4.6          3.6
94           0.2           5.1          3.8
95           0.2           4.6          3.2
96           0.2           4.4          2.9
97           0.3           5.1          3.8
98           0.2           5.0          3.6
99           0.2           4.7          3.2
100          0.2           5.0          3.4
101          0.3           5.7          3.8
102          0.4           5.4          3.9
103          0.4           5.1          3.8
104          0.2           5.0          3.0

[105 rows x 3 columns]

In [81]:
csvData.loc[45:55,'petal_width':"sepal_width"]

    petal_width  sepal_length  sepal_width
45          1.0           6.0          2.2
46          1.5           6.4          3.2
47          1.2           5.5          2.6
48          1.0           5.7          2.6
49          1.6           6.3          3.3
50          1.4           6.8          2.8
51          1.5           6.2          2.2
52          1.2           5.7          3.0
53          1.1           5.1          2.5
54          1.0           5.5          2.4
55          1.4           6.7          3.1

In [83]:
excelData.dropna(inplace=True)

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
9             3. Deep Learning for images    180 mins
15              3. Deep Learning for Text    150 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
23                                  Total  18.5 hours

In [85]:
excelData.fillna(value='50 mins')

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain     50 mins
3                   Non-linear Hypothesis     50 mins
4                              perceptron     50 mins
5                   Multilayer perceptron     50 mins
6               Training a neural network     50 mins
7                  Backpropagation primer     50 mins
8                Gradients & optimization     50 mins
9             3. Deep Learning for images    180 mins
10                       CNN architecture     50 mins
11   Overview of modern CNN architectures     50 mins
12                       pre-trained CNNs     50 mins
13                      Alexnet/Googlenet     50 mins
14                            OpenCV + NN     50 mins
15              3. Deep Learning for Text    150 mins
16                                    RNN     50 mins
17                                   LSTM     50 mins
18                                    GRU     50 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                50 mins     50 mins
23                                  Total  18.5 hours

In [87]:
excelData.fillna(method='ffill')

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain    240 mins
3                   Non-linear Hypothesis    240 mins
4                              perceptron    240 mins
5                   Multilayer perceptron    240 mins
6               Training a neural network    240 mins
7                  Backpropagation primer    240 mins
8                Gradients & optimization    240 mins
9             3. Deep Learning for images    180 mins
10                       CNN architecture    180 mins
11   Overview of modern CNN architectures    180 mins
12                       pre-trained CNNs    180 mins
13                      Alexnet/Googlenet    180 mins
14                            OpenCV + NN    180 mins
15              3. Deep Learning for Text    150 mins
16                                    RNN    150 mins
17                                   LSTM    150 mins
18                                    GRU    150 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                             6.Practise    180 mins
23                                  Total  18.5 hours

In [88]:
excelData.fillna(method='bfill')

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain    180 mins
3                   Non-linear Hypothesis    180 mins
4                              perceptron    180 mins
5                   Multilayer perceptron    180 mins
6               Training a neural network    180 mins
7                  Backpropagation primer    180 mins
8                Gradients & optimization    180 mins
9             3. Deep Learning for images    180 mins
10                       CNN architecture    150 mins
11   Overview of modern CNN architectures    150 mins
12                       pre-trained CNNs    150 mins
13                      Alexnet/Googlenet    150 mins
14                            OpenCV + NN    150 mins
15              3. Deep Learning for Text    150 mins
16                                    RNN    120 mins
17                                   LSTM    120 mins
18                                    GRU    120 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                  Total  18.5 hours
23                                  Total  18.5 hours

In [89]:
excelData.drop_duplicates(subset='Syllabus')

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
3                   Non-linear Hypothesis         NaN
4                              perceptron         NaN
5                   Multilayer perceptron         NaN
6               Training a neural network         NaN
7                  Backpropagation primer         NaN
8                Gradients & optimization         NaN
9             3. Deep Learning for images    180 mins
10                       CNN architecture         NaN
11   Overview of modern CNN architectures         NaN
12                       pre-trained CNNs         NaN
13                      Alexnet/Googlenet         NaN
14                            OpenCV + NN         NaN
15              3. Deep Learning for Text    150 mins
16                                    RNN         NaN
17                                   LSTM         NaN
18                                    GRU         NaN
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                    NaN         NaN
23                                  Total  18.5 hours

In [92]:
excelData.drop_duplicates(subset='Duration',keep='last')

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                    NaN         NaN
23                                  Total  18.5 hours

In [93]:
excelData.drop_duplicates(subset='Duration',keep='first')

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
9             3. Deep Learning for images    180 mins
15              3. Deep Learning for Text    150 mins
19      4.preprocessing Techniques for DL    120 mins
23                                  Total  18.5 hours

In [97]:
def remove(i):
    if 'mins' in str(i):
        return str(i).split()[0]

In [98]:
remove('90 mins')

'90'

In [99]:
excelData['Duration'] = excelData['Duration'].apply(remove)

In [100]:
excelData

                                 Syllabus Duration
0   1. Introduction to Deep Learning (DL)       90
1     2. Neural Network (NN) introduction      240
2                   Neurons and the Brain     None
3                   Non-linear Hypothesis     None
4                              perceptron     None
5                   Multilayer perceptron     None
6               Training a neural network     None
7                  Backpropagation primer     None
8                Gradients & optimization     None
9             3. Deep Learning for images      180
10                       CNN architecture     None
11   Overview of modern CNN architectures     None
12                       pre-trained CNNs     None
13                      Alexnet/Googlenet     None
14                            OpenCV + NN     None
15              3. Deep Learning for Text      150
16                                    RNN     None
17                                   LSTM     None
18                                    GRU     None
19      4.preprocessing Techniques for DL      120
20                         5.Tools for DL      150
21                             6.Practise      180
22                                    NaN     None
23                                  Total     None

In [102]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [103]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [104]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [105]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [106]:
df1.merge(df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [109]:
pd.concat([df1,df2],ignore_index=True,sort=True)

   data1  data2 key
0    0.0    NaN   b
1    1.0    NaN   b
2    2.0    NaN   a
3    3.0    NaN   c
4    4.0    NaN   a
5    5.0    NaN   a
6    6.0    NaN   b
7    NaN    0.0   a
8    NaN    1.0   b
9    NaN    2.0   d

In [110]:
df3 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],'data1': range(6)})

In [111]:
df3

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [113]:
pd.get_dummies(df3['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [115]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham',
'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [116]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [126]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [127]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)

In [128]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon