### 15-6-19

#### Introduction

### 16-06-19

#### Data type

In [4]:
a = 5 # int
b = 3.14 # float
c = 'apple'# string
d = True # bool

In [19]:
# class of the variables

print(type(d))

<class 'bool'>

#### print function

In [14]:
print(a)

5

In [20]:
print(10)

10

In [15]:
print('hello world')

hello world

In [22]:
# hello 5
# hello apple

In [28]:
print("---------Method-1---------")
print('hello',a)
print("hello",c)

print("---------Method-2---------")
print('hello '+str(a))
print("hello "+c)

print("---------Method-3---------")
print('hello %d'%a)
print("hello %s"%c)

print("---------Method-4---------")
print('hello {}'.format(a))
print("hello {}".format(c))

---------Method-1---------
hello 5
hello apple
---------Method-2---------
hello 5
hello apple
---------Method-3---------
hello 5
hello apple
---------Method-4---------
hello 5
hello apple

In [33]:
# I bought 2kgs of apple for the cost of 25/kg and 1.5kgs of grape which cost me 45.5.
w1 = 2
w2 = 1.5
f1 = 'apple'
f2 = 'grape'
c1 = 25
c2 = 45.5

print("I bought",w1,"kgs of ",f1,"for the cost of",c1,"/kg and",w2,"kgs of",f2,"which cost me",c2)
print("I bought "+str(w1)+"kgs of "+f1+" for the cost of "+str(c1)+"/kg and "+str(w2)+"kgs of "+f2+" which cost me "+str(c2))
print("I bought %dkgs of %s for the cost of %d/kg and %0.1fkgs of %s which cost me %0.1f"%(w1,f1,c1,w2,f2,c2))
print("I bought {}kgs of {} for the cost of {}/kg and {}kgs of {} which cost me {}".format(w1,f1,c1,w2,f2,c2))

I bought 2 kgs of  apple for the cost of 25 /kg and 1.5 kgs of grape which cost me 45.5
I bought 2kgs of apple for the cost of 25/kg and 1.5kgs of grape which cost me 45.5
I bought 2kgs of apple for the cost of 25/kg and 1.5kgs of grape which cost me 45.5
I bought 2kgs of apple for the cost of 25/kg and 1.5kgs of grape which cost me 45.5

#### Task-1

assign any integer value to a variable (n) and compute the following 
        " nnn+nn+n "

##### Solution-1

In [38]:
n = 1
t1 = "%d%d%d"%(n,n,n)
t2 = "%d%d"%(n,n)
print(int(t1)+int(t2)+n)

123

##### Solution-2

In [41]:
n = '5'
int(n+n+n)+int(n+n)+int(n)

615

### 22-06-19

#### Getting input from the user

In [7]:
name = input("Enter your name : ")

Enter your name : 5

In [8]:
print(name)

5

In [11]:
print(type(int(name)))

<class 'int'>

In [12]:
name + 5

TypeError: must be str, not int

In [13]:
int(name) + 5

10

In [14]:
age = int(input("Enter your age : "))

Enter your age : 25

In [16]:
type(age)

int

### 23-06-19

####  Operators

##### arithmetic operators

        + - * / %

##### conditional operators

        < > <= >= == !=

##### Logical operators

        and or not

##### misc operators

        is, in, not in

#### Decision making

##### if-else

In [2]:
num = int(input("Enter the numerical value : "))
if num % 2 == 0:
    print("%d is the even number"%num)
else:
    print("%d is the odd number"%num)

Enter the numerical value : 78
78 is the even number

##### ladder if

In [5]:
num = int(input("Enter the numerical value : "))
if num % 2 == 0:
    print("%d is the even number"%num)
    if num <= 50:
        print("Entered number is less than 50")
    else:
        print("Entered number is greater than 50")
else:
    print("%d is the odd number"%num)

Enter the numerical value : 9
9 is the odd number

##### if-elif-else

In [8]:
num = int(input("Enter the numerical value : "))
if num % 4 == 0:
    print("divisible by 4 and also even")
elif num % 2 == 0:
    print('even')
else:
    print("odd")

Enter the numerical value : 5
odd

In [ ]:
if option == 1:
    print("rectangle")
    
elif option == 2:
    print('triangle')

### 30-06-19

#### while loop

In [1]:
while True:
    num = int(input("Enter the numerical value : "))
    if num % 4 == 0:
        print("divisible by 4 and also even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")

Enter the numerical value : 85
odd
Enter the numerical value : 94
even
Enter the numerical value : 5
odd
Enter the numerical value : 10
even
Enter the numerical value : k

ValueError: invalid literal for int() with base 10: 'k'

In [2]:
while True:
    num = int(input("Enter the numerical value : "))
    
    if num == 25:
        print("stopping")
        break
    
    if num % 4 == 0:
        print("divisible by 4 and also even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")

Enter the numerical value : 78
even
Enter the numerical value : 96
divisible by 4 and also even
Enter the numerical value : 12
divisible by 4 and also even
Enter the numerical value : 25
stopping

In [3]:
while True:
    num = int(input("Enter the numerical value : "))
    
    if num == 25:
        print("stopping")
        break
    elif num == 15:
        print("Skipping")
        continue
    
    if num % 4 == 0:
        print("divisible by 4 and also even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")

Enter the numerical value : 36
divisible by 4 and also even
Enter the numerical value : 15
Skipping
Enter the numerical value : 48
divisible by 4 and also even
Enter the numerical value : 25
stopping

In [5]:
i = 1
while i <= 3:
    num = int(input("Enter the numerical value : "))
    
    if num == 25:
        print("stopping")
        break
    elif num == 15:
        print("Skipping")
        continue
    
    if num % 4 == 0:
        print("divisible by 4 and also even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    i += 1

Enter the numerical value : 41
odd
Enter the numerical value : 15
Skipping
Enter the numerical value : 63
odd
Enter the numerical value : 12
divisible by 4 and also even

In [7]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter the numerical value : "))
    
    if num == 25:
        print("stopping")
        break
    elif num == 15:
        print("Skipping")
        continue
    
    if num % 4 == 0:
        print("divisible by 4 and also even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    
    opt = input("Do you want to continue? y/n :")

Enter the numerical value : 15
Skipping
Enter the numerical value : 24
divisible by 4 and also even
Do you want to continue? y/n :n

#### Task -> Rock paper scissor game

Rules:-
    
    1. rock beats scissor
    2. scissor beats paper
    3. paper beats rock

### 2019-07-06

#### String slicing

In [1]:
name = "elephant"
sent = "peacock is our national bird"

In [3]:
name[1]

'l'

In [4]:
name[-1]

't'

In [5]:
len(name)

8

In [6]:
name[0]

'e'

In [7]:
name[7]

't'

In [8]:
name[1:5]

'leph'

In [11]:
sent[3:12]

'cock is o'

In [12]:
name[:5]

'eleph'

In [13]:
name[2:]

'ephant'

In [18]:
sent[3:13]

'cock is ou'

In [19]:
sent[3:13:4]

'c o'

In [20]:
name[::]

'elephant'

In [21]:
name[::-1]

'tnahpele'

#### String function

In [22]:
print(name)

elephant

In [23]:
name.capitalize()

'Elephant'

In [24]:
sent.capitalize()

'Peacock is our national bird'

In [26]:
print(name.casefold())

elephant

In [30]:
name.center(25,'*')

'*********elephant********'

In [32]:
name.count('t')

1

In [33]:
sent.count('o')

3

In [36]:
'hello good'.encode('utf16').decode('utf16')

'hello good'

In [39]:
name.endswith('nt') , name.startswith('El')

(True, False)

In [40]:
name

'elephant'

In [44]:
"i\tam".expandtabs(1)

'i am'

In [45]:
name.find('n')

6

In [46]:
name[6]

'n'

In [47]:
name.index('p')

3

### 2019-07-13

In [2]:
name.isalnum()

True

In [3]:
name

'elephant'

In [4]:
name.isalpha()

True

In [5]:
name.isdecimal()

False

In [7]:
'if'.isidentifier()

True

In [8]:
name.isidentifier()

True

In [10]:
''.isspace()

False

In [11]:
sent

'peacock is our national bird'

In [12]:
sent.title()

'Peacock Is Our National Bird'

In [14]:
'Peacock Is our National Bird'.istitle()

False

In [15]:
name.replace('e','S')

'SlSphant'

In [16]:
name.lower()

'elephant'

In [17]:
name.upper()

'ELEPHANT'

In [18]:
name.title()

'Elephant'

In [24]:
name = " elephant "

In [25]:
name.lstrip()

'elephant '

In [26]:
name.rstrip()

' elephant'

In [27]:
name.strip()

'elephant'

In [28]:
name.zfill(78)

'00000000000000000000000000000000000000000000000000000000000000000000 elephant '

In [29]:
len('00000000000000000000000000000000000000000000000000000000000000000000 elephant ')

78

In [30]:
sent

'peacock is our national bird'

In [39]:
s = sent.split('o')

In [40]:
s

['peac', 'ck is ', 'ur nati', 'nal bird']

In [36]:
'o'.join(s)

'peacock is our national bird'

In [41]:
statement = "python is the high level programming language ."
output = " . language programming level high the is python "

In [42]:
new = statement.split()

In [43]:
print(new)

['python', 'is', 'the', 'high', 'level', 'programming', 'language', '.']

In [45]:
' '.join(new[::-1])

'. language programming level high the is python'

#### Exercise url

https://www.w3resource.com/python-exercises/