Reference Links:
    
    Cheatsheet :- http://bit.ly/AIcheatsheet
    Books :- http://bit.ly/AI_material
    GitHub :- http://bit.ly/AI_repos
    String methods:- http://bit.ly/stringMethods
    Exercise:- https://www.w3resource.com/python-exercises/ , https://www.practicepython.org/
    Exception methods:- http://bit.ly/exceptionNames
    python standard:- http://bit.ly/pythonStyle
    DIP Book:- http://bit.ly/bookDIP

Content:
     
    First week
        Python

    Second Week
        ML Deployment overview
        ML Implementation - 4-5 algorithms 
        ML Deployment for same algorithms
        Docker
   
    Third Week
       DL Implementation and its deployment
       AWS Sagemaker

7 steps of implementation

    1. Load dataset
    2. Split dataset (70:30)
    3. Define an algorithm
    4. Training
    5. Validation
    6. Tuning
    7. Cross validation

IDE I use
    
    pycharm -> industry 
    
    notebook -> teaching and research

ML Application Technologies

    1. Image processing with ML -> DIP, opencv , tensorflow
    2. NLP (NLU and NLG) -> tensorflow, NLP
    3. Robotics -> Mechatronics background
    4. Medical diagnosis -> medical background

In [6]:
a = 5
b = 2
print(a+b)

7

In [8]:
a = 5 # int
b = 3.14  # float
c = 'apple' # string
d = True  # bool

In [9]:
a ,A = 5,6

In [16]:
# getting input and displaying output
name = input("Enter your name :")
age = int(input("Enter your age :"))
print(name, age)

Enter your name :ss
Enter your age :12
ss 12

In [17]:
print(type(name),type(age))

<class 'str'> <class 'int'>

In [ ]:
+ - * / % //

< > <= >=  == !=

and not or

In [20]:
num = float(input("Enter any number: "))
if num % 2 == 0:
    print('Number is even')
else:
    print("Number is odd")

Enter any number: 31
Number is odd

In [23]:
num = float(input("Enter any number: "))
if num % 4 == 0:
    print("Number is divisible by 4 and even")
elif num % 2 == 0:
    print('Number is even')
else:
    print("Number is odd")

Enter any number: 5
Number is odd

In [24]:
i = 1
while i < 5:
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('Number is even')
    else:
        print("Number is odd")
    
    i+= 1 # i = i + 1

Enter any number: 12
Number is divisible by 4 and even
Enter any number: 32
Number is divisible by 4 and even
Enter any number: 45
Number is odd
Enter any number: 56
Number is divisible by 4 and even

In [25]:
opt = 'y'
while opt == 'y':
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('Number is even')
    else:
        print("Number is odd")
    opt = input("Do you want to continue? y/n: ")

Enter any number: 45
Number is odd
Do you want to continue? y/n: y
Enter any number: 12
Number is divisible by 4 and even
Do you want to continue? y/n: n

In [29]:
while True:
    num = float(input("Enter any number: "))
    
    if num == 15 or num == 45:
        print("Stopping......")
        break
    elif num == 25:
        print("Skipping......")
        continue
        
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('Number is even')
    else:
        print("Number is odd")

Enter any number: 78
Number is even
Enter any number: 324
Number is divisible by 4 and even
Enter any number: 45
Stopping......

                                        HW-1
Write a python code for rock-paper-scissor game.use the following rules to predict the winner
        
        rock beats scissor
        scissor beats paper
        paper beats rock

In [30]:
name = 'elephant'
sent = 'elephant is an animal'

In [34]:
name[3], name[-5]

('p', 'p')

In [35]:
name[:3]

'ele'

In [36]:
name[3:]

'phant'

In [37]:
name[2:6]

'epha'

In [38]:
name[2:6:2]

'eh'

In [40]:
sent[2:14:2]

'ehn sa'

In [41]:
len(name)

8

In [45]:
sent.capitalize()

'Elephant is an animal'

In [46]:
sent.title()

'Elephant Is An Animal'

In [47]:
sent.isalnum()

False

In [51]:
name.islower()

True

In [52]:
name.replace('p','y')

'eleyhant'

In [53]:
L = [] # list()

In [54]:
l = ['a','b','c',1,2,3,'apple','mango','kiwi',2.34]

In [55]:
l[6]

'apple'

In [57]:
l[5] = 4

In [58]:
l

['a', 'b', 'c', 1, 2, 4, 'apple', 'mango', 'kiwi', 2.34]

In [59]:
del l[4]

In [60]:
l

['a', 'b', 'c', 1, 4, 'apple', 'mango', 'kiwi', 2.34]

In [61]:
len(l)

9

In [64]:
name[::-1]

'tnahpele'

In [65]:
l[::-1]

[2.34, 'kiwi', 'mango', 'apple', 4, 1, 'c', 'b', 'a']

In [66]:
l.append("papaya")

In [67]:
l

['a', 'b', 'c', 1, 4, 'apple', 'mango', 'kiwi', 2.34, 'papaya']

In [68]:
l.insert(4, 'banana')

In [70]:
l.index('banana')

4

In [71]:
g = l

In [72]:
g

['a', 'b', 'c', 1, 'banana', 4, 'apple', 'mango', 'kiwi', 2.34, 'papaya']

In [73]:
l.pop()

'papaya'

In [76]:
f = l.copy()

In [78]:
f.remove(2.34)

In [79]:
f

['a', 'b', 'c', 1, 'banana', 4, 'apple', 'mango', 'kiwi']

In [80]:
l

['a', 'b', 'c', 1, 'banana', 4, 'apple', 'mango', 'kiwi', 2.34]

In [82]:
L.extend(f)

In [83]:
f

['a', 'b', 'c', 1, 'banana', 4, 'apple', 'mango', 'kiwi']

In [84]:
L

['a', 'b', 'c', 1, 'banana', 4, 'apple', 'mango', 'kiwi']

In [89]:
l.remove(2.34)

In [93]:
l.sort(reverse=True)

In [94]:
l

['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']

In [95]:
for i in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [96]:
for _ in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [98]:
for i in range(10,25,2):
    print(i)

10
12
14
16
18
20
22
24

In [99]:
for _ in range(len(name)):
    print('hi')

hi
hi
hi
hi
hi
hi
hi
hi

In [100]:
for i in name:
    print(i)

e
l
e
p
h
a
n
t

In [101]:
for i in l:
    print(i)

mango
kiwi
c
banana
b
apple
a

In [103]:
for i,ele in enumerate(name):
    print(i,ele)

0 e
1 l
2 e
3 p
4 h
5 a
6 n
7 t

In [104]:
for i,ele in enumerate(l):
    print(i,' -> ',ele)

0  ->  mango
1  ->  kiwi
2  ->  c
3  ->  banana
4  ->  b
5  ->  apple
6  ->  a

In [106]:
for i,j in zip(f,l):
    print(i,j)

a mango
b kiwi
c c
1 banana
banana b
4 apple
apple a

In [109]:
for i in zip(f,l):
    print(i)

('a', 'mango')
('b', 'kiwi')
('c', 'c')
(1, 'banana')
('banana', 'b')
(4, 'apple')
('apple', 'a')

In [107]:
f

['a', 'b', 'c', 1, 'banana', 4, 'apple', 'mango', 'kiwi']

In [108]:
l

['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']

                                    HW-2
write a python code for Hangman game.

    Note: refer to the demo

In [110]:
D = {} # dict()

In [111]:
d = {'a':'apple', 'b':'ball', 2:name,3.14:l}

In [112]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'elephant',
 3.14: ['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']}

In [113]:
d['a']

'apple'

In [114]:
d[2]

'elephant'

In [116]:
d['b'] ='bat'

In [117]:
d

{'a': 'apple',
 'b': 'bat',
 2: 'elephant',
 3.14: ['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']}

In [118]:
del d[2]

In [119]:
d

{'a': 'apple',
 'b': 'bat',
 3.14: ['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']}

In [120]:
d['p'] = 'papaya'

In [121]:
d

{'a': 'apple',
 'b': 'bat',
 3.14: ['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a'],
 'p': 'papaya'}

In [124]:
d.get('a',"No Key")

'apple'

In [122]:
d['y']

KeyError: 'y'

In [128]:
D.update(d)

In [130]:
l

['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']

In [132]:
dict.fromkeys(l,"test")

{'mango': 'test',
 'kiwi': 'test',
 'c': 'test',
 'banana': 'test',
 'b': 'test',
 'apple': 'test',
 'a': 'test'}

In [133]:
for k in d.keys():
    print(k)

a
b
3.14
p

In [134]:
for v in d.values():
    print(v)

apple
bat
['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']
papaya

In [135]:
for k,v in d.items():
    print(k," -> ",v)

a  ->  apple
b  ->  bat
3.14  ->  ['mango', 'kiwi', 'c', 'banana', 'b', 'apple', 'a']
p  ->  papaya

In [136]:
name

'elephant'

In [137]:
list('elephant')

['e', 'l', 'e', 'p', 'h', 'a', 'n', 't']

In [10]:
import math
import pandas as pd
from math import sin,factorial,sqrt
from matplotlib.pyplot import *
from test import testFunction

In [2]:
math.sqrt(13)

3.605551275463989

In [3]:
math.factorial(5)

120

In [6]:
pd.Series()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [8]:
sqrt(45)

6.708203932499369

In [9]:
sin(90)

0.8939966636005579

seaborn matplotlib plotly

In [12]:
# v.saravanakumar hangman python program
words = {
    1: 'welcome',
    2: 'vanakam',
    3: 'machine learning',
    4: 'python',
    5: 'king cobra'
}
count = 0
print("Vanakam Vanga Hangman game veliyadunga")
no = int(eval(input("ENter choice between 1-5 : ")))
text = list(words.get(no, words[1]))
l = len(text)
ptext = []
for i in range(0, l):
    ptext.append('-')

for i in range(0, l):
    if text[i] == ' ':
        ptext[i] = ' '

while ptext != text:
    print(ptext)
    count += 1
    try:
        s = input("GUess the letter of word : ")
    except:
        print("There is some error in the input. Please re-try.")
        continue
    countl = [i for i, x in enumerate(text) if x == s]
    print(countl)
    for i in range(0, len(countl)):
        ptext[countl[i]] = s
        print(ptext)
    if s == '0':
        break
    print(("No of trys: ", count))

Vanakam Vanga Hangman game veliyadunga
ENter choice between 1-5 : 6
['-', '-', '-', '-', '-', '-', '-']
GUess the letter of word : w
[0]
['w', '-', '-', '-', '-', '-', '-']
('No of trys: ', 1)
['w', '-', '-', '-', '-', '-', '-']
GUess the letter of word : e
[1, 6]
['w', 'e', '-', '-', '-', '-', '-']
['w', 'e', '-', '-', '-', '-', 'e']
('No of trys: ', 2)
['w', 'e', '-', '-', '-', '-', 'e']
GUess the letter of word : l
[2]
['w', 'e', 'l', '-', '-', '-', 'e']
('No of trys: ', 3)
['w', 'e', 'l', '-', '-', '-', 'e']
GUess the letter of word : c
[3]
['w', 'e', 'l', 'c', '-', '-', 'e']
('No of trys: ', 4)
['w', 'e', 'l', 'c', '-', '-', 'e']
GUess the letter of word : o
[4]
['w', 'e', 'l', 'c', 'o', '-', 'e']
('No of trys: ', 5)
['w', 'e', 'l', 'c', 'o', '-', 'e']
GUess the letter of word : m
[5]
['w', 'e', 'l', 'c', 'o', 'm', 'e']
('No of trys: ', 6)

In [3]:
try:
    print(x)
except Exception as e:
    print("There is an error:", e)
print("Hello world!!!!")

There is an error: name 'x' is not defined
Hello world!!!!

In [13]:
try:
    print(x)
except NameError as e:
    print("There is a name error:", e)
    x = 6
except TypeError as e:
    print("There is a type error:", e)
except Exception as e:
    print("General error")
print("Hello world!!!!")

6
Hello world!!!!

In [16]:
try:
    num = float(input("Enter any number : "))
except ValueError:
    print("You have entered string.Please enter numeric value")
    num = float(input("Enter any number : "))

Enter any number : d
You have entered string.Please enter numeric value
Enter any number : 12

In [20]:
num = input("Enter any number : ")

if num.isalpha() or not num.isdigit():
    raise ValueError("You have entered string.Please enter numeric value")

Enter any number : 12

In [27]:
# without any arg and without returns
def addition():
    a = float(eval(input("a : ")))
    b = float(eval(input("b : ")))
    print((a + b, round(a * b,2)))

In [29]:
# without any arg and with returns
def addition():
    a = float(eval(input("a : ")))
    b = float(eval(input("b : ")))
    return a + b, round(a * b, 2)

In [35]:
# with any arg and with returns
def addition(a,b):
    return a + b, round(a * b, 2)

In [36]:
c = float(eval(input("a : ")))
d = float(eval(input("b : ")))

a : 5
b : 8

In [39]:
# with any arg and with returns also with default value
def addition(b,a=5):
    return a + b, round(a * b, 2)

In [40]:
ans = addition(c)

In [37]:
ans = addition(c,d)

In [42]:
ans = addition(2.52,2.67)

In [43]:
ans

(5.1899999999999995, 6.73)

In [32]:
s,m = addition()

a : 3
b : 4

In [34]:
m

12.0

In [44]:
f = lambda a,b : a+b

In [46]:
s = lambda s : str(s).upper()

In [45]:
f(4,5)

9

In [47]:
s('apple')

'APPLE'

In [48]:
l = [None,2,None,3,4,5,None]

In [51]:
l = [False,2,False,3,4,5,False]

In [50]:
list(filter(None,l))

[2, 3, 4, 5]

In [52]:
list(filter(bool,l))

[2, 3, 4, 5]

In [53]:
numbers = list(range(1,20))

In [54]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [65]:
def isPrime(num):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        if num > 2:
            return num

In [66]:
isPrime(13)

13

In [60]:
primeNumbers = []
for i in numbers:
    if i > 2 and isPrime(i):
        primeNumbers.append(i)

In [61]:
primeNumbers

[3, 5, 7, 11, 13, 17, 19]

In [62]:
[i for i in numbers if i > 2 and isPrime(i)]

[3, 5, 7, 11, 13, 17, 19]

In [69]:
list(filter(None, map(isPrime, numbers)))

[3, 5, 7, 11, 13, 17, 19]

In [72]:
def addition(a, b, c=None):
    if c:
        return a + b + c
    else:
        return a + b

In [73]:
addition(3,4,5)

12

In [74]:
def addition(a, b):
    return a + b

In [76]:
from functools import reduce

In [78]:
reduce?

In [79]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [80]:
sum(numbers)

190

In [ ]:
txt, csv, tsv, excel, image, json

In [ ]:
import cv2

# Get user supplied values
imagePath = '/Users/sharma/CV2 examples/girls.jpg'

# Read the image
image = cv2.imread(imagePath)

gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
edge = cv2.Canny(image,200,300)

img_copy = image.copy()
cv2.rectangle(img_copy, pt1 = (140, 92), pt2 = (620, 240), color = (255, 0, 0), thickness = 5)
cv2.putText(img_copy, "this is sample text", (250, 120), cv2.FONT_HERSHEY_SIMPLEX, 0.7, color=(0, 0, 255), thickness = 2)

croped_image =  image[140:600,100:235]
resized_image =  cv2.resize(image,(100,100))

blurred = cv2.blur(image,(1,20))

cv2.imshow("original image", image)
cv2.imshow("gray image", gray)
cv2.imshow("edge image", edge)
cv2.imshow("rectangle", img_copy)
cv2.imshow("Cropped image",croped_image)
cv2.imshow("resized image",resized_image)
cv2.imshow("blurred image",blurred)

cv2.waitKey(0)

In [81]:
import json

In [86]:
json.load(open('test.json'))

{'name': 'Products',
 'industryId': '1234',
 'intents': ['Do you offer', 'Need info']}

In [84]:
dictExample = {
    'name': 'Products',
    'industryId': '1234',
    'intents': ['Do you offer', 'Need info']
}

In [85]:
json.dump(dictExample, open('test.json','w'))

In [95]:
inputFile = open("msmeTxtFile.txt",'a')

In [92]:
inputFile.write("Hey,bonjour!!!\n")

15

In [96]:
inputFile.writelines("yeah am doing great\n")

In [97]:
inputFile.close()

In [114]:
outputFile =  open("msmeTxtFile.txt",'r')

In [107]:
outputFile.readlines()

['Hey,bonjour!!!\n', 'how do you doing?\n', 'yeah am doing great\n']

In [113]:
outputFile.read().splitlines()

['Hey,bonjour!!!', 'how do you doing?', 'yeah am doing great']

In [115]:
outputFile.read()

'Hey,bonjour!!!\nhow do you doing?\nyeah am doing great\n'

In [116]:
import pandas as pd

In [117]:
csvFile = pd.read_csv("train.csv")

In [120]:
csvFile.head(6)

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4
3  Iris-virginica           4.8          1.8           6.0          3.0
4  Iris-virginica           5.1          2.3           6.9          3.1
5  Iris-virginica           5.6          2.4           6.3          3.4

In [121]:
csvFile.shape

(105, 5)

In [122]:
csvFile.columns

Index(['class', 'petal_length', 'petal_width', 'sepal_length', 'sepal_width'], dtype='object')

In [123]:
csvFile.describe()

       petal_length  petal_width  sepal_length  sepal_width
count    105.000000   105.000000    105.000000   105.000000
mean       3.748571     1.196190      5.830476     3.057143
std        1.753519     0.765723      0.800015     0.449969
min        1.000000     0.100000      4.400000     2.000000
25%        1.500000     0.300000      5.100000     2.800000
50%        4.400000     1.300000      5.700000     3.000000
75%        5.100000     1.800000      6.400000     3.400000
max        6.900000     2.500000      7.700000     4.400000

In [124]:
csvFile.groupby('class').count()

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa                35           35            35           35
Iris-versicolor            35           35            35           35
Iris-virginica             35           35            35           35

In [125]:
tsvFile = pd.read_csv("labeledTrainData.tsv",sep="\t")

In [126]:
tsvFile.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [129]:
excelFile = pd.read_excel("Course Syllabus.xlsx",sheet_name="Deep Learning")

In [130]:
excelFile.head()

                                Syllabus  Duration
0  1. Introduction to Deep Learning (DL)   90 mins
1    2. Neural Network (NN) introduction  240 mins
2                  Neurons and the Brain       NaN
3                  Non-linear Hypothesis       NaN
4                             perceptron       NaN

In [134]:
csvFile[['petal_length','sepal_length']].head()

   petal_length  sepal_length
0           5.5           6.4
1           5.9           6.8
2           5.4           6.2
3           4.8           6.0
4           5.1           6.9

In [137]:
csvFile.drop(columns='class')

     petal_length  petal_width  sepal_length  sepal_width
0             5.5          1.8           6.4          3.1
1             5.9          2.3           6.8          3.2
2             5.4          2.3           6.2          3.4
3             4.8          1.8           6.0          3.0
4             5.1          2.3           6.9          3.1
..            ...          ...           ...          ...
100           1.5          0.2           5.0          3.4
101           1.7          0.3           5.7          3.8
102           1.3          0.4           5.4          3.9
103           1.9          0.4           5.1          3.8
104           1.6          0.2           5.0          3.0

[105 rows x 4 columns]

In [140]:
tsvFile.drop(columns='id',inplace=True)

In [141]:
tsvFile

       sentiment                                             review
0              1  With all this stuff going down at the moment w...
1              1  \The Classic War of the Worlds\" by Timothy Hi...
2              0  The film starts with a manager (Nicholas Bell)...
3              0  It must be assumed that those who praised this...
4              1  Superbly trashy and wondrously unpretentious 8...
...          ...                                                ...
24995          0  It seems like more consideration has gone into...
24996          0  I don't believe they made this film. Completel...
24997          0  Guy is a loser. Can't get girls, needs to buil...
24998          0  This 30 minute documentary Buuel made in the ...
24999          1  I saw this movie as a child and it broke my he...

[25000 rows x 2 columns]

In [144]:
excelFile.fillna(value="60 mins")

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain     60 mins
3                   Non-linear Hypothesis     60 mins
4                              perceptron     60 mins
5                   Multilayer perceptron     60 mins
6               Training a neural network     60 mins
7                  Backpropagation primer     60 mins
8                Gradients & optimization     60 mins
9             3. Deep Learning for images    180 mins
10                       CNN architecture     60 mins
11   Overview of modern CNN architectures     60 mins
12                       pre-trained CNNs     60 mins
13                      Alexnet/Googlenet     60 mins
14                            OpenCV + NN     60 mins
15              3. Deep Learning for Text    150 mins
16                                    RNN     60 mins
17                                   LSTM     60 mins
18                                    GRU     60 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                60 mins     60 mins
23                                  Total  18.5 hours

In [147]:
excelFile.fillna(method="bfill")

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain    180 mins
3                   Non-linear Hypothesis    180 mins
4                              perceptron    180 mins
5                   Multilayer perceptron    180 mins
6               Training a neural network    180 mins
7                  Backpropagation primer    180 mins
8                Gradients & optimization    180 mins
9             3. Deep Learning for images    180 mins
10                       CNN architecture    150 mins
11   Overview of modern CNN architectures    150 mins
12                       pre-trained CNNs    150 mins
13                      Alexnet/Googlenet    150 mins
14                            OpenCV + NN    150 mins
15              3. Deep Learning for Text    150 mins
16                                    RNN    120 mins
17                                   LSTM    120 mins
18                                    GRU    120 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                  Total  18.5 hours
23                                  Total  18.5 hours

In [148]:
df = pd.DataFrame()

In [150]:
df['State'] = ['Tamilnadu','Kerala','Andhra Pradesh']

In [153]:
df['Shortcode'] = ['TN','KL','AP']

In [154]:
df

            State Shortcode
0       Tamilnadu        TN
1          Kerala        KL
2  Andhra Pradesh        AP

In [ ]:
df.to_csv("msme.csv")
df.to_csv("msme.tsv",sep="\t")
df.to_excel("msme.xlsx",sheet_name="testing")

In [155]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham',
'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [156]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [157]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [158]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)

In [159]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon