### Links

* This notebook :- https://bit.ly/MSME_July_2022

* String method :-https://www.tutorialspoint.com/python3/python_strings.htm

* Built-in functions :- https://www.w3schools.com/python/python_ref_functions.asp
* Exception :- https://www.tutorialspoint.com/python/python_exceptions.htm
* Books :- http://bit.ly/AI_material
* Exercise :- https://www.w3resource.com/python-exercises/
* Inbuilt Libraries :- https://docs.python.org/3.6/py-modindex.html
* cheatsheets :- http://bit.ly/AIcheatsheet

### Difference between C/C++ and python

In [ ]:
#include <stdio.h>
int main() {
   printf("Hello, World!");
   return 0;
}

In [3]:
print("Hello, World!")

Hello, World!

### Datatypes

In [5]:
a = 5 # int
b = 3.14 # float
c = "apple" # string
d = False # bool

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Variables

Dont's

    1. Int as variable
    2. Case sensitive

cutomerName, customer_name, name1, _name,

### print function

In [18]:
print("apple")
print(a)
print(b,c)

apple
5
3.14 apple

In [23]:
# hello 5
# hello apple

print("Method-1")
print("hello",a)
print("hello",c)

print("-------------")
print("Method-2")
print("hello "+ str(a))
print("hello "+ c)

print("-------------")
print("Method-3")
print("hello %d"%a)
print("hello %s"%c)

print("-------------")
print("Method-4")
print("hello {}".format(a))
print("hello {}".format(c))

Method-1
hello 5
hello apple
-------------
Method-2
hello 5
hello apple
-------------
Method-3
hello 5
hello apple
-------------
Method-4
hello 5
hello apple

In [24]:
print("hello %d %s"%(a,c))

print("hello {} {}".format(a, c))

hello 5 apple
hello 5 apple

### Typecasting

In [30]:
# int to str
print(type(str(50)))

# str to int
print(type(int('50')), type('50'))

# int to float
print(float(5))

# float to int
print(int(3.14))

<class 'str'>
<class 'int'> <class 'str'>
5.0
3

### Task-1

In [31]:
# I bought 2kgs of orange for 125.45Rs
w = 2
f = 'orange'
p = 125.45

In [38]:
print("I bought",w,"kgs of",f,"for",p,"Rs")
print("I bought "+str(w)+"kgs of "+f+" for "+ str(p)+"Rs")
print("I bought %dkgs of %s for %0.2fRs"%(w,f,p))
print("I bought {}kgs of {} for {}Rs".format(w,f,p))

I bought 2 kgs of orange for 125.45 Rs
I bought 2kgs of orange for 125.45Rs
I bought 2kgs of orange for 125.45Rs
I bought 2kgs of orange for 125.45Rs

### input function (Getting input from the user)

In [42]:
name = input("Please enter the name: ")
age = input("please enter the age: ")

Please enter the name: abcd
please enter the age: 12.45

In [43]:
print(name, age)

abcd 12.45

In [44]:
print(type(name), type(age))

<class 'str'> <class 'str'>

### if-else

In [49]:
num = float(input("Please enter any number: "))
if num % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Please enter any number: 11
Number is odd

In [52]:
num = float(input("Please enter any number: "))
if num % 4 == 0:
    print("Number is divisible by 4 and even")
elif num % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Please enter any number: 5
Number is odd

In [55]:
num = float(input("Please enter any number: "))
if num % 2 == 0:
    print("Number is even")
    if num % 4 == 0:
        print("It is also divisible by 4")
else:
    print("Number is odd")
print()

Please enter any number: 5
Number is odd

In [56]:
i = 0
while i < 5:
    num = float(input("Please enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")
    i += 1

Please enter any number: 20
Number is divisible by 4 and even
Please enter any number: 10
Number is even
Please enter any number: 5
Number is odd
Please enter any number: 3
Number is odd
Please enter any number: 1
Number is odd

In [60]:
choice = 'y'
while choice == 'y':
    num = float(input("Please enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")
    choice = input("Do you want to try again? y/n: ")        
else:
    print("Thank you!!")

Please enter any number: 32
Number is divisible by 4 and even
Do you want to try again? y/n: n
Thank you!!

### HW-1

Write a python program for rock-paper-scissor game. Based on the following rules,

    rock beats scissor
    scissor beats paper
    paper beats rock

In [ ]:
while True:
    user = input("Enter your player-1 :")
    if user == "quit" or user == "q":
        print("Good Bye....")
        break
        
    comp = input("Enter your player-2 :")
    if comp == "quit" or comp == "q":
        print("Good Bye....")
        break
        
    print("player_1 choice is ", user, "and player_2 choice is ", comp)
    if user == comp:
        print("Game is tie")
        continue
    elif user == "rock":
        if comp == "scissor":
            print("user won the game")
        else:
            print("Computer won the game")
    elif user == "scissor":
        if comp=="paper":
            print ("user won the game")
        else:
            print ("computer won the game")
    elif user=="paper":
        if comp=="rock":
            print ("user won the game")
        else:
            print ("computer won the game")
    else:
        print ("Have a nice day....!!!")

### string functions

In [61]:
animal = "elephant"
statement = "Write a python program for rock-paper-scissor game. Based on the following rules,"

#### Slice and Dice

In [67]:
print(animal[4])
print(animal[4:])
print(animal[:4])
print(len(animal))
print(animal[2:6])
print(animal[::-1])

h
hant
elep
8
epha
tnahpele

#### string methods

In [69]:
print((animal.upper(), animal.lower(), statement.title(), animal.capitalize(),
       statement.swapcase()))

('ELEPHANT', 'elephant', 'Write A Python Program For Rock-Paper-Scissor Game. Based On The Following Rules,', 'Elephant', 'wRITE A PYTHON PROGRAM FOR ROCK-PAPER-SCISSOR GAME. bASED ON THE FOLLOWING RULES,')

In [71]:
print((animal.center(20, "~"), animal.count("e"), "1234".zfill(6)))

('~~~~~~elephant~~~~~~', 2, '001234')

In [72]:
print(statement.find("game"), statement.index("game"))

46 46

In [73]:
print(statement.find("games"))

-1

In [75]:
print(statement.index("games"))

ValueError: substring not found

In [77]:
print(statement.split('.'))

['Write a python program for rock-paper-scissor game', ' Based on the following rules,']

In [78]:
print(".".join(statement.split('.')))

Write a python program for rock-paper-scissor game. Based on the following rules,

In [79]:
animal.isalnum()

True

In [84]:
"12".isdigit()

True

### list, tuple, dict

#### list

In [85]:
L = []
l = ['a','b','apple','papaya','cherry', 12,56,73, 3.14, 4,2]

##### Slice and Dice

In [86]:
l [4]

'cherry'

In [87]:
l [4] = "berry"

In [89]:
print(l)

['a', 'b', 'apple', 'papaya', 'berry', 12, 56, 73, 3.14, 4, 2]

In [90]:
del l[1]

In [91]:
print(l)

['a', 'apple', 'papaya', 'berry', 12, 56, 73, 3.14, 4, 2]

##### Methods

In [92]:
l.append("carrot")

In [94]:
l.insert(3,"mango")

In [95]:
l

['a', 'apple', 'papaya', 'mango', 'berry', 12, 56, 73, 3.14, 4, 2, 'carrot']

In [96]:
l.pop()

'carrot'

In [97]:
l.remove('a')

In [98]:
l

['apple', 'papaya', 'mango', 'berry', 12, 56, 73, 3.14, 4, 2]

In [100]:
l.reverse()

In [102]:
l[::-1]

['apple', 'papaya', 'mango', 'berry', 12, 56, 73, 3.14, 4, 2]

In [103]:
l

[2, 4, 3.14, 73, 56, 12, 'berry', 'mango', 'papaya', 'apple']

In [104]:
f = l

In [105]:
f

[2, 4, 3.14, 73, 56, 12, 'berry', 'mango', 'papaya', 'apple']

In [106]:
f.remove(2)

In [107]:
f

[4, 3.14, 73, 56, 12, 'berry', 'mango', 'papaya', 'apple']

In [108]:
l

[4, 3.14, 73, 56, 12, 'berry', 'mango', 'papaya', 'apple']

In [109]:
g = l.copy()

In [112]:
g.remove(4)

In [113]:
g

[3.14, 73, 56, 12, 'berry', 'mango', 'papaya', 'apple']

In [114]:
l

[4, 3.14, 73, 56, 12, 'berry', 'mango', 'papaya', 'apple']

In [115]:
g.clear()

In [116]:
g

[]

In [117]:
L

[]

In [118]:
L.extend(['berry', 'mango', 'papaya', 'apple'])

In [119]:
L

['berry', 'mango', 'papaya', 'apple']

In [120]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [123]:
L.sort(reverse=True)

In [124]:
L

['papaya', 'mango', 'berry', 'apple']

#### Tuple

In [125]:
t = ('papaya', 'mango', 'berry', 'apple')

In [127]:
type(t), type(L)

(tuple, list)

In [129]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [130]:
t[0] = 'abc'

TypeError: 'tuple' object does not support item assignment

#### Dictionary

In [131]:
D = {}

In [132]:
d = {"a":"apple", "b":1234, 3.1:"cat", 12:54, "t":t,"l":l}

In [133]:
d

{'a': 'apple',
 'b': 1234,
 3.1: 'cat',
 12: 54,
 't': ('papaya', 'mango', 'berry', 'apple'),
 'l': [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple']}

In [134]:
d.keys()

dict_keys(['a', 'b', 3.1, 12, 't', 'l'])

In [135]:
d.values()

dict_values(['apple', 1234, 'cat', 54, ('papaya', 'mango', 'berry', 'apple'), [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple']])

In [136]:
d['f'] = "fish"

In [137]:
d

{'a': 'apple',
 'b': 1234,
 3.1: 'cat',
 12: 54,
 't': ('papaya', 'mango', 'berry', 'apple'),
 'l': [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple'],
 'f': 'fish'}

In [138]:
del d[12]

In [139]:
d

{'a': 'apple',
 'b': 1234,
 3.1: 'cat',
 't': ('papaya', 'mango', 'berry', 'apple'),
 'l': [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple'],
 'f': 'fish'}

In [140]:
d.items()

dict_items([('a', 'apple'), ('b', 1234), (3.1, 'cat'), ('t', ('papaya', 'mango', 'berry', 'apple')), ('l', [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple']), ('f', 'fish')])

In [142]:
D.update(d)

In [143]:
D

{'a': 'apple',
 'b': 1234,
 3.1: 'cat',
 't': ('papaya', 'mango', 'berry', 'apple'),
 'l': [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple'],
 'f': 'fish'}

### for loop

In [144]:
for i in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [145]:
for i in range(5):
    print(i)

0
1
2
3
4

In [146]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [147]:
for _ in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [148]:
for ele in animal:
    print(ele)

e
l
e
p
h
a
n
t

In [153]:
for i,j in zip(l,f[:5]):
    print(i,j)

3.14 3.14
4 4
12 12
56 56
73 73

In [154]:
for k in d.keys():
    print(k)

a
b
3.1
t
l
f

In [155]:
for v in d.values():
    print(v)

apple
1234
cat
('papaya', 'mango', 'berry', 'apple')
[3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple']
fish

In [156]:
for k,v in d.items():
    print(k,"-->",v)

a --> apple
b --> 1234
3.1 --> cat
t --> ('papaya', 'mango', 'berry', 'apple')
l --> [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple']
f --> fish

In [158]:
for _ in range(5):
    num = float(input("Please enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

Please enter any number: 12
Number is divisible by 4 and even
Please enter any number: 34
Number is even
Please enter any number: 12
Number is divisible by 4 and even
Please enter any number: 233
Number is odd
Please enter any number: 43
Number is odd
Done

In [159]:
D

{'a': 'apple',
 'b': 1234,
 3.1: 'cat',
 't': ('papaya', 'mango', 'berry', 'apple'),
 'l': [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple'],
 'f': 'fish'}

In [161]:
d1 = {"j":"jack", "q":"quack"}

In [162]:
D.update(d1)

In [163]:
D

{'a': 'apple',
 'b': 1234,
 3.1: 'cat',
 't': ('papaya', 'mango', 'berry', 'apple'),
 'l': [3.14, 4, 12, 56, 73, 'berry', 'mango', 'papaya', 'apple'],
 'f': 'fish',
 'j': 'jack',
 'q': 'quack'}

In [166]:
list(range(10,16))

[10, 11, 12, 13, 14, 15]

### Task-2

1. there are two lists list1 and list2 with the elements [1,2,2,3,1,4,4,5,6,7,4] and [2,6,5,4,2,1,2,5,4,1]. Create a new list with the elements common in those two lists without duplicates.

```
list1 = [1,2,2,3,1,4,4,5,6,7,4]
list2 = [2,6,5,4,2,1,2,5,4,1]
print(list3) # [1,2,4,5,6]
```

In [169]:
list1 = [1,2,2,3,1,4,4,5,6,7,4]
list2 = [2,6,5,4,2,1,2,5,4,1]
list3 = []
for j in list1:
    if j in list2 and j not in list3:
        list3.append(j)
print(list3)

list3 = set(list1) & set(list2)
print(list(list3))

[1, 2, 4, 5, 6]
[1, 2, 4, 5, 6]

2. get two integer inputs from the user and find the prime numbers between them.

```
a = 10
b = 20
print(primeList) # [11,13,17,19]
```

In [173]:
a = 10
b = 20
for i in range(a,b):
    for j in range(2, int(i/2)):
        if i % j == 0:
            break
    else:
        print(i)
        
        
for i in range(a,b):
    flag = True
    for j in range(2, int(i/2)):
        if i % j == 0:
            flag = False
            break
    if flag:
        print(i)

11
13
17
19
11
13
17
19

### functions

In [174]:
def operation():
    a = int(input("Enter for a: "))
    b = int(input("Enter for b: "))
    print(a+b , a-b, a*b)

In [175]:
operation()

Enter for a: 23
Enter for b: 32
55 -9 736

In [176]:
def operation():
    a = int(input("Enter for a: "))
    b = int(input("Enter for b: "))
    return a+b , a-b, a*b

In [177]:
answers = operation()

Enter for a: 4
Enter for b: 5

In [179]:
def operation(a,b):
    return a+b , a-b, a*b

In [183]:
answers = operation(10,4)

In [184]:
def operation(b,a=6):
    return a+b , a-b, a*b

In [187]:
answers = operation(10,20)

In [188]:
print(answers)

(30, 10, 200)

In [189]:
def isPrime(num):
    for j in range(2, int(num/2)):
        if num % j == 0:
            return False
    else:
        return True

In [192]:
a,b = 10,20
for i in range(a,b):
    if isPrime(i):
        print(i)

11
13
17
19

In [195]:
def isPrime(num):
    for j in range(2, int(num/2)):
        if num % j == 0:
            return None
    else:
        return num

In [198]:
list(map(isPrime, range(a,b)))

[None, 11, None, 13, None, None, None, 17, None, 19]

In [199]:
list(filter(None, map(isPrime, range(a,b))))

[11, 13, 17, 19]

In [200]:
name = None

In [203]:
if name:
    print(name)

In [204]:
def isPrime(num):
    for j in range(2, int(num/2)):
        if num % j == 0:
            return False
    else:
        return True

In [205]:
def check(primeFunc, num):
    if primeFunc(num):
        print("It's a prime number:", num)
    else:
        print("It's not a prime number:", num)

In [209]:
check(isPrime, 10)

It's not a prime number: 10

In [210]:
list1

[1, 2, 2, 3, 1, 4, 4, 5, 6, 7, 4]

In [214]:
dict.fromkeys(list1,"default")

{1: 'default',
 2: 'default',
 3: 'default',
 4: 'default',
 5: 'default',
 6: 'default',
 7: 'default'}

In [212]:
dict.fromkeys(list1).keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

### error handling

In [221]:
print(x)
print("hello world!!!")

NameError: name 'x' is not defined

In [220]:
print(x=3)
print("hello world!!!")

TypeError: 'x' is an invalid keyword argument for this function

In [217]:
try:
    print(x)
except:
    print("There is an error while printing X!!")
print("Hello world!!!")

There is an error while printing X!!
Hello world!!!

In [219]:
try:
    print(x=3)
except Exception as e:
    print("There is an error while printing X!!", e)
print("Hello world!!!")

There is an error while printing X!! 'x' is an invalid keyword argument for this function
Hello world!!!

In [229]:
try:
    print(x=2)
except TypeError as e:
    print("There is an error while printing X!!", e)
    print("Notifying Developer")
except NameError as e:
    print("There is an error while printing X!!", e)
    x=3

There is an error while printing X!! 'x' is an invalid keyword argument for this function
Notifying Developer

In [232]:
try:
    num = input("Enter any number between 0-100:")
    if not num.isdigit():
        raise ValueError("Please enter integer between 0-100")
except Exception as e:
    print(e)
    num = int(input("Enter any number between 0-100:"))

Enter any number between 0-100:h
Please enter integer between 0-100
Enter any number between 0-100:8

In [231]:
print(num)

56

In [234]:
try:
    print(y)
except TypeError as e:
    print("There is an error while printing X!!", e)
    print("Notifying Developer")
except NameError as e:
    print("There is an error while printing Y!!", e)
    y=3
finally:
    print(y)

3
3

### HW-2

Create a python program for guess game. The logic is to predict the number is in the user's mind.

```
import random as rd
rd.randint(0,100)
```

In [1]:
import random as r
import time

print("Think any number between 0-100 and keep it with you, let me find out!!")
time.sleep(6)

min = 0
max = 100
attempt = 0

while 1:
    comp = r.randint(min,max)
    print ("\nIsn't it %d ?"%comp)
    user = input("Enter the option \n a.high \n b.low \n c.Bingo \n")
    attempt += 1
    if user == "low" or user == "b":
        min = comp + 1
        continue
    elif user == "high" or user == "a":
        max = comp - 1
        continue
    elif user == "bingo" or user == "c":
        print ("\nThe number is in your mind is %d and computer took %d attempts"%(comp,attempt))
        break
    else:
        print ("\nPlease enter the valid option")

Think any number between 0-100 and keep it with you, let me find out!!

Isn't it 48 ?
Enter the option
 a.high
 b.low
 c.Bingo
b

Isn't it 50 ?
Enter the option
 a.high
 b.low
 c.Bingo
b

Isn't it 98 ?
Enter the option
 a.high
 b.low
 c.Bingo
a

Isn't it 86 ?
Enter the option
 a.high
 b.low
 c.Bingo
a

Isn't it 58 ?
Enter the option
 a.high
 b.low
 c.Bingo
b

Isn't it 66 ?
Enter the option
 a.high
 b.low
 c.Bingo
a

Isn't it 61 ?
Enter the option
 a.high
 b.low
 c.Bingo
b

Isn't it 64 ?
Enter the option
 a.high
 b.low
 c.Bingo
b

Isn't it 65 ?
Enter the option
 a.high
 b.low
 c.Bingo
c

The number is in your mind is 65 and computer took 9 attempts

### HW-3

Create a python program for cow-bull game. The logic is to predict the number is in the computer's mind.
based on the cow & bull logic

cow --> correct number and correct position

bull --> correct number but wrong position

```
import random as rd
rd.randint(101,999)
```

In [3]:
import random as r
num = str(r.randint(100, 999))
print(num)

j = 0
while 1:
    user = str(input("Enter your guess: "))
    cowbull = [0, 0]
    if user == "quit" or user == "q":
        print("good bye...")
        break
        
    for i in range(len(num)):
        if num[i] == user[i]:
            cowbull[0] += 1

    common = len([i for i in num if i in user])
    cowbull[1] = common - cowbull[0]
    j += 1

    if cowbull[0] == 3:
        print("you win after", j, "attempts")
        break
    else:
        print("Your guess isn't quite right, try again.")
    print("Cow : %d and Bull : %d" % (cowbull[0], cowbull[1]))

694
Enter your guess: 723
Your guess isn't quite right, try again.
Cow : 0 and Bull : 0
Enter your guess: 497
Your guess isn't quite right, try again.
Cow : 1 and Bull : 1
Enter your guess: 947
Your guess isn't quite right, try again.
Cow : 0 and Bull : 2
Enter your guess: 479
Your guess isn't quite right, try again.
Cow : 0 and Bull : 2
Enter your guess: 497
Your guess isn't quite right, try again.
Cow : 1 and Bull : 1
Enter your guess: 694
you win after 6 attempts

### library handling

####  to install libraries

In [ ]:
use the following command on cmd prompt
    pip install {{libraryName}}
    pip install {{libraryName==3.5.2}}

#### to import libraries

In [238]:
import math

In [239]:
math.factorial(5)

120

In [240]:
import random as rd

In [243]:
rd.randint(10,100)

63

In [253]:
rd.choice(['a','b','c','d'])

'a'

In [254]:
from math import sin, cos, tan

In [255]:
sin(90)

0.8939966636005579

In [256]:
cos(90)

-0.4480736161291701

In [257]:
from random import *

In [258]:
randint(10,100)

51

In [259]:
randrange(10,20)

19

In [263]:
choices("abcdefgh",k=3)

['f', 'd', 'a']

### file handling

In [ ]:
# txt, json, csv, xlsx, image, database

#### Image handling

In [4]:
import cv2 # install opencv library using pip install opencv-python

In [10]:
image = cv2.imread("pythonLibraries.jpg", 0)

In [11]:
print(image.shape)

(861, 750)

In [12]:
cv2.imshow("image", image)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [13]:
import cv2

# Get user supplied values
imagePath = 'girls.jpg'

# Read the image
image = cv2.imread(imagePath)
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
edge = cv2.Canny(image,200,300)

img_copy = image.copy()
cv2.rectangle(img_copy, pt1 = (140, 92), pt2 = (620, 240), color = (255, 0, 0), thickness = 5)
cv2.putText(img_copy, "this is sample text", (250, 120), cv2.FONT_HERSHEY_SIMPLEX, 0.7, color=(0, 0, 255), thickness = 2)

croped_image =  image[140:600,100:235]
resized_image =  cv2.resize(image,(100,100))

blurred = cv2.blur(image,(1,20))

cv2.imshow("original image", image)
cv2.imshow("gray image", gray)
cv2.imshow("edge image", edge)
cv2.imshow("rectangle", img_copy)
cv2.imshow("Cropped image",croped_image)
cv2.imshow("resized image",resized_image)
cv2.imshow("blurred image",blurred)

cv2.waitKey(0)
cv2.destroyAllWindows()

#### json handling

In [14]:
data =  {'address': 'Downtown', 'age': 27, 'name': 'Jack'}

In [15]:
data

{'address': 'Downtown', 'age': 27, 'name': 'Jack'}

In [16]:
import json

In [18]:
json.dump(data, open("datajson.json", "w"), indent=4)

In [19]:
dictData = json.load(open("datajson.json"))

In [20]:
dictData

{'address': 'Downtown', 'age': 27, 'name': 'Jack'}

In [21]:
import datetime

In [23]:
str(datetime.datetime.now())

'2022-07-16 11:00:28.401882'

In [26]:
dictData['datetime'] = str(datetime.datetime.now())

In [27]:
dictData

{'address': 'Downtown',
 'age': 27,
 'name': 'Jack',
 'datetime': '2022-07-16 11:01:29.275342'}

#### txt handling

In [32]:
infile = open("july2022.txt", "w")

In [33]:
infile.writelines("Hey!! hello\n")

In [34]:
infile.writelines("How do you do?\n")

In [35]:
infile.close()

In [36]:
infile = open("july2022.txt", "a")
infile.writelines("i am doing good. How do you do?\n")
infile.close()

In [54]:
outfile = open("july2022.txt", "r")

In [55]:
content = outfile.read()

In [49]:
content = outfile.readline()

In [52]:
content = outfile.readlines()

In [57]:
content.splitlines()

['Hey!! hello', 'How do you do?', 'i am doing good. How do you do?']

In [59]:
content.split("\n")

['Hey!! hello', 'How do you do?', 'i am doing good. How do you do?', '']

In [61]:
open("train.csv").read()

'class,petal_length,petal_width,sepal_length,sepal_width\nIris-virginica,5.5,1.8,6.4,3.1\nIris-virginica,5.9,2.3,6.8,3.2\nIris-virginica,5.4,2.3,6.2,3.4\nIris-virginica,4.8,1.8,6,3\nIris-virginica,5.1,2.3,6.9,3.1\nIris-virginica,5.6,2.4,6.3,3.4\nIris-virginica,5.2,2.3,6.7,3\nIris-virginica,6.7,2,7.7,2.8\nIris-virginica,5.8,2.2,6.5,3\nIris-virginica,5.3,1.9,6.4,2.7\nIris-virginica,5,2,5.7,2.5\nIris-virginica,5.1,1.9,5.8,2.7\nIris-virginica,5.6,1.8,6.3,2.9\nIris-virginica,5,1.9,6.3,2.5\nIris-virginica,5.8,1.8,6.7,2.5\nIris-virginica,5.7,2.1,6.7,3.3\nIris-virginica,5.5,1.8,6.5,3\nIris-virginica,5.6,1.4,6.1,2.6\nIris-virginica,5,1.5,6,2.2\nIris-virginica,5.2,2,6.5,3\nIris-virginica,6.1,1.9,7.4,2.8\nIris-virginica,6.1,2.3,7.7,3\nIris-virginica,6.1,2.5,7.2,3.6\nIris-virginica,5.9,2.1,7.1,3\nIris-virginica,6,2.5,6.3,3.3\nIris-virginica,5.1,1.5,6.3,2.8\nIris-virginica,5.1,1.9,5.8,2.7\nIris-virginica,6,1.8,7.2,3.2\nIris-virginica,5.7,2.5,6.7,3.3\nIris-virginica,6.9,2.3,7.7,2.6\nIris-virginica,5.7,2.3,6.9,3.2\nIris-virginica,5.6,2.1,6.4,2.8\nIris-virginica,4.8,1.8,6.2,2.8\nIris-virginica,4.5,1.7,4.9,2.5\nIris-virginica,5.1,2,6.5,3.2\nIris-versicolor,4.8,1.8,5.9,3.2\nIris-versicolor,4.1,1.3,5.7,2.8\nIris-versicolor,4,1.3,6.1,2.8\nIris-versicolor,3.6,1.3,5.6,2.9\nIris-versicolor,3.9,1.1,5.6,2.5\nIris-versicolor,4.1,1,5.8,2.7\nIris-versicolor,4.9,1.5,6.3,2.5\nIris-versicolor,3.5,1,5,2\nIris-versicolor,4.4,1.4,6.6,3\nIris-versicolor,4.7,1.4,6.1,2.9\nIris-versicolor,4,1,6,2.2\nIris-versicolor,4.5,1.5,6.4,3.2\nIris-versicolor,4.4,1.2,5.5,2.6\nIris-versicolor,3.5,1,5.7,2.6\nIris-versicolor,4.7,1.6,6.3,3.3\nIris-versicolor,4.8,1.4,6.8,2.8\nIris-versicolor,4.5,1.5,6.2,2.2\nIris-versicolor,4.2,1.2,5.7,3\nIris-versicolor,3,1.1,5.1,2.5\nIris-versicolor,3.7,1,5.5,2.4\nIris-versicolor,4.4,1.4,6.7,3.1\nIris-versicolor,4.2,1.3,5.7,2.9\nIris-versicolor,4.2,1.3,5.6,2.7\nIris-versicolor,5,1.7,6.7,3\nIris-versicolor,3.8,1.1,5.5,2.4\nIris-versicolor,3.3,1,5,2.3\nIris-versicolor,4.1,1.3,5.6,3\nIris-versicolor,4.5,1.6,6,3.4\nIris-versicolor,4.5,1.5,5.4,3\nIris-versicolor,4.6,1.5,6.5,2.8\nIris-versicolor,4.9,1.5,6.9,3.1\nIris-versicolor,3.3,1,4.9,2.4\nIris-versicolor,4.5,1.5,6,2.9\nIris-versicolor,5.1,1.6,6,2.7\nIris-versicolor,4.7,1.4,7,3.2\nIris-setosa,1.4,0.2,4.9,3\nIris-setosa,1.6,0.4,5,3.4\nIris-setosa,1.4,0.1,4.8,3\nIris-setosa,1.5,0.4,5.7,4.4\nIris-setosa,1.4,0.2,5.2,3.4\nIris-setosa,1.5,0.2,5.4,3.7\nIris-setosa,1.5,0.2,5.1,3.4\nIris-setosa,1.9,0.2,4.8,3.4\nIris-setosa,1.5,0.4,5.1,3.7\nIris-setosa,1.5,0.1,4.9,3.1\nIris-setosa,1.3,0.2,4.4,3.2\nIris-setosa,1.3,0.2,5.5,3.5\nIris-setosa,1.4,0.3,5.1,3.5\nIris-setosa,1.4,0.2,5,3.3\nIris-setosa,1.6,0.2,4.8,3.4\nIris-setosa,1.5,0.2,4.6,3.1\nIris-setosa,1.4,0.3,4.8,3\nIris-setosa,1.6,0.6,5,3.5\nIris-setosa,1.5,0.2,5.2,3.5\nIris-setosa,1.5,0.1,4.9,3.1\nIris-setosa,1.4,0.2,5.5,4.2\nIris-setosa,1.5,0.4,5.4,3.4\nIris-setosa,1.5,0.1,5.2,4.1\nIris-setosa,1,0.2,4.6,3.6\nIris-setosa,1.6,0.2,5.1,3.8\nIris-setosa,1.4,0.2,4.6,3.2\nIris-setosa,1.4,0.2,4.4,2.9\nIris-setosa,1.5,0.3,5.1,3.8\nIris-setosa,1.4,0.2,5,3.6\nIris-setosa,1.3,0.2,4.7,3.2\nIris-setosa,1.5,0.2,5,3.4\nIris-setosa,1.7,0.3,5.7,3.8\nIris-setosa,1.3,0.4,5.4,3.9\nIris-setosa,1.9,0.4,5.1,3.8\nIris-setosa,1.6,0.2,5,3'

#### CSV, xlsx

In [1]:
import pandas as pd  # install pandas by using the command pip install pandas

In [2]:
csvFile = pd.read_csv("train.csv")

In [16]:
excelFile = pd.read_excel("Course Syllabus.xlsx", sheet_name="Machine Learning")

In [17]:
csvFile.head()

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4
3  Iris-virginica           4.8          1.8           6.0          3.0
4  Iris-virginica           5.1          2.3           6.9          3.1

In [18]:
excelFile.head()

                              Syllabus  Duration
0   1.Introduction to Machine learning   60 mins
1  1.a  Introduction to Data Operation  150 mins
2                     Basic Operations       NaN
3                   Moving Data Around       NaN
4                    Computing on Data       NaN

In [9]:
csvFile[['class', "petal_length", "sepal_width"]]

              class  petal_length  sepal_width
0    Iris-virginica           5.5          3.1
1    Iris-virginica           5.9          3.2
2    Iris-virginica           5.4          3.4
3    Iris-virginica           4.8          3.0
4    Iris-virginica           5.1          3.1
..              ...           ...          ...
100     Iris-setosa           1.5          3.4
101     Iris-setosa           1.7          3.8
102     Iris-setosa           1.3          3.9
103     Iris-setosa           1.9          3.8
104     Iris-setosa           1.6          3.0

[105 rows x 3 columns]

In [11]:
csvFile.loc[:10, "petal_length":"sepal_length"]

    petal_length  petal_width  sepal_length
0            5.5          1.8           6.4
1            5.9          2.3           6.8
2            5.4          2.3           6.2
3            4.8          1.8           6.0
4            5.1          2.3           6.9
5            5.6          2.4           6.3
6            5.2          2.3           6.7
7            6.7          2.0           7.7
8            5.8          2.2           6.5
9            5.3          1.9           6.4
10           5.0          2.0           5.7

In [13]:
csvFile.groupby('class').sum()

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa              51.7          8.6         176.0        121.3
Iris-versicolor         148.4         46.3         207.4         97.0
Iris-virginica          193.5         70.7         228.8        102.7

In [14]:
excelFile.shape

(18, 2)

In [20]:
excelFile.dropna()

                                Syllabus  Duration
0     1.Introduction to Machine learning   60 mins
1    1.a  Introduction to Data Operation  150 mins
8   2.Types of ML algorithm- an overview   60 mins
12                     3.Linear Algebra   180 mins
20                   4.Linear Regression  240 mins
28                 5.Logistic Regression  150 mins
35                      5.Regularization   60 mins
39      6.Machine Learning System Design   90 mins
45                 7.Supervised Learning  180 mins
50               8.Unsupervised Learning  180 mins
55        9.Large Scale Machine Learning  120 mins
61                           10.Practise  180 mins
62                       11.Tools for ML  150 mins
63                                 TOTAL  30 hours

In [22]:
excelFile.fillna(method="bfill")

                                   Syllabus  Duration
0        1.Introduction to Machine learning   60 mins
1       1.a  Introduction to Data Operation  150 mins
2                          Basic Operations   60 mins
3                        Moving Data Around   60 mins
4                         Computing on Data   60 mins
..                                      ...       ...
59  Stochastic Gradient Descent Convergence  180 mins
60          Map Reduce and Data Parallelism  180 mins
61                              10.Practise  180 mins
62                          11.Tools for ML  150 mins
63                                    TOTAL  30 hours

[64 rows x 2 columns]

In [23]:
csvFile.describe()

       petal_length  petal_width  sepal_length  sepal_width
count    105.000000   105.000000    105.000000   105.000000
mean       3.748571     1.196190      5.830476     3.057143
std        1.753519     0.765723      0.800015     0.449969
min        1.000000     0.100000      4.400000     2.000000
25%        1.500000     0.300000      5.100000     2.800000
50%        4.400000     1.300000      5.700000     3.000000
75%        5.100000     1.800000      6.400000     3.400000
max        6.900000     2.500000      7.700000     4.400000

In [24]:
data = {'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham',
'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]}

In [25]:
data

{'food': ['bacon',
  'pulled pork',
  'bacon',
  'Pastrami',
  'corned beef',
  'Bacon',
  'pastrami',
  'honey ham',
  'nova lox'],
 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]}

In [30]:
df = pd.DataFrame(data)

In [31]:
df

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [28]:
df['test']= df['food'].map(str.upper)

In [29]:
df

          food  ounces         test
0        bacon     4.0        BACON
1  pulled pork     3.0  PULLED PORK
2        bacon    12.0        BACON
3     Pastrami     6.0     PASTRAMI
4  corned beef     7.5  CORNED BEEF
5        Bacon     8.0        BACON
6     pastrami     3.0     PASTRAMI
7    honey ham     5.0    HONEY HAM
8     nova lox     6.0     NOVA LOX

In [32]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [33]:
df['animal'] = df['food'].map(str.lower).map(meat_to_animal)

In [34]:
df

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [35]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],'key2' : ['one', 'two', 'one', 'two', 'one'],'data1' :np.random.randn(5),'data2' : np.random.randn(5)})

grouped = df['data1'].groupby(df['key1'])

In [36]:
df

  key1 key2     data1     data2
0    a  one  0.694358 -0.464433
1    a  two -0.600246 -0.058276
2    b  one -0.490056 -0.624492
3    b  two  0.714410 -0.105914
4    a  one -1.138270  0.230575

In [39]:
grouped.sum()

key1
a   -1.044157
b    0.224353
Name: data1, dtype: float64

In [40]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

means.unstack()

key2       one       two
key1
a    -0.221956 -0.600246
b    -0.490056  0.714410

In [41]:
means

key1  key2
a     one    -0.221956
      two    -0.600246
b     one    -0.490056
      two     0.714410
Name: data1, dtype: float64

#### database handling

In [42]:
import pymysql

In [57]:

db = pymysql.connect(host="localhost", user="root", passwd="Admin@123", db="testDB")

cur = db.cursor()

In [58]:
cur.execute("SELECT  * FROM testDB.PassportDetails;")

5

In [59]:
cur.fetchall()

(('ABCD234EF', 1),
 ('fhtps2568j', 2),
 ('IJKLmnop', 4),
 ('QWERTY12', 5),
 ('qwert678u', 6))

In [60]:
pd.read_sql_query("SELECT  * FROM testDB.PassportDetails where Person_Id=5", db)

  Passport_Number  Person_Id
0        QWERTY12          5

In [61]:
cur.execute("insert into testDB.PassportDetails values('qwert678u', 6)")

1

In [62]:
db.commit()

In [63]:
db.close()

In [ ]:
visualisation

Maths