### IDE installation

1st option
    
    python.org -> downloads -> windows/mac -> install
    
    open cmd -> pip install jupyter notebook
    
    open cmd -> jupyter notebook

2nd option

    google colab

### links

code:- https://github.com/sharmasaravanan/Machine_learning/blob/master/Python_April_2022.ipynb

shorternUrl :- https://bit.ly/3KNpVX1

practice:- https://www.practicepython.org/, https://www.w3resource.com/python-exercises/

linkedIn:- https://www.linkedin.com/in/sharmasaravanan/

Websites:- https://www.sharmasaravanan.com/, https://www.besoins.in/

book: https://drive.google.com/file/d/1eRDCGYqV6u6sUTeCykIC0UiZq-ApkYL5/view?usp=sharing

cheatsheets:- https://drive.google.com/drive/folders/1aWmEBeUbpshAzgf5wNiiRqO2S5x6R7n2?usp=sharing

### datatypes

In [2]:
a = 5  # int
b = 3.14  # float
c = "apple"  # string
d = True  # bool

### print function

In [5]:
print('hello world!!')
print(1234)
print(c)

hello world!!
1234
apple

In [9]:
print(type(a), type(str(a)))
print(type(b))
print(type(c))
print(type(d))

<class 'int'> <class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
# hello apple
# hello 5

print('hello',c)
print('hello',a)

print('hello '+ c)
print('hello '+ str(a))

print('hello %s'%c)
print('hello %d'%a)

hello apple
hello 5
hello apple
hello 5
hello apple
hello 5

### typecast

In [11]:
print('5', type('5'), 5, type(5))

5 <class 'str'> 5 <class 'int'>

In [15]:
e = '5'
print(int(e) + 2) 
print(float(e) + 2)

7
7.0

In [16]:
# I bought 3kgs of apple for 150.5Rs
w = 3
f = "apple"
p = 150.5

In [20]:
print("I bought",w,"kgs of",f,"for",p,"Rs")
print("I bought "+str(w)+"kgs of "+f+" for "+str(p)+"Rs")
print("I bought %dkgs of %s for %0.1fRs"%(w,f,p))

I bought 3 kgs of apple for 150.5 Rs
I bought 3kgs of apple for 150.5Rs
I bought 3kgs of apple for 150.5Rs

### operators

In [35]:
## Arithimetic operators --> + - * / % **
print(22 + 7)
print(22 - 7)
print(abs(7 - 22))
print(22 * 7)
print(22 / 7)
print(22 % 7)
print(22 ** 7)
print()

## conditional operators --> < > <= >= == !=
print(22 < 7)
print(22 > 7)
print(22 <= 7)
print(22 >= 7)
print(22 == 7)
print(22 != 7)
print()

## logical operators --> and or not
print(15 > 5 and 20 < 25)
print(15 > 25 and 20 < 25)
print(15 > 5 or 20 < 25)
print(15 > 25 or 20 < 25)
print(a==5)
print(not a==15)

29
15
15
154
3.142857142857143
1
2494357888

False
True
False
True
False
True

True
False
True
True
True
True

### input function

In [39]:
name = input("Enter your name: ")
age = int(input("Enter you age: "))

Enter your name: abc
Enter you age: 14

In [40]:
print(name, age)

abc 14

In [41]:
print(type(name), type(age))

<class 'str'> <class 'int'>

### if - else

In [46]:
num = int(input("Enter any number: "))
if num % 2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Enter any number: 8
Number is even

### if - elif - else

In [50]:
num = int(input("Enter any number: "))
if num % 4 == 0:
    print("Divisible by 4 and also even")
elif num % 2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Enter any number: 5
Number is odd

### while loop

In [52]:
i = 1
while i <= 3:
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Divisible by 4 and also even")
    elif num % 2 == 0:
        print('Number is even')
    else:
        print('Number is odd')
    i = i + 1

Enter any number: 20
Divisible by 4 and also even
Enter any number: 10
Number is even
Enter any number: 5
Number is odd

In [54]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Divisible by 4 and also even")
    elif num % 2 == 0:
        print('Number is even')
    else:
        print('Number is odd')
   
    opt = input("Do you want to continue? y/n: ")
else:
     print("Thank you!!!")

Enter any number: 54
Number is even
Do you want to continue? y/n: n
Thank you!!!

### Task-1
1. Calculate area of three objects (square, triangel..) by getting input from the user based on the user's selection of object

In [17]:
opt = 'y'
print(
    "Hello! This program can help you to calculate the area of the following objects \n1. circle\n2. square\n3. rectangle"
)
print()
while opt == 'y':
    choice = input("Enter the object you want to calculate: ")
    if choice == "circle":
        r = eval(input("Enter the radius of the circle: "))
        print("Area of the circle is", 3.14 * r * r)
    elif choice == "square":
        a = eval(input("Enter the sides of the square: "))
        print("Area of the square is", a * a)
    elif choice == "rectangle":
        l = eval(input("Enter the length of the rectangle: "))
        b = eval(input("Enter the breadth of the rectangle: "))
        print("Area of the rectangle is", a * a)
    else:
        print("Invalid option")
    print()
    opt = input("Do you want to continue? y/n: ")
else:
     print("Thank you!!!")

Hello! This program can help you to calculate the area of the following objects
1. circle
2. square
3. rectangle

Enter the object you want to calculate: circle
Enter the radius of the circle: a

NameError: name 'a' is not defined

### HW-1

1. Write a python program for Rock paper scissor game.

        rock wins scissor
        scissor wins paper
        paper wins rock

###     string operations

In [73]:
name = "elephant"
sent = "Time-Series Data Denoising using Auto-encoders"

In [75]:
name[5]

'a'

In [76]:
name[2:]

'ephant'

In [77]:
name[:3]

'ele'

In [78]:
name[2:5]

'eph'

In [79]:
len(name)

8

In [80]:
name[::-1]

'tnahpele'

In [81]:
palindrome = "malayalam"

In [82]:
palindrome, palindrome[::-1]

('malayalam', 'malayalam')

In [83]:
name.upper()

'ELEPHANT'

In [84]:
sent.lower()

'time-series data denoising using auto-encoders'

In [85]:
sent.title()

'Time-Series Data Denoising Using Auto-Encoders'

In [86]:
sent.capitalize()

'Time-series data denoising using auto-encoders'

In [87]:
sent.swapcase()

'tIME-sERIES dATA dENOISING USING aUTO-ENCODERS'

In [88]:
name.count('e')

2

In [89]:
sent.replace('-', ' ')

'Time Series Data Denoising using Auto encoders'

In [92]:
name.find('z')

-1

In [93]:
name.index('z')

ValueError: substring not found

In [95]:
name.endswith("nt")

True

In [96]:
name.startswith("el")

True

In [97]:
name.center(20,"~")

'~~~~~~elephant~~~~~~'

In [98]:
name.zfill(12)

'0000elephant'

In [99]:
" sharma ".strip()

'sharma'

In [100]:
name.strip("nt")

'elepha'

In [104]:
"en".join(sent.split('en'))

'Time-Series Data Denoising using Auto-encoders'

In [105]:
name.isalpha()

True

In [106]:
name.isalnum()

True

In [107]:
name.isdigit()

False

In [108]:
'1234'.isdigit()

True

In [110]:
" l".isspace()

False

In [111]:
name.isupper()

False

### task-2

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn

    n = 6
    output = 6 + 66 + 666 = 738
    
Note: Do not use the following solution, n * 1 + n * 11 + n * 111

In [126]:
n = input("Enter any number: ")
ans1 = int(n)+ int(n+n) + int(n+n+n)
ans2 = int(n)+ int(n*2) + int(n*3)
print(ans1,ans2)

Enter any number: 4
492 492

### List

In [127]:
L = []

In [128]:
type(L)

list

In [134]:
l = [12,34,56,1.2,4.5,67.9,'apple','ball','cat']

In [135]:
l

[12, 34, 56, 1.2, 4.5, 67.9, 'apple', 'ball', 'cat']

In [136]:
l[3:8]

[1.2, 4.5, 67.9, 'apple', 'ball']

In [138]:
l[4] = 72.8

In [139]:
l

[12, 34, 56, 1.2, 72.8, 67.9, 'apple', 'ball', 'cat']

In [141]:
del l[3]

In [142]:
l

[12, 34, 56, 72.8, 67.9, 'apple', 'ball', 'cat']

In [143]:
l.append('dog')

In [144]:
l

[12, 34, 56, 72.8, 67.9, 'apple', 'ball', 'cat', 'dog']

In [145]:
l.insert(1, 'papaya')

In [146]:
l

[12, 'papaya', 34, 56, 72.8, 67.9, 'apple', 'ball', 'cat', 'dog']

In [147]:
l.pop()

'dog'

In [148]:
l

[12, 'papaya', 34, 56, 72.8, 67.9, 'apple', 'ball', 'cat']

In [149]:
l.remove(56)

In [150]:
l.count(12)

1

In [151]:
g = l

In [152]:
g

[12, 'papaya', 34, 72.8, 67.9, 'apple', 'ball', 'cat']

In [153]:
g.pop()

'cat'

In [154]:
l

[12, 'papaya', 34, 72.8, 67.9, 'apple', 'ball']

In [155]:
g

[12, 'papaya', 34, 72.8, 67.9, 'apple', 'ball']

In [156]:
f = l.copy()

In [158]:
f.remove(12)

In [159]:
f

['papaya', 34, 72.8, 67.9, 'apple', 'ball']

In [160]:
l

[12, 'papaya', 34, 72.8, 67.9, 'apple', 'ball']

In [161]:
l.reverse()

In [162]:
l

['ball', 'apple', 67.9, 72.8, 34, 'papaya', 12]

In [164]:
l[:2]

['ball', 'apple']

In [165]:
L.extend(['ball', 'apple'])

In [166]:
L

['ball', 'apple']

In [ ]:
L.sort()

In [168]:
L.sort(reverse=True)

In [169]:
L

['apple', 'ball']

### tuple

In [170]:
t = ()

In [171]:
type(t)

tuple

In [172]:
t = ('apple', 'ball', 'cat', 'dog', name)

In [174]:
t[2:]

('cat', 'dog', 'elephant')

In [175]:
t[:4]

('apple', 'ball', 'cat', 'dog')

In [176]:
t[1] = 'bat'

TypeError: 'tuple' object does not support item assignment

In [177]:
del t[1]

TypeError: 'tuple' object doesn't support item deletion

### for loop

In [178]:
for i in range(3):
    print("hi")

hi
hi
hi

In [179]:
for _ in range(3):
    print("hi")

hi
hi
hi

In [181]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [183]:
for i in range(3):
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Divisible by 4 and also even")
        break
    elif num % 2 == 0:
        print('Number is even')
    else:
        print('Number is odd')

Enter any number: 10
Number is even
Enter any number: 20
Divisible by 4 and also even

In [184]:
for i in range(len(name)):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello

In [185]:
for i in name:
    print(i)

e
l
e
p
h
a
n
t

In [186]:
for i in l:
    print(i)

ball
apple
67.9
72.8
34
papaya
12

In [188]:
for i,j in zip(l,f[:3]):
    print(i,j)

ball papaya
apple 34
67.9 72.8

In [190]:
L = []
for i in l:
    if str(i).isalpha():
        L.append(i)

### task-3

1. a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]. Write Python code that takes this list a and makes a new list that has only the even elements of this list in it.

In [193]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = []
for i in a:
    if i % 2 == 0:
        b.append(i)
b

[4, 16, 36, 64, 100]

In [199]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [i for i in a if i % 2 == 0]
b

[4, 16, 36, 64, 100]

2. Write a program that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

In [197]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [11, 4, 4, 16, 25, 25, 16, 36, 49, 49, 61, 82, 100, 100]
c = []

for i in b:
    if i in a and i not in c:
        c.append(i)

### HW-2

Randomly generate a 4-digit number. Ask the user to guess a 4-digit number. For every digit that the user guessed correctly in the correct place, they have a "cow. For every digit the user guessed correctly in the wrong place is a "bull. Every time the user makes a guess, tell them how many "cows and "bulls they have. Once the user guesses the correct number, the game is over. Keep track of the number of guesses the user makes throughout teh game and tell the user at the end.

code:

    import random as rd
    num = rd.randint(101, 999)

###     dictionary

In [203]:
D = {}

In [204]:
d = {'a':'apple','b':'ball','c':'cat',12:"dog","e":789}

In [205]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 12: 'dog', 'e': 789}

In [206]:
d['a']

'apple'

In [207]:
d['c']

'cat'

In [208]:
d['b'] = 'bat'

In [209]:
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 12: 'dog', 'e': 789}

In [210]:
d['f'] = 'fish'

In [211]:
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 12: 'dog', 'e': 789, 'f': 'fish'}

In [212]:
del d['e']

In [213]:
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 12: 'dog', 'f': 'fish'}

In [214]:
d.keys()

dict_keys(['a', 'b', 'c', 12, 'f'])

In [215]:
d.values()

dict_values(['apple', 'bat', 'cat', 'dog', 'fish'])

In [216]:
d.items()

dict_items([('a', 'apple'), ('b', 'bat'), ('c', 'cat'), (12, 'dog'), ('f', 'fish')])

In [217]:
d['x']

KeyError: 'x'

In [221]:
d.get('a', "Default")

'apple'

In [220]:
d.get('x', "Default")

'Default'

In [223]:
D.update({'a': 'apple', 'b': 'bat'})

In [224]:
D

{'a': 'apple', 'b': 'bat'}

In [229]:
for k,v in d.items():
    print(k, "-->", v)

a --> apple
b --> bat
c --> cat
12 --> dog
f --> fish

### task-4

1. get 5 students name and their marks for 3 subjects. Store these results in dictionary.

    output format:- {'abc':[45,56,65]}
   
   Steps to be followed:
       a. initialize empty dictionary
       b. for loop for 5 iteration
       c. get name
       d. for loop for 3 iterations
       e. get marks and append it to a list
       f. form a dictionary

In [5]:
studentsData = {}
for i in range(5):
    name = input("Please enter your name: ")
    temp = []
    for j in range(3):
        mark = float(input("Enter the mark of subject-{}: ".format(j+1)))
        temp.append(mark)
    studentsData[name] = temp
    print()

Please enter your name: abc
Enter the mark of subject-1: 45
Enter the mark of subject-2: 56
Enter the mark of subject-3: 63
Please enter your name: xyz
Enter the mark of subject-1: 78
Enter the mark of subject-2: 84
Enter the mark of subject-3: 82
Please enter your name: ijk
Enter the mark of subject-1: 12
Enter the mark of subject-2: 32
Enter the mark of subject-3: 25
Please enter your name: qrs
Enter the mark of subject-1: 85
Enter the mark of subject-2: 92
Enter the mark of subject-3: 89
Please enter your name: lmn
Enter the mark of subject-1: 99
Enter the mark of subject-2: 98
Enter the mark of subject-3: 99

In [6]:
studentsData

{'abc': ['45', '56', '63'],
 'xyz': ['78', '84', '82'],
 'ijk': ['12', '32', '25'],
 'qrs': ['85', '92', '89'],
 'lmn': ['99', '98', '99']}

In [8]:
studentsData = {}
for i in range(2):
    name = input("Please enter your name: ")
    studentsData[name] = [float(input("Enter the mark of subject-{}: ".format(j+1))) for j in range(3)]
    print()

Please enter your name: abc
Enter the mark of subject-1: 45
Enter the mark of subject-2: 56
Enter the mark of subject-3: 63

Please enter your name: xyz
Enter the mark of subject-1: 75
Enter the mark of subject-2: 84
Enter the mark of subject-3: 69

In [9]:
studentsData

{'abc': [45.0, 56.0, 63.0], 'xyz': [75.0, 84.0, 69.0]}

### error handling

In [13]:
print(x+y)
print("hello world!!!")

NameError: name 'x' is not defined

In [15]:
try:
    print(x+y)
except:
    print("There is an error")
print("hello world!!!")

There is an error
hello world!!!

In [16]:
opt = 'y'
print(
    "Hello! This program can help you to calculate the area of the following objects \n1. circle\n2. square\n3. rectangle"
)
print()
while opt == 'y':
    try:
        choice = input("Enter the object you want to calculate: ")
    except:
        print("There is an error in getting user input")
        
    if choice == "circle":
        try:
            r = eval(input("Enter the radius of the circle: "))
            print("Area of the circle is", 3.14 * r * r)
        except:
            print("there is an error in calculating area of circle")
    elif choice == "square":
        try:
            a = eval(input("Enter the sides of the square: "))
            print("Area of the square is", a * a)
        except:
            print("there is an error in calculating area of square")
    elif choice == "rectangle":
        try:
            l = eval(input("Enter the length of the rectangle: "))
            b = eval(input("Enter the breadth of the rectangle: "))
            print("Area of the rectangle is", a * a)
        except:
            print("there is an error in calculating area of rectangle")
    else:
        print("Invalid option")
    print()
    opt = input("Do you want to continue? y/n: ")
else:
     print("Thank you!!!")

Hello! This program can help you to calculate the area of the following objects
1. circle
2. square
3. rectangle

Enter the object you want to calculate: 5
Invalid option

Do you want to continue? y/n: y
Enter the object you want to calculate: circle
Enter the radius of the circle: h
there is an error in calculating area of circle

Do you want to continue? y/n: y
Enter the object you want to calculate: rectangle
Enter the length of the rectangle: 4
Enter the breadth of the rectangle: a
there is an error in calculating area of rectangle

Do you want to continue? y/n: n
Thank you!!!

In [23]:
try:
    print(x=5)
except NameError as e:
    print("There is an error:",e)
except TypeError as t:
    print(t)
print("hello world!!!")

SyntaxError: invalid syntax (<ipython-input-23-b86181bcb8bf>, line 3)

In [25]:
try:
    print(x=5)
except Exception as e:
    print("There is an error", e)
print("hello world!!!")

There is an error 'x' is an invalid keyword argument for this function
hello world!!!

In [36]:
a = 15

In [32]:
if a == 10:
    print('yes')

In [37]:
try:
    assert a==10, "No, value mismatch"
except AssertionError as ae:
    print(ae)
    a = 10

No, value mismatch

In [40]:
opt = 'y'
objects = ["circle","square","rectangle"]
print(
    "Hello! This program can help you to calculate the area of the following objects \n1. circle\n2. square\n3. rectangle"
)
print()
while opt == 'y':
    try:
        choice = input("Enter the object you want to calculate: ")
        if choice not in objects:
            raise ValueError("Please select the correct option")
    except Exception as e:
        print("There is an error in getting user input:",e)
        continue
        
    if choice == "circle":
        try:
            r = eval(input("Enter the radius of the circle: "))
            print("Area of the circle is", 3.14 * r * r)
        except:
            print("there is an error in calculating area of circle")
    elif choice == "square":
        try:
            a = eval(input("Enter the sides of the square: "))
            print("Area of the square is", a * a)
        except:
            print("there is an error in calculating area of square")
    elif choice == "rectangle":
        try:
            l = eval(input("Enter the length of the rectangle: "))
            b = eval(input("Enter the breadth of the rectangle: "))
            print("Area of the rectangle is", a * a)
        except:
            print("there is an error in calculating area of rectangle")
    else:
        print("Invalid option")
    print()
    opt = input("Do you want to continue? y/n: ")
else:
     print("Thank you!!!")

Hello! This program can help you to calculate the area of the following objects
1. circle
2. square
3. rectangle

Enter the object you want to calculate: abc
There is an error in getting user input: Please select the correct option
Enter the object you want to calculate: circle
Enter the radius of the circle: 3
Area of the circle is 28.259999999999998

Do you want to continue? y/n: n
Thank you!!!

### libraries handling

In [ ]:
in-built & third-party

In [41]:
import math

In [45]:
math.cos(math.radians(90))

6.123233995736766e-17

In [ ]:
# to install library --> pip install libraryName

In [49]:
!pip install pytube

Collecting pytube
  Downloading pytube-12.0.0-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 2.0 MB/s eta 0:00:01
Installing collected packages: pytube
Successfully installed pytube-12.0.0
WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.6/bin/python3.6 -m pip install --upgrade pip' command.

In [50]:
# how to download youtube playlist videos all at once
import random as rd

from mhyt import yt_download
from pytube import Playlist

In [ ]:
playlist = Playlist('https://www.youtube.com/playlist?list=PLB6MUoMXv9xf9Q6lILf8CYmxlHg12euFe')
print('Number of videos in playlist: %s' % len(playlist.video_urls))

for video_url in playlist.video_urls:
    yt_download(video_url, "download_{}.mp4".format(rd.randint(1, len(playlist.video_urls))))

In [54]:
import math as m
import random as rd

In [55]:
m.log10
rd.randint(1,10)

2

In [56]:
from math import log10, sin

In [57]:
log10(15)

1.1760912590556813

In [58]:
sin(90)

0.8939966636005579

In [59]:
from math import *

In [60]:
sin(radians(90))

1.0

In [ ]:
import math
import math as m
from math import log10, sin
from math import *

###     functions

In [62]:
# no arg no return
def addition():
    a = float(input("Enter any number for a: "))
    b = float(input("Enter any number for b: "))
    print(a,"+",b,"=>",a+b)

In [64]:
# no arg , return
def addition():
    a = float(input("Enter any number for a: "))
    b = float(input("Enter any number for b: "))
    return a+b

In [67]:
# arg , return
def addition(a, b):
    return a+b, a*b

In [70]:
# arg , return default value
def addition(a, b=5):
    return a+b, a*b

In [65]:
sumvalue = addition()

Enter any number for a: 6
Enter any number for b: 4

In [66]:
print(sumvalue)

10.0

In [68]:
a = float(input("Enter any number for a: "))
b = float(input("Enter any number for b: "))
sumValue, mulValue = addition(a,b)

Enter any number for a: 3
Enter any number for b: 4

In [69]:
sumValue, mulValue

(7.0, 12.0)

In [71]:
a = float(input("Enter any number for a: "))
b = float(input("Enter any number for b: "))
sumValue, mulValue = addition(a)

Enter any number for a: 8
Enter any number for b: 2

In [72]:
sumValue, mulValue

(13.0, 40.0)

In [73]:
sumValue, mulValue = addition(a,b)

In [74]:
sumValue, mulValue

(10.0, 16.0)

In [75]:
def getInput():
    name = input("Please enter your name: ")
    temp = []
    for j in range(3):
        mark = float(input("Enter the mark of subject-{}: ".format(j+1)))
        temp.append(mark)
    return {name: temp}

In [76]:
studentsData = {}
for i in range(2):
    studentsData.update(getInput())
    print()

Please enter your name: abc
Enter the mark of subject-1: 12
Enter the mark of subject-2: 23
Enter the mark of subject-3: 34

Please enter your name: 78
Enter the mark of subject-1: 89
Enter the mark of subject-2: 90
Enter the mark of subject-3: 91

In [77]:
studentsData

{'abc': [12.0, 23.0, 34.0], '78': [89.0, 90.0, 91.0]}

In [86]:
a = 10
b = 20

In [89]:
def primeCheck(num):
    for j in range(2,num):
        if num % j == 0:
            return None
    else:
        return num

In [91]:
for i in range(a,b):
    if primeCheck(i):
        print(i)

11
13
17
19

In [92]:
list(filter(None, map(primeCheck, range(a,b))))

[11, 13, 17, 19]

In [97]:
list(map(str.upper, map(str,[12, 'papaya', 34, 56, 72.8, 67.9, 'apple', 'ball', 'cat'])))

['12', 'PAPAYA', '34', '56', '72.8', '67.9', 'APPLE', 'BALL', 'CAT']

### task-5

a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100] write python code using funtions to get new list with the numbers fall in range of 20 to 40:
    
    output: [25,36]

In [98]:
def rangeCheck(items, a,b):
    result = [i for i in items if a <= i <= b]
    return result

In [100]:
rangeCheck([1, 4, 9, 16, 25, 36, 49, 64, 81, 100], 20, 40)

[25, 36]

### file handling

In [ ]:
txt, excel, csv

In [110]:
inFile = open("srimad.txt", 'w')

In [102]:
inFile.write("Hello, welcome to the python world")

34

In [111]:
inFile.writelines("Hello, welcome to the python world!!!")

In [112]:
inFile.close()

In [113]:
inFile = open("srimad.txt", 'a')

In [114]:
inFile.writelines("\ntoday is the 2nd day of the course")

In [115]:
inFile.close()

In [124]:
outFile = open("srimad.txt",'r')

In [125]:
outFile.read().splitlines()

['Hello, welcome to the python world!!!', 'today is the 2nd day of the course']

In [121]:
outFile.readline()

''

In [123]:
outFile.readlines()

['Hello, welcome to the python world!!!\n',
 'today is the 2nd day of the course']

In [126]:
sum([12,34,25])

71

### task-6

In [136]:
studentsData = {}
studentfile = open("studentFile.txt", "w")
studentfile.writelines("Name :    Marks   :  Total")
for i in range(2):
    name = input("Please enter your name: ")
    temp = []
    for j in range(3):
        mark = float(input("Enter the mark of subject-{}: ".format(j+1)))
        temp.append(mark)
    studentfile.writelines("\n{} : {} : {}".format(name,temp,sum(temp)))
    studentsData[name] = temp
    print()
studentfile.close()

Please enter your name: abc
Enter the mark of subject-1: 12
Enter the mark of subject-2: 34
Enter the mark of subject-3: 53

Please enter your name: 67
Enter the mark of subject-1: 76
Enter the mark of subject-2: 45
Enter the mark of subject-3: 3

In [138]:
import pandas as pd

In [141]:
excelFile = pd.read_excel("Course Syllabus.xlsx", sheet_name="Deep Learning")

In [142]:
excelFile

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
3                   Non-linear Hypothesis         NaN
4                              perceptron         NaN
5                   Multilayer perceptron         NaN
6               Training a neural network         NaN
7                  Backpropagation primer         NaN
8                Gradients & optimization         NaN
9             3. Deep Learning for images    180 mins
10                       CNN architecture         NaN
11   Overview of modern CNN architectures         NaN
12                       pre-trained CNNs         NaN
13                      Alexnet/Googlenet         NaN
14                            OpenCV + NN         NaN
15              3. Deep Learning for Text    150 mins
16                                    RNN         NaN
17                                   LSTM         NaN
18                                    GRU         NaN
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                    NaN         NaN
23                                  Total  18.5 hours

In [143]:
csvFile = pd.read_csv("train.csv")

In [144]:
csvFile

              class  petal_length  petal_width  sepal_length  sepal_width
0    Iris-virginica           5.5          1.8           6.4          3.1
1    Iris-virginica           5.9          2.3           6.8          3.2
2    Iris-virginica           5.4          2.3           6.2          3.4
3    Iris-virginica           4.8          1.8           6.0          3.0
4    Iris-virginica           5.1          2.3           6.9          3.1
..              ...           ...          ...           ...          ...
100     Iris-setosa           1.5          0.2           5.0          3.4
101     Iris-setosa           1.7          0.3           5.7          3.8
102     Iris-setosa           1.3          0.4           5.4          3.9
103     Iris-setosa           1.9          0.4           5.1          3.8
104     Iris-setosa           1.6          0.2           5.0          3.0

[105 rows x 5 columns]

In [145]:
excelFile.dropna()

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
9             3. Deep Learning for images    180 mins
15              3. Deep Learning for Text    150 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
23                                  Total  18.5 hours

In [146]:
excelFile.describe()

                        Syllabus  Duration
count                         23         8
unique                        23         6
top     Gradients & optimization  150 mins
freq                           1         2

In [147]:
csvFile.describe()

       petal_length  petal_width  sepal_length  sepal_width
count    105.000000   105.000000    105.000000   105.000000
mean       3.748571     1.196190      5.830476     3.057143
std        1.753519     0.765723      0.800015     0.449969
min        1.000000     0.100000      4.400000     2.000000
25%        1.500000     0.300000      5.100000     2.800000
50%        4.400000     1.300000      5.700000     3.000000
75%        5.100000     1.800000      6.400000     3.400000
max        6.900000     2.500000      7.700000     4.400000

In [148]:
excelFile.shape

(24, 2)

In [150]:
csvFile.groupby('class').sum()

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa              51.7          8.6         176.0        121.3
Iris-versicolor         148.4         46.3         207.4         97.0
Iris-virginica          193.5         70.7         228.8        102.7

In [152]:
csvFile[['petal_length','sepal_length']]

     petal_length  sepal_length
0             5.5           6.4
1             5.9           6.8
2             5.4           6.2
3             4.8           6.0
4             5.1           6.9
..            ...           ...
100           1.5           5.0
101           1.7           5.7
102           1.3           5.4
103           1.9           5.1
104           1.6           5.0

[105 rows x 2 columns]

In [154]:
csvFile.iloc[104]

class           Iris-setosa
petal_length            1.6
petal_width             0.2
sepal_length              5
sepal_width               3
Name: 104, dtype: object

In [155]:
data = {}
data['fruits'] = ["apple","orange","mango","papaya"]
data['vegetables'] = ["carrot","beans","onion","potato"]

In [156]:
data

{'fruits': ['apple', 'orange', 'mango', 'papaya'],
 'vegetables': ['carrot', 'beans', 'onion', 'potato']}

In [157]:
df = pd.DataFrame(data)

In [158]:
df

   fruits vegetables
0   apple     carrot
1  orange      beans
2   mango      onion
3  papaya     potato

In [159]:
df.to_csv("srimad.csv")

In [160]:
df.to_excel("srimad.xlsx")

In [162]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham',
'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [163]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [164]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

In [168]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)

In [169]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
yml, json, xml,

### visualization

matplotlib, seaborn

<span class="burk">Advanced</span>

    OOPs
    database
    logging
    API
    web service