# python

In [1]:
a = 5
b = 3.14
c = 'apple'
d = True

In [2]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [3]:
name = input("Enter your name: ")
age = input("Enter your age: ")

Enter your name: mango
Enter your age: 12

In [5]:
print(type(name))
print(type(age))

<class 'str'>
<class 'str'>

In [6]:
int(age), float(age)

(12, 12.0)

In [9]:
age = float(input("Enter your age: "))

Enter your age: k

ValueError: could not convert string to float: 'k'

In [13]:
age = input("Enter your age: ")

Enter your age: 13

In [14]:
name.isdigit(), age.isdigit()

(False, True)

In [16]:
age = input("Enter your age: ")
if age.isdigit():
    print("Converting into float")
    print(float(age))
else:
    print("Entered value is not numerical value")

Enter your age: h
Entered value is not numerical value

In [18]:
num = int(input("Enter any number: "))
if num %2 == 0:
    print("even")
else:
    print('odd')

Enter any number: 7
odd

In [20]:
num = int(input("Enter any number: "))
output = "Number is odd"
if num % 2 == 0:
    output = "Number is even"
print(output)

Enter any number: 7
Number is odd

In [21]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num %2 == 0:
        print("even")
    else:
        print('odd')
        
    opt = input("Do you want to continue? y/n: ")

Enter any number: 20
Divisible by 4 and even
Do you want to continue? y/n: y
Enter any number: 14
even
Do you want to continue? y/n: n

In [22]:
def numChecker(num):
    if num % 4 == 0:
        return "Divisible by 4 and even"
    elif num %2 == 0:
        return "even"
    else:
        return 'odd'

In [23]:
i = 1 
while i < 4:
    number = int(input("Enter any number: "))
    result = numChecker(number)
    print(result)
    i = i + 1

Enter any number: 12
Divisible by 4 and even
Enter any number: 6
even
Enter any number: 5
odd

In [ ]:
firstName, first_name

In [ ]:
!pip install pandas sklearn matplotlib

In [24]:
import math

In [25]:
math.sin(90)

0.8939966636005579

In [26]:
import random as rd

In [29]:
rd.randint(10,100)

38

In [30]:
from math import factorial, sin, cos

In [32]:
factorial(5)

120

In [33]:
from random import  *

In [37]:
choice(['a','b','c'])

'a'

In [38]:
l = ['a','b','c',1,2,3]

In [39]:
l

['a', 'b', 'c', 1, 2, 3]

In [41]:
l[2] = 'd'

In [42]:
l

['a', 'b', 'd', 1, 2, 3]

In [43]:
del l[4]

In [44]:
l

['a', 'b', 'd', 1, 3]

In [45]:
l.append(7)

In [46]:
l

['a', 'b', 'd', 1, 3, 7]

In [47]:
# tuple
t = ('a', 'b', 'd', 1, 3, 7)

In [49]:
t[2] = 'c'

TypeError: 'tuple' object does not support item assignment

In [50]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

In [51]:
d = {
    'a':'apple',
    1: 'ball',
    3.14: l,
    'c': name
}

In [52]:
d

{'a': 'apple', 1: 'ball', 3.14: ['a', 'b', 'd', 1, 3, 7], 'c': 'mango'}

In [53]:
d[3.14]

['a', 'b', 'd', 1, 3, 7]

In [55]:
d[1] = "bat"

In [56]:
del d['c']

In [57]:
d

{'a': 'apple', 1: 'bat', 3.14: ['a', 'b', 'd', 1, 3, 7]}

In [58]:
d['p'] = 'papaya'

In [59]:
d

{'a': 'apple', 1: 'bat', 3.14: ['a', 'b', 'd', 1, 3, 7], 'p': 'papaya'}

In [ ]:
https://shorturl.at/jHQZ9

In [ ]:
https://www.w3resource.com/python-exercises/

# Machine Learning

In [ ]:
Dataset link: https://github.com/sharmasaravanan/Machine_learning

## Linear Regression

In [96]:
# importing libs
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt

In [61]:
# step-1 Dataset loading
dataset = pd.read_csv("./Advertising.csv")

In [63]:
dataset.head(2)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4

In [83]:
# step-2 Dataset Splitting 
x = dataset[['TV', 'radio', 'newspaper']]
y = dataset['sales']

In [84]:
x.head(2)

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1

In [85]:
y.head(2)

0    22.1
1    10.4
Name: sales, dtype: float64

In [86]:
x.shape

(200, 3)

In [87]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,train_size=0.9)

In [88]:
x.shape, xtrain.shape, xtest.shape

((200, 3), (180, 3), (20, 3))

In [89]:
# step-3 Defining Model
model = LinearRegression()

In [90]:
# step-4 Training
model.fit(xtrain,ytrain)

LinearRegression()

In [91]:
model.coef_

array([ 0.04634734,  0.18119866, -0.00184452])

In [92]:
model.intercept_

3.0325987366281186

In [93]:
# step-5 and step-6 are skipped
# step-7 evaluation
ypred = model.predict(xtest)

In [94]:
ypred

array([17.72268802, 15.46729818, 14.09523696, 14.9162244 ,  8.77285473,
       21.63694648, 16.45995738,  6.73268589, 11.61024687, 11.59754056,
       15.81554183, 16.22942193, 21.72053318, 19.73380864, 21.09162727,
       16.68802422, 18.0959465 , 12.09734975, 13.26142347,  6.78978285])

In [95]:
ytest

105    19.2
146    13.2
43     12.9
21     12.5
44      8.5
47     23.2
113    15.9
127     8.8
88     12.9
6      11.8
25     12.0
95     16.9
58     23.8
109    19.8
55     23.7
89     16.7
153    19.0
67     13.4
4      12.9
119     6.6
Name: sales, dtype: float64

In [97]:
rmse = sqrt(mean_squared_error(ytest,ypred))

In [98]:
rmse

1.615865199692338

In [99]:
model.predict([[100,100,100]])

array([25.60274646])

In [100]:
 0.04634734*100 +  0.18119866*100 +(-0.00184452 * 100) + 3.0325987366281186

25.60274673662812

In [105]:
model.predict([[0,300,0]])

array([57.39219585])


<b>Metric Error </b>

y = [6, 2]

ypred = [4, 4]

error = [2,-2]

meanError = 0 

RMSE 

SE = [4,4]

MSE = 4

RMSE = +-(2)

## Apriori

In [106]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [107]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [108]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [109]:
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [110]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

In [111]:
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Kidney Beans, Onion)