In [1]:
print("hello world")

hello world

In [4]:
'''
a=5
b=10
print(a+b)
'''

'\na=5\nb=10\nprint(a+b)\n'

In [8]:
#variables and assignments
a = 10 #int
b = "apple" #string
c = 3.14 #float
d = True #bool

In [12]:
print(type(d))

<class 'bool'>

In [16]:
print(d)

True

In [30]:
# hello apple
# hello 10

# method 1
print("hello "+b)
print("hello "+str(a))
print("---------------------------------")

# method 2
print("hello",b)
print("hello",a)
print("---------------------------------")

# method 3
print("hello %s"%b)
print("hello %d"%a)
print("---------------------------------")

# method 4
print("hello {}".format(b))
print("hello {}".format(a))
print("---------------------------------")

hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------

In [31]:
555+55+5

615

In [33]:
444+44+4

492

In [35]:
n=4
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

492

In [38]:
n=str(5)
ans=int(n+n+n)+int(n+n)+int(n)
print(ans)

615

In [ ]:
#operations
+ - * / %
< > <= >= == !=
not and or

In [47]:
#input from the user
num=int(input("Enter the value for num :"))

Enter the value for num :j

ValueError: invalid literal for int() with base 10: 'j'

In [45]:
print(num)

25

In [46]:
print(type(num))

<class 'int'>

In [54]:
#if-else
num=int(input("Enter the value for num :"))
if num%4==0:
    print("Divisible by 4 and also even")
elif num%2==0:
    print("even")
else:
    print("odd")

Enter the value for num :45
odd

<h3>Task 1</h3>
<center><h4>Rock-Paper-Scissor</h4></center> 
Rules:-
1. Rock beats scissor
2. Scissor beats paper
3. Paper beats rock

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [6]:
count = 0
opt='y'
while opt=='y':
    num=int(input("Enter the value for num :"))
    if num==15:
        print("goodbye...")
        print(count)
        break
    elif num==25:
        print("Skipping...")
        continue
    elif num==10:
        count+=1
        pass
    if num%4==0:
        print("Divisible by 4 and also even")
    elif num%2==0:
        print("even")
    else:
        print("odd")
    opt = input("Do you want to continue? y/n :")

Enter the value for num :78
even
Do you want to continue? y/n :y
Enter the value for num :36
Divisible by 4 and also even
Do you want to continue? y/n :n

In [8]:
#string function
name = "elephant"
num = "123"

In [11]:
name[:2]

'el'

In [14]:
name[2:8:2]

'ehn'

In [20]:
name[::-1]

'tnahpele'

In [16]:
name

'elephant'

In [61]:
name.capitalize()
name.casefold()
name.lower()
name.upper()
name.swapcase()
name.count('n')
name.endswith('ny')
name.startswith('a')
name[::-1].find('e')
name.index('e')
len( name)
"an apple ".title()
print(name.replace("e","z"))
" elephant  is ".strip()
name.isalnum()

zlzphant

True

In [48]:
num.isalnum()

True

In [50]:
name.isalpha()
num.isalpha()

False

In [52]:
name.isdecimal()
num.isdecimal()

True

In [58]:
name.isprintable()
' '.isspace()

True

In [56]:
"def".isidentifier()

True

In [59]:
name.istitle()

False

In [74]:
a = 'kdmf;k\n'

In [67]:
a

' '

In [68]:
if a:
    print('yes')

yes

In [69]:
a.isspace()

True

In [70]:
name.isprintable?

In [75]:
print(a)

kdmf;k

In [76]:
a.isprintable()

False

In [77]:
sent = "Elephant is an animal"

In [81]:
s1 = sent.split()

In [80]:
s2 = sent.split("a")

In [82]:
' '.join(s1)

'Elephant is an animal'

In [83]:
'a'.join(s2)

'Elephant is an animal'

### task 2
1. Check a given string is palindrome or not.
2. Input:- "it's somewhat odd, but it seems like the python-qt4 package"

   Output:- package python-qt4 the like seems it but ,odd somewhat it's

In [84]:
name == name[::-1]
sent2 =  "it's somewhat odd, but it seems like the python-qt4 package"

In [89]:
' '.join(sent2.split()[::-1])

"package python-qt4 the like seems it but odd, somewhat it's"

In [90]:
#list
l = list()

In [92]:
l = ['a',1,'b',2,'c',3,'d',4,'apple','ball']

In [93]:
l

['a', 1, 'b', 2, 'c', 3, 'd', 4, 'apple', 'ball']

In [95]:
l[2:]

['b', 2, 'c', 3, 'd', 4, 'apple', 'ball']

In [97]:
l[2] = "bat"

In [99]:
l.index('d')

6

In [100]:
del l[6]

'd'

In [101]:
l.append("mango")

In [102]:
l

['a', 1, 'bat', 2, 'c', 3, 'd', 4, 'apple', 'ball', 'mango']

In [103]:
l.insert(5,"orange")

In [104]:
l

['a', 1, 'bat', 2, 'c', 'orange', 3, 'd', 4, 'apple', 'ball', 'mango']

In [105]:
l.pop()

'mango'

In [106]:
l

['a', 1, 'bat', 2, 'c', 'orange', 3, 'd', 4, 'apple', 'ball']

In [107]:
l.remove(3)

In [108]:
l

['a', 1, 'bat', 2, 'c', 'orange', 'd', 4, 'apple', 'ball']

In [109]:
l.index(2)

3

In [111]:
l[3] = 'cat'

In [112]:
l

['a', 1, 'bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [116]:
print(l[2:])

['bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [121]:
l.reverse()

In [118]:
a

['a', 1, 'bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [123]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [124]:
l1 = ["mango","papaya"]

In [125]:
l1

['mango', 'papaya']

In [126]:
l

['a', 1, 'bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [127]:
l+l1

['a',
 1,
 'bat',
 'cat',
 'c',
 'orange',
 'd',
 4,
 'apple',
 'ball',
 'mango',
 'papaya']

In [128]:
l.extend(l1)

In [129]:
l

['a',
 1,
 'bat',
 'cat',
 'c',
 'orange',
 'd',
 4,
 'apple',
 'ball',
 'mango',
 'papaya']

In [133]:
#tuple
a=tuple(a)

In [134]:
a

('a',
 1,
 'bat',
 'cat',
 'c',
 'orange',
 'd',
 4,
 'apple',
 'ball',
 'mango',
 'papaya')

In [135]:
a[4:]

('c', 'orange', 'd', 4, 'apple', 'ball', 'mango', 'papaya')

In [137]:
a[3] = "dog"

TypeError: 'tuple' object does not support item assignment

In [138]:
del a[2]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#dictionary
#library
#error handling
#functions
#file handling

In [142]:
#for loop
for i in range(21,30,2):
    #print("hello")
    print(i)

21
23
25
27
29

In [144]:
for i in range(len(l)):
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [149]:
for i in a[2:6]:
    print(i)

bat
cat
c
orange

In [150]:
for i in l:
    if i is None:
        print("no")

In [ ]:
is,is not, in ,not in

### Task 3
<h3> Cow Bull </h3>

Snippet:-

    import random as r 
    comp = r.randint(100,999)

In [1]:
#dictionary

d = {}

In [12]:
d = {'a':'apple',"b":["ball","bat"],"c":4,3:"dog",'e':(2,3,4,5),"c":'cat'}

In [13]:
d

{'a': 'apple', 'b': ['ball', 'bat'], 'c': 'cat', 3: 'dog', 'e': (2, 3, 4, 5)}

In [17]:
d['g'] = 4

In [15]:
d.update({"f":"fish"})

In [18]:
d

{'a': 'apple',
 'b': ['ball', 'bat'],
 'c': 'cat',
 3: 'dog',
 'e': (2, 3, 4, 5),
 'f': 'fish',
 'g': 4}

In [20]:
d.pop('g')

4

In [22]:
d.items()

dict_items([('a', 'apple'), ('b', ['ball', 'bat']), ('c', 'cat'), (3, 'dog'), ('e', (2, 3, 4, 5)), ('f', 'fish')])

In [23]:
d.keys()

dict_keys(['a', 'b', 'c', 3, 'e', 'f'])

In [24]:
d.values()

dict_values(['apple', ['ball', 'bat'], 'cat', 'dog', (2, 3, 4, 5), 'fish'])

In [25]:
del d[3]

In [26]:
d

{'a': 'apple',
 'b': ['ball', 'bat'],
 'c': 'cat',
 'e': (2, 3, 4, 5),
 'f': 'fish'}

In [29]:
for k,v in d.items():
    print(k,v,sep="\t")

a	apple
b	['ball', 'bat']
c	cat
e	(2, 3, 4, 5)
f	fish

#library
pip install <name>

In [30]:
import math

In [31]:
math.factorial(5)

120

In [32]:
import math as m

In [33]:
m.log10(2)

0.3010299956639812

In [34]:
from random import sample,choice,randint

In [36]:
randint(0,10)

2

In [37]:
from random import *

In [39]:
randrange(0,10)

1

In [40]:
from sklearn.ensemble import RandomForestClassifier as rf

In [ ]:
d={person1:,}
input <- add/display
add
    name
    dob
    update({name:dob})
display
    name
    if true:
        display
    else:

In [55]:
try:
    num = int(input("Enter the integer :"))
    if num <0:
        raise ValueError("Please enter positive number")
except (NameError,TypeError,ValueError) as e:
    print("There is an error")
    print(e)
print(num)
print("hello")
print(10+5)

Enter the integer :-1
There is an error
Please enter positive number
-1
hello
15

In [47]:
print(g=5)

TypeError: 'g' is an invalid keyword argument for this function

In [66]:
#functions
def add(a,b=15):
    return(a+b,a*b)

In [70]:
c = int(input("c :"))
d = int(input("d :"))
s,m = add(c,d)

c :2
d :3

In [71]:
s

5

In [72]:
m

6

In [73]:
v =lambda a,b:a+b

In [74]:
v(5,6)

11

In [75]:
g = [1,2,4,5]

In [80]:
def square(i):
    return(i**2)

In [82]:
list(map(square,g))

[1, 4, 16, 25]

In [84]:
l=["APPLE","BALL"]

In [90]:
L=list(map(str.lower,l))

In [91]:
l

['APPLE', 'BALL']

In [92]:
L

['apple', 'ball']

In [ ]:
#txt,csv,tsv,json

In [103]:
txtfile = open("./copper.txt","a")
txtfile.write("hello how do you do?\n")
txtfile.writelines("i am fine\n")
txtfile.close()

In [101]:
txtfile = open("./copper.txt","r")

In [102]:
txtfile.readlines()

['hey how are you\n', 'i am fine\n']

In [104]:
import pandas as pd

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [123]:
csvData = pd.read_csv("./fruits_vege.csv",index_col=0)

In [124]:
csvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [113]:
csvData["vegetable"]

a     onion
b    potato
c     beans
Name: vegetable, dtype: object

In [117]:
csvData.loc[:,"fruit":"fruits 2"]

    fruit vegetable    fruits 2
a   apple     onion       apple
b   mango    potato       mango
c  orange     beans  pine apple

In [118]:
csvData[["fruit","fruits 2"]]

    fruit    fruits 2
a   apple       apple
b   mango       mango
c  orange  pine apple

In [129]:
tsvData = pd.read_csv("fruits_vege.tsv",sep="\t",index_col=0)

In [130]:
tsvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [131]:
import json

In [132]:
jsonData = json.load(open("test.json"))

In [133]:
jsonData

{'domainId': 'DOMAIN-100',
 'question': 'I want to book appointment',
 'language': 'EN_US',
 'type': 'TASK'}

In [134]:
jsonData["language"]

'EN_US'

In [135]:
jsonData

{'domainId': 'DOMAIN-100',
 'question': 'I want to book appointment',
 'language': 'EN_US',
 'type': 'TASK'}

In [141]:
excelData = pd.read_excel("Course Syllabus.xlsx",sheet_name='Machine Learning')

In [142]:
excelData

                                        Syllabus  Duration
0             1.Introduction to Machine learning   60 mins
1            1.a  Introduction to Data Operation  150 mins
2                               Basic Operations       NaN
3                             Moving Data Around       NaN
4                              Computing on Data       NaN
5                                  Plotting Data       NaN
6   Control Statements: for, while, if statement       NaN
7                                  Vectorization       NaN
8           2.Types of ML algorithm- an overview   60 mins
9                           Supervisied learning       NaN
10                        Unsupervisied Learning       NaN
11                        Reinforcement Learning       NaN
12                             3.Linear Algebra   180 mins
13                          Matrices and Vectors       NaN
14            Addition and Scalar Multiplication       NaN
15                  Matrix Vector Multiplication       NaN
16                  Matrix Matrix Multiplication       NaN
17              Matrix Multiplication Properties       NaN
18                         Inverse and Transpose       NaN
19                 Practice Quiz: Linear Algebra       NaN
20                           4.Linear Regression  240 mins
21                          Model Representation       NaN
22                                 Cost Function       NaN
23                              Gradient Descent       NaN
24        Gradient Descent For Linear Regression       NaN
25            Features and Polynomial Regression       NaN
26                               Normal Equation       NaN
27              Normal Equation Noninvertibility       NaN
28                         5.Logistic Regression  150 mins
29                                Classification       NaN
..                                           ...       ...
34         Multiclass Classification: One-vs-all       NaN
35                              5.Regularization   60 mins
36                    The Problem of Overfitting       NaN
37                 Regularized Linear Regression       NaN
38               Regularized Logistic Regression       NaN
39              6.Machine Learning System Design   90 mins
40                  Prioritizing What to Work On       NaN
41                         Inverse and Transpose       NaN
42              Error Metrics for Skewed Classes       NaN
43              Trading Off Precision and Recall       NaN
44                     Data For Machine Learning       NaN
45                         7.Supervised Learning  180 mins
46                                           SVM       NaN
47                             Nearest Neighbour       NaN
48                                       Kernels       NaN
49                                      few more       NaN
50                       8.Unsupervised Learning  180 mins
51                             K-Means Algorithm       NaN
52                        Optimization Objective       NaN
53                         Random Initialization       NaN
54               Choosing the Number of Clusters       NaN
55                9.Large Scale Machine Learning  120 mins
56                  Learning with large datasets       NaN
57                   Stochastic Gradient Descent       NaN
58                   Mini-Batch Gradient Descent       NaN
59       Stochastic Gradient Descent Convergence       NaN
60               Map Reduce and Data Parallelism       NaN
61                                   10.Practise  180 mins
62                               11.Tools for ML  150 mins
63                                         TOTAL  30 hours

[64 rows x 2 columns]

In [138]:
excel = pd.ExcelFile("./Course Syllabus.xlsx")

In [139]:
excel.sheet_names

['Basic Python',
 'Advanced Python',
 'Datascience with Python',
 'Machine Learning',
 'Deep Learning']

In [140]:
pd.read_excel(excel,sheet_name='Machine Learning')

                                        Syllabus  Duration
0             1.Introduction to Machine learning   60 mins
1            1.a  Introduction to Data Operation  150 mins
2                               Basic Operations       NaN
3                             Moving Data Around       NaN
4                              Computing on Data       NaN
5                                  Plotting Data       NaN
6   Control Statements: for, while, if statement       NaN
7                                  Vectorization       NaN
8           2.Types of ML algorithm- an overview   60 mins
9                           Supervisied learning       NaN
10                        Unsupervisied Learning       NaN
11                        Reinforcement Learning       NaN
12                             3.Linear Algebra   180 mins
13                          Matrices and Vectors       NaN
14            Addition and Scalar Multiplication       NaN
15                  Matrix Vector Multiplication       NaN
16                  Matrix Matrix Multiplication       NaN
17              Matrix Multiplication Properties       NaN
18                         Inverse and Transpose       NaN
19                 Practice Quiz: Linear Algebra       NaN
20                           4.Linear Regression  240 mins
21                          Model Representation       NaN
22                                 Cost Function       NaN
23                              Gradient Descent       NaN
24        Gradient Descent For Linear Regression       NaN
25            Features and Polynomial Regression       NaN
26                               Normal Equation       NaN
27              Normal Equation Noninvertibility       NaN
28                         5.Logistic Regression  150 mins
29                                Classification       NaN
..                                           ...       ...
34         Multiclass Classification: One-vs-all       NaN
35                              5.Regularization   60 mins
36                    The Problem of Overfitting       NaN
37                 Regularized Linear Regression       NaN
38               Regularized Logistic Regression       NaN
39              6.Machine Learning System Design   90 mins
40                  Prioritizing What to Work On       NaN
41                         Inverse and Transpose       NaN
42              Error Metrics for Skewed Classes       NaN
43              Trading Off Precision and Recall       NaN
44                     Data For Machine Learning       NaN
45                         7.Supervised Learning  180 mins
46                                           SVM       NaN
47                             Nearest Neighbour       NaN
48                                       Kernels       NaN
49                                      few more       NaN
50                       8.Unsupervised Learning  180 mins
51                             K-Means Algorithm       NaN
52                        Optimization Objective       NaN
53                         Random Initialization       NaN
54               Choosing the Number of Clusters       NaN
55                9.Large Scale Machine Learning  120 mins
56                  Learning with large datasets       NaN
57                   Stochastic Gradient Descent       NaN
58                   Mini-Batch Gradient Descent       NaN
59       Stochastic Gradient Descent Convergence       NaN
60               Map Reduce and Data Parallelism       NaN
61                                   10.Practise  180 mins
62                               11.Tools for ML  150 mins
63                                         TOTAL  30 hours

[64 rows x 2 columns]

In [143]:
df = {"states":["Tamil Nadu","Andhra Pradesh","Kerala"],
     "language":["Tamil","Telugu","Malayalam"]}

In [144]:
df

{'states': ['Tamil Nadu', 'Andhra Pradesh', 'Kerala'],
 'language': ['Tamil', 'Telugu', 'Malayalam']}

In [146]:
DF = pd.DataFrame(df,index=["TN","AP","KL"])

In [147]:
DF

            states   language
TN      Tamil Nadu      Tamil
AP  Andhra Pradesh     Telugu
KL          Kerala  Malayalam

In [148]:
DF.to_csv("copper.csv")

In [149]:
DF.to_csv("Copper.tsv",sep="\t")

In [150]:
DF.to_excel("copper.xlsx",sheet_name="copper-AI")