<h1>GitHub :- http://bit.ly/AI_repos</h1>

https://dataaspirant.com/five-most-popular-similarity-measures-implementation-in-python/

In [3]:
# loading dataset
import pandas as pd
dataset = pd.read_csv("./Advertising.csv", index_col=0)

In [4]:
dataset.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [6]:
#splitting dataset
from sklearn.model_selection import train_test_split
train,test = train_test_split(dataset, test_size=0.15)

In [7]:
train.shape, test.shape, dataset.shape

((170, 4), (30, 4), (200, 4))

In [8]:
# separating input and output
xtrain = train.loc[:,"TV":"newspaper"]
xtest = test.loc[:,"TV":"newspaper"]
ytrain = train['sales']
ytest = test['sales']

In [9]:
xtrain.head()

        TV  radio  newspaper
31   292.9   28.3       43.2
106  137.9   46.4       59.0
174  168.4    7.1       12.8
65   131.1   42.8       28.9
170  284.3   10.6        6.4

In [10]:
# defining a model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [11]:
# training
model.fit(xtrain, ytrain)

LinearRegression()

In [12]:
# prediction
ypred = model.predict(xtest)

In [14]:
ypred

array([15.3294986 , 11.37327214, 20.54988489, 23.81586588,  5.78374856,
        9.66982815,  9.996223  ,  7.19277441,  8.42909084, 16.7786126 ,
       12.0307578 , 11.51839291, 19.76819814,  8.39631558, 10.08995257,
        6.58266303, 11.68645185, 15.82679636, 16.24859219, 11.68165877,
       12.17993508, 10.7096007 , 14.06812287, 21.71115609, 16.30758567,
        9.46252492, 12.71784277, 13.9227536 , 19.59393354, 19.27651179])

In [13]:
ytest

200    13.4
81     11.8
1      22.1
199    25.5
61      8.1
139     9.6
74     11.0
108     8.7
192     9.9
90     16.7
117    12.2
87     12.0
110    19.8
57      5.5
91     11.2
183     8.7
135    10.8
26     12.0
179    11.8
89     12.9
2      10.4
181    10.5
101    11.7
48     23.2
96     16.9
141    10.9
10     10.6
175    11.5
140    20.7
143    20.1
Name: sales, dtype: float64

In [15]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [16]:
sqrt(mean_squared_error(ytest, ypred))

1.7957709140071056

In [19]:
model.coef_

array([ 0.04664488,  0.18307009, -0.00052844])

In [20]:
model.intercept_

2.933415752626617

In [23]:
model.predict([[40,60,50]])

array([15.75699471])

In [27]:
model.predict([[0,150,0]])

array([30.39392999])

In [ ]:
!pip install mlxtend

In [28]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [29]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [30]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [31]:
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [32]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

In [33]:
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Onion, Eggs)

In [34]:
import cv2

In [35]:
img = cv2.imread("./Capture.JPG")

In [40]:
cv2.imshow("loaded image", img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [39]:
img.shape

(827, 912, 3)

In [ ]:
912 × 827

In [38]:
print(img)

[[[255 255 255]
  [255 255 255]
  [255 255 255]
  ...
  [255 255 255]
  [255 255 255]
  [255 255 255]]

 [[249 249 249]
  [249 249 249]
  [253 253 253]
  ...
  [255 255 255]
  [249 249 249]
  [242 242 242]]

 [[255 255 255]
  [255 255 255]
  [255 255 255]
  ...
  [255 255 255]
  [247 247 247]
  [255 255 255]]

 ...

 [[249 249 249]
  [  5   5   5]
  [  0   0   0]
  ...
  [ 71  75 110]
  [ 73  74 112]
  [241 243 255]]

 [[255 255 255]
  [  0   0   0]
  [  6   6   6]
  ...
  [ 81  82 110]
  [ 93  92 124]
  [236 235 255]]

 [[243 243 243]
  [255 255 255]
  [255 255 255]
  ...
  [251 249 255]
  [233 229 254]
  [251 247 255]]]

In [ ]:
import cv2
import sys
import matplotlib.pyplot as plt
import imutils

# Get user supplied values
imagePath = 'girls.jpg'

# Read the image
image = cv2.imread(imagePath)
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
edge = cv2.Canny(image,200,300)

img_copy = image.copy()
cv2.rectangle(img_copy, pt1 = (140, 92), pt2 = (620, 240), color = (255, 0, 0), thickness = 5)
cv2.putText(img_copy, "this is sample text", (250, 120), cv2.FONT_HERSHEY_SIMPLEX, 0.7, color=(0, 0, 255), thickness = 2)

croped_image =  image[140:600,100:235]
resized_image =  cv2.resize(image,(100,100))

blurred = cv2.blur(image,(1,20))

cv2.imshow("original image", image)
cv2.imshow("gray image", gray)
cv2.imshow("edge image", edge)
cv2.imshow("rectangle", img_copy)
cv2.imshow("Cropped image",croped_image)
cv2.imshow("resized image",resized_image)
cv2.imshow("blurred image",blurred)

cv2.waitKey(0)

In [1]:
import pandas as pd
dataset = pd.read_csv("./train.csv")

In [2]:
dataset.head()

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4
3  Iris-virginica           4.8          1.8           6.0          3.0
4  Iris-virginica           5.1          2.3           6.9          3.1

In [ ]:
from math import*

def euclidean_distance(x,y):
    return sqrt(sum(pow(a-b,2) for a, b in zip(x, y)))