In [1]:
print("hello world")

hello world

In [26]:
a=10
b=10
print(a+b)

20

In [2]:
a=10#int
pi=3.1475#float
name="apple"#string
p=True#bool

In [6]:
print(a)

10

In [10]:
print(type(p))

<class 'bool'>

In [11]:
A=20

In [12]:
a

10

In [13]:
A

20

In [17]:
print(pi)

3.14

In [20]:
print("HI hello...")

HI hello...

In [28]:
#hi hello apple 
print("Hi hello "+name)
#hi hello 10
print("hi hello",a)
print("hi hello "+str(a))

Hi hello apple
hi hello 10
hi hello 10

In [29]:
type(str(a))

str

In [31]:
'10'

'10'

In [32]:
n=5

In [37]:
int(str(n)+str(n)+str(n))+int(str(n)*2)+n

615

In [43]:
n=int(input("Enter the value for n :"))

Enter the value for n :hi

ValueError: invalid literal for int() with base 10: 'hi'

In [42]:
type(n)

int

In [3]:
print("The integer value is %d,the float value is %0.2f and the string is %s"%(a,pi,name))

The integer value is 10,the float value is 3.15 and the string is apple

In [ ]:
+ - / % *
and or not 
> < >= <= ==  !=

In [5]:
n=int(input("Enter the numerical value: "))
if n%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter the numerical value: 5
The number is odd

In [8]:
n=int(input("Enter the numerical value: "))
if n%4==0:
    print("The number is divisible by 4 and also even")
elif n%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter the numerical value: 5
The number is odd

In [15]:
cnt=0
#i=1
while 1:
    n=input("Enter the numerical value: ")
    #print(i,"-time")
    if n=="q" or n=="quit":
        break
    n=int(n)
    if n==15:
        print(cnt)
        print("Good bye...")
        break
    elif n==25:
        print("Skipping..")
        continue
    elif n==20:
        cnt+=1
        pass
    if n%4==0:
        print("The number is divisible by 4 and also even")
    elif n%2==0:
        print("The number is even")
    else:
        print("The number is odd")
    #i+=1

Enter the numerical value: 78
1 -time
The number is even
Enter the numerical value: 25
2 -time
Skipping..
Enter the numerical value: 88
2 -time
The number is divisible by 4 and also even
Enter the numerical value: 66
3 -time
The number is even

In [17]:
cnt=0
opt="y"
while opt=='y':
    n=int(input("Enter the numerical value: "))
    if n==15:
        print(cnt)
        print("Good bye...")
        break
    elif n==25:
        print("Skipping..")
        continue
    elif n==20:
        cnt+=1
        pass
    if n%4==0:
        print("The number is divisible by 4 and also even")
    elif n%2==0:
        print("The number is even")
    else:
        print("The number is odd")
    opt=input("Do you want to continue? y/n :")

Enter the numerical value: 95
The number is odd
Do you want to continue? y/n :y
Enter the numerical value: 63
The number is odd
Do you want to continue? y/n :n

In [19]:
#https://github.com/sharmasaravanan/Machine_learning

## Rock paper scissor

rock beats scissor

scissor beats paper

paper beats rock

In [26]:
#string
name="elephant"

In [22]:
name[2:]

'ple'

In [24]:
name[2:4]

'pl'

In [25]:
name[:4]

'Appl'

In [27]:
name[1:6:2]

'lpa'

In [28]:
name[1:6]

'lepha'

In [29]:
name[::-1]

'tnahpele'

In [30]:
name

'elephant'

In [35]:
name.count('e')

2

In [32]:
name.capitalize()

'Elephant'

In [33]:
name.upper()

'ELEPHANT'

In [34]:
name.lower()

'elephant'

In [37]:
"Hi".lower()

'hi'

In [40]:
name[-5:-1]

'phan'

In [43]:
name.endswith("nt")

True

In [44]:
name.startswith("El")

False

In [45]:
name.replace('e','x')

'xlxphant'

In [46]:
name.index('e')

0

In [47]:
name.isalnum()

True

In [48]:
name.isdecimal()

False

In [50]:
n='7'

In [51]:
n.isdigit()

True

In [52]:
n=" "

In [53]:
n.isspace()

True

In [55]:
name.islower()

True

In [56]:
name.isupper()

False

In [57]:
name=" apple "

In [58]:
name

' apple '

In [59]:
name.lstrip()

'apple '

In [60]:
name.rstrip()

' apple'

In [61]:
name.strip()

'apple'

In [62]:
n=123454

In [63]:
type(n)

int

In [64]:
str(n).isdigit()

True

In [65]:
name="apple is a fruit"

In [66]:
len(name)

16

In [72]:
d=name.split()

In [73]:
d

['apple', 'is', 'a', 'fruit']

In [75]:
"".join(d)

'appleisafruit'

In [ ]:
ROCK or rock or Rock or RoCk

Elephant is an animal . -> . animal an is Elephant

In [5]:
s="ROCK"

In [6]:
s.lower()

'rock'

In [7]:
#list
L=[]
l=[1,2,4,5,'a','b','c','apple','ball','cat','dog']

In [10]:
len(l)

11

In [11]:
l[2:]

[4, 5, 'a', 'b', 'c', 'apple', 'ball', 'cat', 'dog']

In [12]:
l[2:9]

[4, 5, 'a', 'b', 'c', 'apple', 'ball']

In [13]:
l[2:9:3]

[4, 'b', 'ball']

In [16]:
ll=l[::-1]

In [15]:
l

[1, 2, 4, 5, 'a', 'b', 'c', 'apple', 'ball', 'cat', 'dog']

In [17]:
ll

['dog', 'cat', 'ball', 'apple', 'c', 'b', 'a', 5, 4, 2, 1]

In [21]:
l.index(5)

3

In [19]:
l[5]="bat"

In [20]:
l

[1, 2, 4, 5, 'a', 'bat', 'c', 'apple', 'ball', 'cat', 'dog']

In [22]:
l.index('c')

6

In [23]:
del l[6]

In [24]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'ball', 'cat', 'dog']

In [25]:
len(l)

10

In [26]:
l.append("bat")

In [27]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'ball', 'cat', 'dog', 'bat']

In [29]:
L.append("mango")

In [30]:
L

['mango']

In [31]:
l.insert(7,'mango')

In [32]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'bat']

In [33]:
l.pop()

'bat'

In [34]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog']

In [35]:
l.remove(5)

In [39]:
l.append('a')

In [40]:
l.count('a')

2

In [41]:
l

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [42]:
f=l.copy()

In [43]:
f

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [44]:
g=l

In [45]:
g

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [46]:
l

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [48]:
L.clear()

In [49]:
L

[]

In [50]:
l.reverse()

In [52]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [53]:
l.extend(['papaya','pine apple'])

In [55]:
l.extend("elephant")

In [56]:
l

['a',
 'a',
 'apple',
 'ball',
 'bat',
 'cat',
 'dog',
 'mango',
 4,
 2,
 1,
 'papaya',
 'pine apple',
 'e',
 'l',
 'e',
 'p',
 'h',
 'a',
 'n',
 't']

In [57]:
#tuple
t=(1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a')

In [58]:
t

(1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a')

In [60]:
t[5:]

('apple', 'mango', 'ball', 'cat', 'dog', 'a')

In [61]:
t[5]="a"

TypeError: 'tuple' object does not support item assignment

In [62]:
del t[5]

TypeError: 'tuple' object doesn't support item deletion

In [66]:
#for loop
for i in range(21,30,2):
    print(i)

21
23
25
27
29

In [67]:
L=[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [73]:
for j in L[::-1]:
    print(j)

a
dog
cat
ball
mango
apple
bat
a
4
2
1

In [72]:
for j in L[9::2]:
    print(j)

dog

In [74]:
a=[1,2,5,6,8,7,5,7,3,2,1,2,6]
b=[1,1,2,3,4,9,11,2]

In [80]:
c

[1, 2, 3]

In [84]:
d

[1, 2, 3]

In [85]:
set(a)

{1, 2, 3, 5, 6, 7, 8}

In [86]:
a

[1, 2, 5, 6, 8, 7, 5, 7, 3, 2, 1, 2, 6]

In [87]:
set(b)

{1, 2, 3, 4, 9, 11}

In [88]:
b

[1, 1, 2, 3, 4, 9, 11, 2]

In [90]:
list(set(a)&set(b))

[1, 2, 3]

In [91]:
d=[]
for i in a:
    if i in b and i not in d:
            d.append(i)
#logic-2
c=[]
for i in a:
    for j in b:
        if i==j and i not in c:
                c.append(i)
#logic-3
list(set(a)&set(b))

[1, 2, 3]

In [92]:
c

[1, 2, 3]

In [93]:
d

[1, 2, 3]

In [95]:
L=['a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog']

In [96]:
e=[]
for i in L:
    if len(i)>3:
        e.append(i)

In [97]:
e

['apple', 'mango', 'ball']

In [98]:
e1=[i for i in L if len(i)>3]

In [99]:
e1

['apple', 'mango', 'ball']

In [102]:
#dictionary
#dic={}
dic=dict()

In [103]:
type(dic)

dict

In [29]:
dic={'a':'apple','b':'ball',2:'cat','d':4,'a':"mango"}

In [105]:
dic.keys()

dict_keys(['a', 'b', 2, 'd'])

In [106]:
dic.values()

dict_values(['apple', 'ball', 'cat', 4])

In [110]:
dic['a']

'mango'

In [111]:
dic.items()

dict_items([('a', 'mango'), ('b', 'ball'), (2, 'cat'), ('d', 4)])

In [112]:
dic['e']="elephant"

In [113]:
dic

{'a': 'mango', 'b': 'ball', 2: 'cat', 'd': 4, 'e': 'elephant'}

In [118]:
for i,j in dic.items():
    print(i,j)
    #print(j)
    print("--------")

a mango
--------
b ball
--------
2 cat
--------
d 4
--------
e elephant
--------

In [122]:
for i,j in enumerate(L[4:]):
    print(i,j)

0 ball
1 cat
2 dog

In [119]:
L

['a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog']

In [124]:
del dic['e']

In [125]:
dic

{'a': 'mango', 'b': 'ball', 2: 'cat', 'd': 4}

In [1]:
d={"john":"01/01/2001","tom":"02/02/2002"}

In [7]:
user= input("enter your option: \nAdd \nDisplay \n")
if user.lower()=='add':
    name=input("Enter the name :")
    dob=input("Enter the date of birth :")
    d[name]=dob
    print("%s has been added successfully to the dictionary"%name)
elif user.lower()=="display":
    name=input("Enter the name :")
    print("%s's date of birth is %s"%(name,d[name]))
else:
    print("Invalid input")

enter your option:
Add
Display
jkfdj
Invalid input

In [28]:
d

NameError: name 'd' is not defined

In [9]:
print('"hello world"')

"hello world"

In [10]:
#pip install numpy

In [11]:
import random

In [ ]:
random.randint()

In [12]:
import random as r

In [ ]:
r.randint()

In [ ]:
sin,cos,sqrt,fact

In [13]:
from math import sin,cos,sqrt,factorial

In [14]:
factorial(5)

120

In [15]:
sqrt(16)

4.0

In [16]:
from math import *

In [17]:
log10(2)

0.3010299956639812

In [23]:
r.randint(10,25)

21

In [25]:
j=["rock",'paper','scissor']
r.choice(j)

'paper'

In [28]:
r.choice(j)

'scissor'

In [29]:
name="elephant"

In [32]:
r.sample(name,3)

['h', 'a', 't']

In [33]:
?r.sample()

In [ ]:
A-Za-z0-9 special characters

In [36]:
pas="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789~!@#$%^&*()+_=-?"

In [35]:
pas.lower()

'abcdefghijklmnopqrstuvwxyz'

In [38]:
n=int(input("Enter the length: "))

Enter the length: 5

In [41]:
''.join(r.sample(pas,n))

'FH*8v'

In [42]:
import string

In [44]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
try:
    b=int("hi")
    print(a)
except (NameError,ValueError):
    print("There is an error in the name of the variable!!")

There is an error in the name of the variable!!

In [ ]:
NameError
ValueError
TabError
TimeoutError
TypeError
BlockingIOError
BrokenPipeError
BufferError
ConnectionAbortedError
ConnectionError
ConnectionRefusedError
ConnectionResetError
EnvironmentError
IOError
ImportError
IndentationError
InterruptedError
IndexError
IsADirectoryError
KeyError
LookupError
MemoryError
ModuleNotFoundError
NotImplementedError
OverflowError
PermissionError

In [11]:
try:
    print(a)
except:
    print("there is an error")
finally:
    a=10
    print(a)

10
10

In [12]:
try:
    print(a)
    try:
        print(a+v)
    except:
        print("sorry")
except:
    print("error")

10
sorry

In [13]:
try:
    print(a)
    print(a+v)
except:
    print("Error")

10
Error

In [36]:
#function
def divide(a,b):
    return a/b,a%b

In [32]:
c=int(input("c :"))
d=int(input("d :"))
q,r=divide(c,d)

c :200
d :6

In [33]:
q

33.333333333333336

In [34]:
r

2

In [22]:
def prime(a,b):
    l=[]
    for num in range(a,b):
        for j in range(2,num):
            if num%j==0:
                break
        else:
            l.append(num)
    return set(l)

In [23]:
c=int(input("c :"))
d=int(input("d :"))
result = prime(c,d)

c :10
d :20

In [24]:
result

{11, 13, 17, 19}

In [1]:
m=[' ',2,3,4,5,6,7,8,9]
d={1:(0,0),2:(0,1)........}

In [2]:
#pip install numpy
import numpy as np

In [3]:
M=np.reshape(m,[3,3])

In [4]:
M

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [5]:
M[1] -> row

array([4, 5, 6])

In [6]:
M[:,2] -> column

array([3, 6, 9])

In [7]:
M[0][1]

2

In [16]:
print(' __ __ __')
print('|'+str(M[0][0])+' |'+str(M[0][1])+' |'+str(M[0][2])+' |')

 __ __ __
|1 |2 |3 |

In [21]:
#w,r,a
#w+,r+,a+
fout=open("./MSME_Python.txt","a")
fout.write("testing append mode\n")
fout.close()

In [30]:
fin=open("./MSME_Python.txt","r")

In [31]:
fin.readlines()

['File handling in python\n',
 'writing something in the text file\n',
 'testing something\n',
 'testing append mode\n']

In [ ]:
#file handling
txt
csv
tsv
json
excel
image

In [7]:
import pandas as pd

In [ ]:
#pip install pandas

In [21]:
df = pd.read_csv("./Advertising.csv",index_col=0,header=0)

In [22]:
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [27]:
df.loc[3,"TV":"newspaper"]

TV           17.2
radio        45.9
newspaper    69.3
Name: 3, dtype: float64

In [38]:
dic={'a': ['mango','apple','pineapple'], 'b': ['ball','bat','dog'], 2: ['cat','dog','elephant'], 'd': [4,6,8]}

In [41]:
data=pd.DataFrame(dic,index=['e','f','g'])

In [42]:
data

           a     b         2  d
e      mango  ball       cat  4
f      apple   bat       dog  6
g  pineapple   dog  elephant  8

In [43]:
data.to_csv("MSME.csv")

In [46]:
df1=pd.read_csv("./MSME.csv",index_col=0)

In [48]:
df1['a']

e        mango
f        apple
g    pineapple
Name: a, dtype: object

In [50]:
df2 = pd.read_csv("./labeledTrainData.tsv",delimiter='\t')

In [51]:
df2.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [52]:
?data.to_csv

In [53]:
exc=pd.read_excel("./Course Syllabus.xlsx")

In [54]:
ex

                     Syllabus    Duration
0     Introduction to Python      40 mins
1        Environment creation     20 mins
2    variables and expression     45 mins
3            conditional code     90 mins
4                   fucntions    120 mins
5         loops and iteration     90 mins
6                        List     45 mins
7                      Tuples     45 mins
8             Data Dictionary     45 mins
9               File handling    150 mins
10          importing library     40 mins
11           random libraries     90 mins
12        Sorting, Formatting     45 mins
13                 Statistics     45 mins
14   basics of flask & django     90 mins
15  arrays and graph plotting     90 mins
16            Sample Projects  120 mins\n
17                Total Hours    20 hours

In [55]:
ex = pd.ExcelFile("./Course Syllabus.xlsx")

In [56]:
ex.sheet_names

['Basic Python',
 'Advanced Python',
 'Datascience with Python',
 'Machine Learning',
 'Deep Learning']

In [57]:
pd.read_excel(ex,sheet_name= 'Advanced Python')

                                             Syllabus   Duration
0         1 : I n t r o d u c t i o n T o P y t h o n  1.5 hours
1                Installation and Working with Python        NaN
2                                Understanding Python        NaN
3                                           variables        NaN
4                              Python basic Operators        NaN
5                         Understanding python blocks        NaN
6                   2 : P y t h o n D a t a T y p e s    2 hours
7        Declaring and using Numeric data types: int,        NaN
8                                      float, complex        NaN
9        Using string data type and string operations        NaN
10                                  Defining list and        NaN
11                                       list slicing        NaN
12                             Use of Tuple data type        NaN
13  3 : P y t h o n P r o g r a m F l o w C o n t ...    2 hours
14         Conditional blocks using if, else and elif        NaN
15                         Simple for loops in python        NaN
16  For loop using ranges, string, list and dictio...        NaN
17                                             Use of        NaN
18                              while loops in python        NaN
19  Loop manipulation using pass, continue, break ...        NaN
20  Programming using Python conditional and loops...        NaN
21  4: P y t h o n F u n c t i o n s , M o d u l e...    4 hours
22            Organizing python codes using functions        NaN
23            Organizing python projects into modules        NaN
24   Importing own module as well as external modules        NaN
25                             Understanding Packages        NaN
26                  Powerful Lamda function in python        NaN
27  Programming using functions, modules and exter...        NaN
28  5:S t r i n g , L i s t A n d D i c t i o n a ...  2.5 hours
29                 Building blocks of python programs        NaN
..                                                ...        ...
56      Password, email, url validation using regular        NaN
57                                         expression        NaN
58  Pattern finding programs using regular expression        NaN
59   9: P y t h o n E x c e p t i o n H a n d l i n g  2.5 hours
60       Avoiding code break using exception handling        NaN
61  Safe guarding file operation using exception h...        NaN
62                               Handling and helping        NaN
63                          developer with error code        NaN
64               Programming using Exception handling        NaN
65  1 0 : P y t h o n D a t a b a s e I n t e r a ...    3 hours
66               SQL Database connection using python        NaN
67                      Creating and searching tables        NaN
68          Reading and storing config information on        NaN
69                                           database        NaN
70             Programming using database connections        NaN
71      1 1 : P y t h o n M u l t i t h r e a d i n g    2 hours
72                              Understanding threads        NaN
73                                    Forking threads        NaN
74                          Synchronizing the threads        NaN
75                   Programming using multithreading        NaN
76  12:T h r o u g h E m a i l s U s i n g P y t h...  2.5 hours
77                      Installing smtp python module        NaN
78                                      Sending email        NaN
79  Reading from file and sending emails to all us...        NaN
80                             directly for marketing        NaN
81                                       13 : project    3 hours
82                          S a m p l e P r o j e c t        NaN
83                                                NaN        NaN
84                                                NaN        NaN
85                                        Total Hours   40 hours

[86 rows x 2 columns]

In [58]:
import cv2

In [59]:
img=cv2.imread("./Deep_Learning/dog.jpeg")

In [61]:
cv2.imshow("Dog",img)
cv2.waitKey(0)
cv2.destroyAllWindows()